[2017-07-25 12:40] alshakero commented on #82
Closing is rendered irrelevant in Palindrom 3.0.0.

[2017-07-25 12:40] #82 closed

[2017-07-25 12:41] alshakero commented on #73
Is this still an issue? I don't think it's implemented. Can I take it?

[2017-07-25 12:43] alshakero commented on #72
Axios has a `timeout` prop that I could set quite easily. Maybe set it when debug == false?

[2017-07-25 13:17] tomalec commented on #73
Please do.

[2017-07-25 13:18] alshakero commented on #73
What if someone has iframe and wants to use it as a target? What does Palindrom actually do currently in this case?

[2017-07-25 13:19] tomalec commented on #91
By symmetry I mean here that `Palindrom.js` should be able to respond to the reconnect/reset request **from the remote** in similar way server does this.

[2017-07-25 14:48] warpech opened #144 "Increase the visibility of the docs link"
Right now the link to the docs is really hard to find:

<img width="294" alt="screen shot 2017-07-25 at 16 47 00" src="https://user-images.githubusercontent.com/566463/28578107-fd808242-7158-11e7-9603-eb6bc6df8da2.png">

I'd like to propose changing it to

[code]

and move it way upper.

[2017-07-25 14:51] warpech commented on #72
It is a good idea to set it when `debug` == `false` (by default it is `true`).

Can this just be a configurable option? `requestTimeoutS`

Will the Axios timeout work both for HTTP and WebSocket?

What happens in case of the timeout? Do we show an error or re-try?

[2017-07-25 14:52] warpech commented on #73
Looking at the code, it hijacks that link anyway, ignoring the `target`.

[2017-07-25 15:00] alshakero commented on #72
Sure, why not, On it.

Not really. And WebSockets don't seem to support configurable timeout.

It's up to us.

[2017-07-25 15:05] alshakero commented on #73
@warpech ah awesome

[2017-07-25 15:10] alshakero commented on #144
Closing as done in https://github.com/Palindrom/Palindrom/commit/7f0d745880cdcdc0bac2f686ba27a93938b719ba.

[2017-07-25 15:10] #144 closed

[2017-07-26 09:49] warpech commented on #72
I think that it should be an error for now. If someone has a good proposal for the re-trying scheme than we could consider that.

[2017-07-26 09:49] alshakero commented on #72
What a relief, much easier.

[2017-07-26 10:02] warpech commented on #115
https://palindrom.github.io/#/
https://palindrom.github.io/lab/polymer/index.html
https://palindrom.github.io/lab/react/index.html
https://palindrom.github.io/lab/vue/index.html

I think this can be closed. Are the other demos used? Perhaps remove them?

[2017-07-26 10:38] alshakero commented on #115
I thought so. But maybe polymer_ot and fancy binding are important? I prefer removing them, but I don't funny understand them.

[2017-07-26 11:28] tomalec commented on #115
https://palindrom.github.io/lab/polymer/index.html does not work in Firefox.

I think it would be nice to show case that we can solve conflicts to get eventual consistency. But it comes with the nice demo of OT itself, which I would really like to have some day.

[2017-07-26 14:07] alshakero commented on #140
Closing as done in #141.

[2017-07-26 14:07] #140 closed

[2017-07-28 15:31] warpech commented on #115
Reality shows that so many demos are unmaintainable. Is eventual consistency covered in tests?

[2017-07-29 08:44] alshakero commented on #115
@warpech not really. I guess we'll need to simulate network by shuffling patches and sending them to Palindrom and expect it to digest it in the original order. I'll look into it.

[2017-07-29 08:45] alshakero opened #147 "Cover eventual consistency in tests"

[2017-08-04 09:01] alshakero commented on #142
Closing as done in #146.

[2017-08-04 09:01] #142 closed

[2017-08-07 08:51] alshakero commented on #35
This feature is removed in favour of `filterLocalChange`, all information [here](https://github.com/Palindrom/Palindrom/blob/master/docs/03-Filtering%20Patches.md).

[2017-08-07 08:51] #35 closed

[2017-08-11 10:50] jwillmer opened #148 "Support of Progressive Web Apps / Offline Sync"
Currently the only possibility to create a PWA with offline sync is using PouchDB together with CouchDB. If I like to integrate this into Starcounter it will be a mess. A better way would be if Palindrom supports PWA based on JSON patch.

[2017-08-14 10:10] alshakero opened #149 "Deleting last object item from a proxified array doesn't work"
Related https://github.com/Palindrom/JSONPatcherProxy/issues/9

[2017-08-16 13:00] alshakero commented on #149
Closing as moved to https://github.com/Palindrom/JSONPatcherProxy/issues/13

[2017-08-16 13:00] #149 closed

[2017-08-28 16:33] alshakero opened #150 "Log onFatalError to console"

[2017-09-05 11:11] Joltrix opened #151 "Rewriting the Proxy"
The latest versions of Palindrom are considered to be too slow, and being unusable due to this.

This can be observed in the Timeline app.  (I will write step by step instructions to recreate this behavior in the Timeline app below :) )

cc @stefanedqvist @Starcounter-Jack @alshakero

[2017-09-05 11:24] Joltrix commented on #151
To recreate this behavior:

Required Apps:
SignIn - Develop branch
People - Develop branch
Notes - Master branch
Timeline - Master branch

The lag occurs when an event is being created, and the list on the client side is being updated.
Every time a note is created, it creates an entry in the timeline.

To display the timeline, Go to a person (for example admin admin)

To create a note, either clic

[2017-09-07 09:42] alshakero commented on #151
Update:

This will be fixed in https://github.com/Palindrom/JSONPatcherProxy/pull/18

Down from 858ms to 32ms (31 FPS).

Before:
![befroe](https://user-images.githubusercontent.com/17054134/30156964-5793d07e-93c1-11e7-8b26-739651c01dfc.jpg)

After
![after](https://user-images.githubusercontent.com/17054134/30156963-577b5814-93c1-11e7-905f-a817cb8fca2c.jpg)

[2017-09-08 14:27] Joltrix commented on #151
Update:
After running the same test, but this time with @alshakero's latest version of Palindrom:

(this time with 160 events rendered)
![image](https://user-images.githubusercontent.com/10708580/30216162-5c65027a-94b2-11e7-8f18-e4b27fdc9fad.png)

from 2080ms to 28!!

[2017-09-09 14:38] tomalec commented on #151
@Joltrix  does it mean we can close this issue?

[2017-09-10 17:30] stefanedqvist commented on #151
@tomalec  We should verify it works for Heads too. However might be that they have downgraded to a lower version. I´ll check with Henrik.

[2017-09-11 09:07] alshakero opened #152 "Create benchmarks"
The current model I have in mind is to create then in palindrom.github.io, this uniquely gives me the ability to measure every version of Palindrom since 2.0.0.

[2017-09-11 09:21] #150 closed

[2017-09-11 19:56] miyconst opened #153 "Palindrom does not seem to ignore enumerable: false properties"
I am adding a property to an observed object by Palindrom like this:

[code]

Since the property is marked as `enumerable: false`, I would expect it be ignored by Palindrom, but it still generates `add` patch.

cc @alshakero, @tomalec

[2017-09-11 20:08] alshakero commented on #153
Your issue is legit. But I strongly advise you to use [this](https://palindrom.github.io/#/docs/v3.0.5/03-Filtering%20Patches).

[2017-09-11 20:24] miyconst opened #154 "Palindrom.filterLocalChange is not safe to use"
This issue is coming from - [Palindrom does not seem to ignore enumerable: false properties](https://github.com/Palindrom/Palindrom/issues/153#issuecomment-328643806) and addressing this documentation page - [Filtering Patches](https://palindrom.github.io/#/docs/v3.0.5/03-Filtering%20Patches).

- The JS code in the code snipped is not formatted, which brings impression of half-done product.
- The

[2017-09-11 20:25] alshakero commented on #154
Could you show me a shot?

[2017-09-11 20:31] miyconst commented on #154
Original:

[code]

How it should be:

[code]

[2017-09-11 20:35] alshakero commented on #154
Good point, but Palindrom is a pure Javascript class, doesn't have DOM events. And `ignoreAdd`, which this function evolved from, could have been also abused in the same manner. Though two wrongs don't make a right.

I'd say `addFilter()` API would be do. Like:

[code]

[2017-09-11 20:52] alshakero commented on #153
Could you tell me which version of Palindrom are you using?

[2017-09-11 20:54] miyconst commented on #153
[code]

[2017-09-11 22:07] miyconst commented on #153
Okay. I will try to make a small application with reproduction.

[2017-09-12 12:35] tomalec commented on #151
I have checked manually in their app the case they shown me and got ~35% performance improvement compared to the old fast version. I've also sent an info to Peter, Fredrik and Henrik with fixed version (2.3.1.7166).

But please double check if they are satisfied with the results.

[2017-09-12 12:36] alshakero commented on #151
Such a relief <3

[2017-09-13 10:57] alshakero opened #155 "Implement onSocketOpened event"
- There are many use cases for it.
- There is a TODO comment for it.
- It's essential for benchmarking.

[2017-09-13 11:23] alshakero commented on #155
Closing as implemented in https://github.com/Palindrom/Palindrom/commit/1a2242d93dad0811a258037a4ffbc25adbc5f2f5

[2017-09-13 11:23] #155 closed

[2017-09-23 19:59] warpech opened #156 "Debug mode should be on by default for incoming patches and work correctly for XHR responses"
# Steps to reproduce

1. Get Starcounter 2.3.1.7252
2. Clone the following repos:
   - [People](https://github.com/StarcounterApps/People) version `c92e8ebb7bcc7849276f70e01eef9e61ee2b6476`
   - [SignIn](https://github.com/StarcounterApps/SignIn) `f4e3236811665c0cf0a1a38bb18f3bb97c983dfc`
   - [Website](https://github.com/StarcounterApps/Website)  `5bb50999736a34819f43ed4be971d1ab31749de1`
   - [C

[2017-09-24 21:03] warpech opened #157 "⏰ Palindrom does not apply OT correctly"
# Steps to reproduce

The same as in #156

To make it easier, I have created a test suite with real data: https://github.com/Palindrom/Palindrom/commit/9bc324d0497029fc71b7a03667b1d4377d29cb99. The one failing test is the one that shows the problem.

# Expected

Palindrom should correctly apply patches that come out of order.

# Actual

In this particular case, the XHR handler on the server trigge

[2017-09-25 07:28] alshakero commented on #157
This is beyond considerate. Thank you so much.

I fixed this in Palindrom `master` before I left but it was a small issue to release. Next release will log the errors.

[2017-09-25 10:18] alshakero commented on #157
So after some investigation on this, I can say it is not _cleanly_ possible without server modifications. Because current server scenario is:

1- Send a **full** object via XHR (eg: `{name: 'George'}`).
2- Send **patches** to that object via WS or HTTP PATCH (eg: `[{op: "replace", path: "/path", value: "new Value"}]`).

Understandably enough, these are not interchangeable.

We can cache 2 and wait

[2017-09-26 21:47] warpech commented on #154
It is a bad practice to overwrite a method instead of calling `super`. You can do:

[code]

[2017-09-26 21:51] warpech commented on #153
This looks like a serious issue because we want to rely on ignoring non-enumerable properties as the alternative to `ignoreAdd`. @miyconst were you able to reproduce it?

Really? I thought we have agreed that non-enumerable properties are the preferred way for Starcounter apps. In the view of a Starcounter app you are not in control of Palindrom configuration options, because these are provided in

[2017-09-26 21:53] warpech commented on #153
I think that the unnumerable property example from https://starcounter.io/dealing-puppets-ignoreadd-removal/should be added to the page https://palindrom.github.io/#/docs/v3.0.5/03-Filtering%20Patches as the alternative to `filterLocalChanges`.

[2017-09-27 10:34] alshakero commented on #153
You're right, my bad. Here I see for myself that `defineProperty` is indeed superior https://github.com/Palindrom/Palindrom/issues/154#issuecomment-328650740.

We have a test for `filterLocalChanges`  (https://github.com/Palindrom/Palindrom/blob/master/test/specs/palindrom.filter.test.js), but we don't for `defineProperty`. I'll create an issue.

[2017-09-27 10:37] alshakero opened #158 "Add a test for non-enumerable properties"
Make sure they're ignored by Palindrom

[2017-09-28 10:56] alshakero commented on #151
Closing as done.

[2017-09-28 10:56] #151 closed

[2017-09-30 13:00] tomalec commented on #154
We removed events from Palindrom in purpose, to make it more lightweight. So `filterLocalChange` is not a way to subscribe, it's just a filter method. Alos, I'd say overwriting things is a pretty natural thing in JS world. You can overwrite `Array.prototype.sort` if you want. Setting/overwriting `XMLHttpRequest.onready` is also basic standard way to inject some action in the lifecycle of a thing.

[2017-10-02 20:54] warpech opened #160 "Firefox: Redirecting to external URL or closing a tab displays disconnection warning"
## Steps to reproduce

In Firefox, use an external link in a Palindrom app, e.g.

[code]

or just close a tab that is running a Palindrom app in Firefox.

## Expected

No error should be shown

## Actual

For a second, you see a red "Connection error" at the top ot the screen.

[2017-10-02 20:57] warpech commented on #73
Reopening this issue for explaining the `target` behavior in the Docs.

[2017-10-02 21:41] warpech opened #161 ""Dependancies" typo in docs"
The page https://palindrom.github.io/#/docs/v3.0.5/05-Dependancies should be called "Dependencies".

[2017-10-02 21:50] warpech commented on #128
All the above points are now in release notes of https://github.com/Palindrom/Palindrom/releases/tag/v3.0.0

Archiving

[2017-10-02 21:50] #128 closed

[2017-10-02 22:09] warpech commented on #29
Putting this to freezer because as of Palindrom 3.0.0, patches are generated as real time, not with dirty checking. Patch grouping should be less needed now.

[2017-10-02 22:11] warpech commented on #36
I assume this is not a problem anymore or it would surface again. Archiving.

[2017-10-02 22:11] #36 closed

[2017-10-02 22:20] warpech commented on #70
Solution for this is to use `target="_top"` with Palindrom 3.0.2 or newer (added in https://github.com/Palindrom/Palindrom/pull/145).

@alshakero please document this solution.

[2017-10-02 22:23] warpech opened #162 "Update release notes"
Some releases are lacking release notes:

- 3.0.5
- 2.5.2
- 2.5.1

@alshakero can you pls update?

[2017-10-02 22:27] warpech commented on #104
Not really, WCT uses Selenium.

I thought that only PalindromDOM really needs WCT and Selenium. Palindrom itself should be testable in Node without a browser and Selenium.

[2017-10-02 22:29] warpech commented on #147
First test that tests this was added in https://github.com/Palindrom/Palindrom/pull/159/commits/9bc324d0497029fc71b7a03667b1d4377d29cb99

[2017-10-02 22:30] warpech commented on #152
This is in progress AFAIK?

[2017-10-02 22:34] warpech commented on #154
@miyconst thanks for reporting, but as you can see we are categorizing it as "Won't fix". Is there some actual need to re-consider it or can this request be archived?

[2017-10-02 22:46] alshakero commented on #152
Yes it is.

[2017-10-03 07:47] alshakero commented on #152
Sorry, I misunderstood the question, I was hesitating to comment because it was night and I make many mistakes at night. I thought about it for a second before this "yes it is", because I had the same question.

The full stack app you've seen covers Palindrom to a good extent. It benchmarks several ops from arrival to applying, which is a pure Palindrom thing. And we can add more. I think this way

[2017-10-03 07:52] alshakero commented on #104
It is 100% testable
[code]
runs perfectly.

If you want to test the whole thing you can use:

[code]

[2017-10-03 08:16] alshakero commented on #162
Closing as done.

[2017-10-03 08:16] #162 closed

[2017-10-03 09:18] warpech commented on #162
Perfect, thank you!

[2017-10-03 09:28] warpech commented on #104
Can you pls add the above to https://github.com/Palindrom/Palindrom/blob/master/docs/06-Development.md?

[2017-10-03 10:40] alshakero commented on #104
Done: https://github.com/Palindrom/Palindrom/blob/master/docs/06-Development.md

[2017-10-03 10:48] alshakero commented on #162
More than welcome.

[2017-10-03 11:38] warpech commented on #104
Great, thanks! Closing.

[2017-10-03 11:38] #104 closed

[2017-10-04 16:22] alshakero commented on #153
[This PR](https://github.com/Starcounter/level1/pull/4280) shows that this actually works. I'll close until an example is provided. The issue of creating tests for it remains, so don't worry.

[2017-10-04 16:22] #153 closed

[2017-10-04 16:27] #157 closed

[2017-10-04 16:45] #161 closed

[2017-10-05 10:13] alshakero commented on #158
Done in https://github.com/Palindrom/Palindrom/pull/163

[2017-10-05 10:13] #158 closed

[2017-10-05 10:14] alshakero commented on #153
Tests added in #163 and are passing.

[2017-10-05 11:18] miyconst opened #164 "Polymer.set is incompatible with enumerable: false properties"
Coming after investigation of - [Palindrom does not seem to ignore enumerable: false properties](https://github.com/Palindrom/Palindrom/issues/153).

I have nailed down the issue. It seems like `Polymer.set` API breaks the things app.

### This example works fine

[code]

### But this one sends an `add` patch to the server

[code]

@alshakero is there anything we can do about it?

[2017-10-05 11:19] miyconst commented on #153
@alshakero thank you for investigation and tests development, I have nailed down the issue - see the issue linked above.

[2017-10-05 11:24] alshakero commented on #164
Of course. `template.set("model.ClientSideValue", "value");` overrides the first part.

The good practise that works with every side is to create a non-enumerable sub-**object** and dumb whatever you want inside it.
[code]

[2017-10-05 11:25] alshakero commented on #164
And thank you for assigning me, it makes my life much easier.

[2017-10-05 11:26] warpech commented on #164
It is good it this also is mentioned on our Docs page about ignoring changes.

[2017-10-05 11:27] alshakero opened #165 "Document ignoring non-enumerable props"

[2017-10-05 11:27] alshakero commented on #164
Created https://github.com/Palindrom/Palindrom/issues/165

[2017-10-05 12:00] miyconst commented on #164
Yeah.. the situation I had was an array of items, where each item has to save it's own client side value. So, adding a sub-object would be even more complicated than using `notifyPath` instead of `set`.

[2017-10-05 12:01] miyconst commented on #164
Anyway, thank you for the answer, I close the issue as answered question. We should not fight with Polymer trying to fix/remake it's `set` function behavior.

[2017-10-05 12:01] #164 closed

[2017-10-05 12:02] warpech commented on #29
Related: https://github.com/Palindrom/JSONPatcherProxy/issues/7#issuecomment-334085871

[2017-10-05 12:02] alshakero commented on #164
I guess in such case `filterLocalChange` is your friend.

[2017-10-05 12:04] mtornwall commented on #29
Patch grouping maybe, but there's presumably still the problem of ordering within a patch? For example if I write properties `a`, `b`, `c`, in that order, am I guaranteed that the order of operations within the patch will match the program order of the writes? If not, the "fence" solution I suggested above is still both relevant and required.

[2017-10-05 12:08] miyconst commented on #164
Is my biggest enemy. If I use it, what prevents other app developers from using it? Means, I can't guarantee my partial will work when there are partials from other pages.

[2017-10-05 12:10] alshakero commented on #164
Didn't @warpech[ show a way](https://github.com/Palindrom/Palindrom/issues/154#issuecomment-332346119) that overcomes this issue?

[2017-10-05 12:22] miyconst commented on #164
Well.. yes and no.

- There is no guarantee that someone else will follow this principle.
- It is also required to track whether required function already applied to Palindrom (same partial may be loaded multiple times). Means some kind of a global state has to be used.

I prefer to keep a partial view-model as a self sufficient black box. When it's detached, nothing left after it.

[2017-10-05 12:23] alshakero commented on #164
Solid point

[2017-10-05 12:23] miyconst commented on #154
Since Palindrom is a standalone product, we can fix the issue as won't fix.

[2017-10-05 12:23] #154 closed

[2017-10-06 09:55] warpech commented on #164
I agree with @miyconst, that's why I think non-enumerable properties are a superior solution in case of Starcounter views.

[2017-10-10 11:09] alshakero commented on #165
Closing as done in #166

[2017-10-10 11:09] #165 closed

[2017-10-16 10:42] alshakero commented on #70
PRed here https://github.com/Palindrom/Palindrom/pull/167

[2017-10-17 09:39] alshakero commented on #70
Closing as done and documented [here](https://palindrom.github.io/#/docs/master/05-_Navigation_Interception).

[2017-10-17 09:39] #70 closed

[2017-10-17 09:39] alshakero commented on #73
Closing as done and documented [here](https://palindrom.github.io/#/docs/master/05-_Navigation_Interception).

[2017-10-17 09:39] #73 closed

[2017-10-19 14:14] alshakero commented on #160
Should be fixed in https://github.com/Palindrom/Palindrom/pull/168.

[2017-10-19 15:55] #160 closed

[2017-10-26 11:52] alshakero opened #169 "Use CDN alternative instead of GitHub API for docs"

[2017-10-27 12:41] alshakero opened #170 "⏰ Validate numerics range in incoming and outgoing data"
Some out-of-range (`n > Number.MAX_SAFE_INTEGER`, `n < Number.MIN_SAFE_INTEGER`) numbers that come from non-JS endpoints could break Javascript's side (Palindrom). We need to check incoming data for those.

[2017-11-03 14:56] alshakero commented on #170
Done in https://github.com/Palindrom/Palindrom/pull/171

[2017-11-07 12:22] alshakero opened #173 "Create a proper session ending mechanism"
This is needed to be able to re-connect on demand without refreshing the page. And it's neccessary in non-web environments like Node and React Native.

[2017-11-08 13:20] Mihaiii opened #174 "[Palindrom 3.0.7] Uncaught (in promise) Error"
Steps to reproduce:
1. Use SC 2.3.1.7717 (current latest RC)
2. Run `staradmin start db`
3. Navigate to `http://localhost:8181/#/databases`
4. Run `staradmin kill all`

In console you'll see `Uncaught (in promise) Error: Network Error`.
If you replace in "C:\Program Files\Starcounter\ClientFiles\StaticFiles\sys\Palindrom\dist\palindrom.js" Palindrom 3.0.7 with Palindrom 3.0.6, then everything is o

[2017-11-09 12:59] warpech commented on #170
Before we can move it from "Announce and release" to "Done", please add an info about it to the Docs.

[2017-11-09 13:01] alshakero commented on #170
Ah, good point! I guess I shouldn't have moved it to announce and released in the first place. I moved it back. Please do whatever you think is right if you don't agree.

[2017-11-10 12:21] alshakero commented on #174
Thank you so much! This should be fixed in https://github.com/Palindrom/Palindrom/commit/a490ff4be371e31e882129abfc1d8c01558ff9b2

[2017-11-10 12:56] Mihaiii commented on #174
Tested on local after taking that version!
Closed as fixed.

[2017-11-10 12:56] #174 closed

[2017-11-10 13:16] alshakero commented on #170
This is now documented. I didn't PR because I'm releasing a new version that fixes a bug https://github.com/Palindrom/Palindrom/issues/174. Since docs are non-code stuff, they can be reviewed later.

[Here are the docs](https://github.com/Palindrom/Palindrom/blob/master/docs/07-_Numbers.md), please close the issue if you think they're alright.

[2017-11-10 15:09] alshakero opened #175 "Ditch Axios for pure fetch api since ES6 is assumed"
This saves us a couple kilobytes and uses native API.

[2017-11-13 08:20] warpech commented on #170
Maybe a more technical explanation could be used? Like:

[2017-11-13 09:21] alshakero commented on #170
I created a quick PR https://github.com/Palindrom/Palindrom/pull/176

[2017-11-15 12:40] alshakero commented on #175
Before going for this, I did some research to avoid jumping any guns. And for the meantime Axios remains superior over fetch. Here is the article that changed my mind.

https://medium.com/@shahata/why-i-wont-be-using-fetch-api-in-my-apps-6900e6c6fe78

It's worth mentioning that I did it already and it's working and the bundle went from **45K to 36K**, but tests will take at least two days to migra

[2017-11-15 12:58] alshakero commented on #170
Closing as done!

[2017-11-15 12:58] #170 closed

[2017-11-15 16:47] alshakero commented on #169
Palindrom docs are a static site now 🎉 https://palindrom.github.io/docs/

[2017-11-15 16:47] #169 closed

[2017-11-23 11:32] alshakero opened #177 "Expose current version"

[2017-11-23 11:43] alshakero opened #178 "Listen to a new event: `palindrom-morph-url`"
This event should be a substitue to calling `palindrom.morphUrl`.

[2017-11-23 11:53] alshakero opened #179 "Take proper action after a session is dead"

[2017-11-27 08:10] warpech opened #180 "Handling the lack of ES6 Proxy (especially in React Native)"
Palindrom 3.0.0+ uses [JSONPatcherProxy](https://github.com/Palindrom/JSONPatcherProxy), which requires the JavaScript engine to implement ES6 Proxy.

Some environments, especially React Native on Android, don't support ES6 Proxy. The workaround is to use Palindrom 2.5.2 (aka PuppetJS 2.5.2), which is available on the [Releases](https://github.com/Palindrom/Palindrom/releases) page.

This issue ex

[2017-11-27 08:16] warpech commented on #179
@Razkan reports that his React Native for Android app fails to reconnect to the server after the Android phone was put to sleep for 20 minutes.

[2017-12-01 12:00] tomalec commented on #148
Thanks for reporting that need. We were already considering writing Palindrom PWAs. Theoretically, JSON Patch (Versioned Queue & OT) should play well with offline behavior. We just didn't' start it before as we were focused more on already expressed customer needs, rather on our ideas of improvement and potentially useful new features.

Now, having your voice here, we have a reason to start it soo

[2017-12-04 13:35] #177 closed

[2017-12-05 15:20] warpech opened #182 "Protect from common security threats"
@alshakero informed that React issues a warning when developer writes insecure code, for example `<a target="_blank">` without `rel="noopener noreferrer"` (see: [Target="_blank" - the most underestimated vulnerability ever](https://www.jitbit.com/alexblog/256-targetblank---the-most-underestimated-vulnerability-ever/))

Should PalindromDOM do the same and have a warning/error when the developer doe

[2017-12-05 15:49] alshakero commented on #182
I think this particular case should definitely be done. It's high risk and easy + efficient to detect.

[code]

[2017-12-05 19:16] tomalec commented on #182
The question is when :) especially given in Starcounter apps we are building document pretty dynamically at runtime.

[2017-12-06 10:35] mmnosek commented on #148
Just quick note - together with @alshakero we talked with @jwillmer outside of this thread. Next step is to prepare some PoC by @alshakero so we can move forward.

[2017-12-06 10:36] alshakero commented on #148
@mmnosek Could you post your email to Jens here please? It has some ideas.

[2017-12-06 11:04] alshakero commented on #148
**In the meeting we agreed to the following:**

1. It’s not necessary to provide full functionality of the app in “offline mode”. However, some features (e.g. time tracking, filling up checklist forms) should work smoothly. The goal is to create rather simple applications than super complex offline systems. Starcounter is expected to support this on a product level.

2. Natural alternative and the

[2017-12-06 11:27] warpech commented on #182
I believe it should be:

[code]

and placed somewhere here: https://github.com/Palindrom/Palindrom/blob/f98707b728cd8d4b3a37cef4885848fef8562561/src/palindrom-dom.js#L163

[2017-12-06 11:42] alshakero commented on #182
Then the warning would only show upon user's click. Is this sufficient?

[2017-12-06 12:55] warpech commented on #182
You saw it first in React. How is it done there?

I think it is sufficient to show a [`confirm`](https://developer.mozilla.org/en-US/docs/Web/API/Window/confirm) upon user's click.

[2017-12-06 12:58] alshakero commented on #182
@warpech yes, but in React you have a `DEV` flag that allows you to do all kinds of inefficient verifications in the app before you release with `PROD`. They don't have the efficiency question to have the answer to it.

I agree with the `confirm` thing, but what if the dev was interested in `opener` in their target URL? I think we should offer an opt-out.

[2017-12-06 13:09] alshakero commented on #178
Done in https://github.com/Palindrom/Palindrom/pull/183

[2017-12-06 16:24] alshakero commented on #182
Wow 😮 I didn't close this!

[2017-12-06 16:43] mmnosek opened #184 "Error is visible when WebSocket is unavailable"
I'm at the airport trying to use Starcounter apps:
* http://warehouse.starcounter.com
* http://inside.starcounter.com

Both seems to work, but I see the error in the browser:

<img width="1424" alt="launchpad" src="https://user-images.githubusercontent.com/4943949/33673166-581bfeae-daac-11e7-866a-76b069468a6c.png">
<img width="1432" alt="warehouse" src="https://user-images.githubusercontent.com/49

[2017-12-06 16:50] alshakero commented on #184
It's exactly this issue https://github.com/Starcounter/Home/issues/318

[2017-12-06 16:52] warpech commented on #182
Perhaps we should use a more explicit attriubute name like `data-palindrom-allow-insecure`.

I think that the message in the `confirm` should be targeted at the developer, so it can simply be:

if `data-palindrom-allow-insecure` is set, we just redirect,
if `data-palindrom-allow-insecure` isn't set, we confirm with the message `Warning! This link opens a window in an insecure way, allowing the scr

[2017-12-07 19:23] tomalec commented on #182
I'm just afraid that dev will not click on all click they create or their app create with `target="_blank"`, so they will totally miss the warning and we will end up showing that message to the end users., who will only get scared by the message.

[2017-12-07 19:23] tomalec commented on #182
I'm just afraid that dev will not click on all click they create or their app create with `target="_blank"`, so they will totally miss the warning and we will end up showing that message to the end users., who will only get scared by the message.

[2017-12-07 19:24] alshakero commented on #182
Day by day the need for some DEBUG flag is increasing.

[2017-12-07 19:30] tomalec commented on #182
What about adding it to `starcounter-debug-aid`? There we could do even do `MutationObserver` on everything 😈

[2017-12-07 19:31] alshakero commented on #182
I think this is a great idea.

[2017-12-07 23:10] warpech commented on #182
I agree with adding it to health checks in `starcounter-debug-aid`, that's a great idea.

I dislike the idea for any more DEBUG flags, because (1) it leads to spaghetti code with too many side effects of a single value, (2) developers are too lazy or uninformed to turn this flag on or off.

[2017-12-11 13:56] warpech opened #185 "PWA: Support network independence by caching view-model snapshot for URLs"
It should be relatively easy to support PWA connectivity independence for read-only data by having a cache.

Create a Service Worker for Palindrom that:
    - Creates snapshots of view-models based on URL,
    - When offline, respond with a patch that morphs the view-model to the snapshot based on current URL, so it covers URL-based navigation, not granular data changes,
    - Maybe make the view-

[2017-12-11 14:08] warpech commented on #148
The goal for us is to make all apps PWA-enabled. Network independence is one of [10 aspects of PWAs](https://developers.google.com/web/fundamentals/codelabs/your-first-pwapp/), and probably the hardest to implement.

It is up to the developer to decide whether he/she wants to build a thin view or a fat view. It should be possible to blend thin and fat views. The difference between the thin and fat

[2017-12-11 14:32] mmnosek commented on #184
I disagree. This issue is related, but it's about losing connection after some time of inactivity.

In my case, `WebSockets` are unavailable, but an application works - if works, a user shouldn't be aware of any problem. `WebSocket` is only a transportation layer. If not available, then we use `HTTP` - why then we tell the user about any error? The error should be displayed when a server is unavai

[2017-12-11 15:07] mmnosek commented on #148
Idea: Currently, by default all applications use `PartialToStandaloneHtmlProvider.cs`. To achieve some of the PWA capabilities (like making it available on home screen), more specific `html` is needed (different for iOS and Android). Shouldn't it be a separate middleware?

[2017-12-11 15:18] warpech commented on #184
I agree with @mmnosek here. Disconnection of WebSocket should not be a fatal error for a Palindrom session.

If WebSocket is disconnected without an error in the closing message it simply means that the sync with the server is off. But the session might be completely valid.

We must display a "You are offline" warning and make sure we attempt to reconnect before the the session times out on server

[2017-12-11 15:21] alshakero commented on #184
Sure, I'll think about it, design it tomorrow and share here.

[2017-12-11 15:24] alshakero commented on #148
We're working on that https://github.com/Starcounter/Home/issues/334.

[2017-12-11 15:33] mmnosek commented on #184
So, do I understand correctly, that as a result application will work on the airport (where `WebSocket` is unavailable) over `HTTP` and I will not see any kind of warning?

[2017-12-11 15:34] alshakero commented on #184
Exactly, this is also necessary for ServiceWorkers to make any sense.

[2017-12-11 16:10] warpech opened #186 "Apply @tomalec's review of PR #172"
@alshakero, @tomalec has left few interesting notes in https://github.com/Palindrom/Palindrom/pull/172#pullrequestreview-80680495. Please make sure to not miss it - implement it or just respond to it.

[2017-12-11 16:26] alshakero commented on #186
@warpech I didn't forget about it all. But I'm really busy with many higher priority things. I'll end today with it.

[2017-12-11 16:56] warpech commented on #148
Not really, since Starcounter/Home#334 is about overwriting the bootstrapping HTML by a system app. It should not be advised to an app developer to overwrite this file.

See the following line in another issue, https://github.com/Starcounter/Home/issues/333:

It is a very good observation, @mmnosek, that there are many needs for custom content in the `<head>`. But currently there is no other solut

[2017-12-11 17:12] warpech opened #187 "Handling redirections"
@Mihaiii created an issue in https://github.com/Starcounter/Home/issues/272 that shows how developers can be confused by Palindrom's handling of the response header for the patch request.

1. When Palindrom receives `Location` header in the response to the `application/json-patch+json` request, should it change the URL in the address bar to the value of that header?
2. If the answer to the above q

[2017-12-11 17:15] miyconst commented on #187
Investigating the original issue I found that browser automatically sends request to the new location, not sure how Palindrom can intercept this.

[2017-12-11 17:16] miyconst commented on #187
I think, the decisive factor here is the response status code, not the header. It should be `301` or `302` which means that resource has been moved.

Anyway, I am not sure what should be the correct behavior.

[2017-12-11 17:18] alshakero commented on #186
Done in https://github.com/Palindrom/Palindrom/commit/9d1e0e1a42db315ed7af86c294ae9a7f52237303

Address and responded.

[2017-12-11 17:48] alshakero opened #188 "Handle non-JSON WebSocket messages as reasons for errors"
And take proper actions with them (log or failover to HTTP etc..). I'll comment here what once I formulate how to handle them. Please comment if you have any ideas.

Related: https://github.com/Starcounter/Home/issues/174#issuecomment-342473427

Comment on https://github.com/Starcounter/Home/issues/174, https://github.com/Starcounter/Home/issues/340 when done.

[2017-12-11 18:35] alshakero commented on #187
Apparently, Palindrom will never receive this header. The browser redirects when it sees it on a lower level. **even when status is 200**. I tested this:

Paste this:
[code]
here: http://phpfiddle.org/# (doesn't support permalinks).

---

I don't think Palindrom in relevant here. When you access `http://someStarCounterApp.com` and you see `Location` header you'd redirect before any JS is executed.

[2017-12-12 13:18] #186 closed

[2017-12-12 13:19] alshakero commented on #186
Feel free to reopen if you have any concerns.

[2017-12-12 16:39] warpech commented on #187
I am not giving up on it that easily :) Can Palindrom obtain the URL from [`xhr.responseURL`](https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/responseURL) then?

[2017-12-13 10:24] warpech commented on #188
As explained in Starcounter/Home#174 (comment), Palindrom will try to parse any WebSocket message as JSON. If the message does not parse as JSON (for example because it is a stack trace text), this is considered a fatal error end the text that did not parse will be logged as error in the browser console.

[2017-12-13 10:25] warpech commented on #188
As explained in https://github.com/Starcounter/Home/issues/174#issuecomment-342473427:

Palindrom will try to parse any WebSocket message as JSON. If the message does not parse as JSON (for example because it is a stack trace text), this is considered a fatal error end the text that did not parse will be logged as error in the browser console.

[2017-12-13 14:08] alshakero commented on #178
Done in https://github.com/Palindrom/Palindrom/pull/183

[2017-12-13 14:08] #178 closed

[2017-12-14 15:10] warpech commented on #188
Level1 part is done: https://github.com/Starcounter/Home/issues/340

[2017-12-14 16:12] warpech opened #189 "PalindromDOM should ignore `download` attribute"
PalindromDOM should not intercept links to downloadable resources that are marked with `download` attribute.

This was a problem reported in https://github.com/Starcounter/level1/issues/3364

Current workaround: use `target="_blank"` on such link.

[2017-12-14 16:46] alshakero commented on #189
PR in https://github.com/Palindrom/Palindrom/issues/189

[2017-12-14 18:36] alshakero commented on #188
PR in https://github.com/Palindrom/Palindrom/pull/191

[2017-12-19 10:59] warpech opened #192 "Rename the docs page "Filtering Patches""
The page ["Filtering Patches"](https://palindrom.github.io/docs/03-_Filtering%20Patches/) is mostly about ignoring patches, not filtering.

I suggest it is renamed to "Filtering and ignoring changes".

[2017-12-26 13:51] alshakero opened #193 "Call onPatchReceived callback before validation"
Since there is a ~~`onPatchApplied`~~ `onRemoteChange`  that signifies a patch arrival + validation pass + applying, it makes sense to make `onPatchRecieved` a kind of a network signal rather than a Palindorm signal. This will also allow subscribers to see patches that are received but failed validation.

Fixes: https://github.com/Starcounter/DevTools/issues/64

[2017-12-27 11:28] #189 closed

[2017-12-27 11:38] alshakero commented on #189
Closing as done in https://github.com/Palindrom/Palindrom/pull/190

[2017-12-29 21:26] warpech commented on #193
I cannot find `onPatchApplied`. Where is that?

In Palindrom I can see the following relevant callbacks:

- `onRemoteChange` - Helper callback triggered each time a change is received from the server and applied.
- `onPatchReceived` - Helper callback triggered each time a JSON-patch is received

At what point does the current `onPatchReceived` abandon the execution resulting in the failing patch n

[2017-12-29 21:28] alshakero commented on #193
My bad. I meant onRemoteChange, that’s because palindrom-client calls it so.

Yes. I think so.

[2018-01-04 09:15] mmnosek commented on #184
@alshakero any progress with this?

[2018-01-04 09:16] alshakero commented on #184
@warpech how do you think we should prioritize this?

[2018-01-04 10:30] warpech commented on #184
I believe it should be prioritized as in the "To do" column in https://github.com/orgs/Palindrom/projects/1 (top to bottom).

CSS framework has higher priority than this: https://github.com/Starcounter/RebelsLounge/issues/75

[2018-01-04 10:51] mmnosek commented on #184
Great! Just don't want this issue to die. If it's in todo - great! I don't think the highest priority is needed. Thanks!

[2018-01-05 16:24] alshakero opened #194 "Use standardized Event.composedPath() instead of Event.path"
https://github.com/Palindrom/Palindrom/blob/17aeb43c0cf57c31cca1d9e2c3591e4c0b1b8ab3/src/palindrom-dom.js#L177-L183

[2018-01-05 17:13] alshakero commented on #194
Done in #195

[2018-01-05 17:13] #194 closed

[2018-01-08 12:51] alshakero opened #196 "Change library definition"
I don't really like the current definition, here is my proposal:

Change it form

to

WDYT @warpech @tomalec @Mackiovello

[2018-01-08 21:37] warpech commented on #196
Looks very good!

[2018-01-08 21:39] alshakero commented on #196
Here is your answer @Mackiovello 😃

[2018-01-08 21:42] alshakero commented on #196
Done in https://github.com/Palindrom/Palindrom/commit/6fffa6753c812a98d575bc24919a85ba5108089c

[2018-01-08 21:42] #196 closed

[2018-01-08 23:05] tomalec commented on #196
I've updated the repo description (https://github.com/Palindrom/Palindrom) as well

[2018-01-08 23:05] alshakero commented on #196
Forgot about that. Thanks a lot.

[2018-01-09 16:49] warpech commented on #189
Setting as “Finished” because it is:
- released (with release notes) https://github.com/Palindrom/Palindrom/releases/tag/v3.1.0
- published on npm https://www.npmjs.com/package/palindrom
- included in a Finished release of SCF https://github.com/Starcounter/StarcounterClientFiles/releases/tag/2.1.1

[2018-01-09 16:55] warpech commented on #177
Setting as “Finished” because it is:
- released (with release notes) https://github.com/Palindrom/Palindrom/releases/tag/v3.1.0
- published on npm https://www.npmjs.com/package/palindrom
- included in a Finished release of SCF https://github.com/Starcounter/StarcounterClientFiles/releases/tag/2.1.1

[2018-01-09 16:56] warpech commented on #178
Setting as “Finished” because it is:
- released (with release notes) https://github.com/Palindrom/Palindrom/releases/tag/v3.1.0
- published on npm https://www.npmjs.com/package/palindrom
- included in a Finished release of SCF https://github.com/Starcounter/StarcounterClientFiles/releases/tag/2.1.1

[2018-01-15 15:12] #188 closed

[2018-01-18 12:15] warpech commented on #148
According to our updated roadmap, we will the first half of March on improving Palindrom reconnection once and for all.

After that, we will attempt to do an MVP of PWA, which can be summarised as:

- support for maintaining `manifest.json` in BlendingEditor
- primitive aggressive caching so that, when you're offline, you can still access what you have already seen (https://github.com/Palindrom/Pa

[2018-01-22 18:41] warpech opened #197 "Remove PuppetJs compatibility"
Remove all the traces of aliasing to Puppet and PuppetJs.

[2018-01-23 13:20] alshakero commented on #193
PR in https://github.com/Palindrom/Palindrom/pull/198

[2018-01-23 16:37] #193 closed

[2018-01-25 12:23] alshakero commented on #182
So I'll close this in favour of this https://github.com/Starcounter/DevTools/issues/73

[2018-01-25 12:23] #182 closed

[2018-02-03 12:53] alshakero opened #201 "Consider dropping all reconnection logic in favour of Sockette"
From a car in Istanbul 😁 found this on Twitter and thought must write it down.

https://github.com/lukeed/sockette

Might make PWA process easier

[2018-02-07 09:33] warpech commented on #197
Closing as done in https://github.com/Palindrom/Palindrom/pull/199

[2018-02-07 09:33] #197 closed

[2018-02-28 14:14] alshakero opened #204 "Docs document the function `morph`, it should be `morphUrl`"
https://palindrom.github.io/docs/04-_PalindromDOM/#browser-history

And the bullet points seem messed up. I'll look into it.

[2018-03-05 10:17] warpech commented on #147
@alshakero reports that this can be closed because it was fixed with other fixes. We have about 2 tests that check for eventual consistency and it is hard to define what else should be done now. Closing as done.

If possible, @alshakero please add more details about how it is solved.

In future, we will most probably add new tests as we work on reconnection.

[2018-03-05 10:17] #147 closed

[2018-03-05 10:17] warpech opened #205 "Remove the demo pages (labs)"
Today it was proposed by @alshakero and me to remove demos of Palindrom and `palindrom-client` because they are hard to maintain.

This would obsolete the following issues:

- https://github.com/Palindrom/Palindrom/issues/115
- https://github.com/Palindrom/palindrom-client/issues/65
- https://github.com/Palindrom/palindrom-client/issues/21

@tomalec WDYT?

[2018-03-05 10:17] warpech commented on #115
Frozen until we decide about https://github.com/Palindrom/Palindrom/issues/205

[2018-03-05 12:51] alshakero commented on #147
Well we never had any issues with OT until https://github.com/Palindrom/Palindrom/issues/157, which we had added tests for. Other than that we'll have to create the need for the tests then add them for that need created from thin air. Especially these the OT stack is rarely maintained to need tests to cover it during maintenance.

[2018-03-06 10:36] habib535 opened #206 "Connection error - clicking on Do not reload doesn't work"
My developer tools is not opened but when an error appears I want to see it in the console but Palindrom reload the page despite clicking on don't reload button.

![reloadclick](https://user-images.githubusercontent.com/2991381/37027749-8102ca6a-2132-11e8-9d17-7001f74e5d0c.gif)

[2018-03-06 10:50] warpech commented on #206
Related (but not the same?): https://github.com/Palindrom/palindrom-client/issues/62

cc @alshakero

[2018-03-06 10:52] alshakero commented on #206
True. Related, these issues both are fixed already and will be released in the next release of `palindrom-client`.

[2018-03-06 11:02] warpech commented on #205
When I recall from memory, I've spent more time fixing the demo mock server than actually using the demo to ease the development. For me, the idea of a client-side demo page that uses a mock server is not sustainable.

I checked with our "competition":

- https://github.com/derbyjs/racer - doesn't have a demo page, has example files that you need to run on your server
- https://socket.io/ - has a

[2018-03-06 13:46] alshakero commented on #206
Released 6.0.0 and it fixes this. It will be in StarcounterClientFiles soon (2-3) days.

[2018-03-06 13:46] #206 closed

[2018-03-06 17:38] alshakero opened #207 "Changing server side Palindrom design towards a faster first meaningful paint"
### Intro

First, if you're not fimiliar with the term "first meaningful paint", please check this [link](https://developers.google.com/web/tools/lighthouse/audits/first-meaningful-paint). In short, the link says:

In other words, how long it takes after navigation for the app to paint something meaningful.

Second, I'd like to note that all the time measurements mentioned here are under "Slow 3G"

[2018-03-06 20:16] tomalec commented on #205
Ok, I feel conviced now. Thanks.

However, i get an idea to connect to inside.starcounrer.com or smth. But maybe it's not worth it. It's also a pitty we have no sample code to be used on ther server.

[2018-03-06 20:51] Mihaiii commented on #207
Hi!

I have a question which might be a little bit offtopic, but I don't know where is the official issue for server side Palindrom.

So right now when we send a patch, the whole view-model get reevaluated (someone please correct me if this is inaccurate). Would a server side Palindrom fix this "problem", meaning that a patch with only what is changed will be sent back without reevaluating everyth

[2018-03-06 21:31] Mihaiii commented on #207
Nevermind, it would have to be a complicated selective reevaluation because of computed properties.

[2018-03-07 13:18] warpech commented on #207
@Mihaiii, yes, the whole session can update in real-time and some of the properties come from getters so obviously then need to be reevaluated on the server. But let's not discuss it here because that's entirely off-topic.

----

@alshakero is working on an updated version of the above draft. It will be published here as a link to Google Docs.

[2018-03-21 11:03] alshakero commented on #207
@warpech here is the draft https://docs.google.com/document/d/1wvVWdantUsaPJOx_SgXdMxsqfmp5OUwqjsyVQuoupeo/edit?usp=sharing

[2018-03-23 09:45] warpech commented on #61
We have a working draft here: https://docs.google.com/document/d/1wvVWdantUsaPJOx_SgXdMxsqfmp5OUwqjsyVQuoupeo/edit#

But for me, it is very far from the expectation. I am imagining a four-layered document in which the layers explain, consecutively:

1. a model of communication between two parties that uses a data structure with patches and operational transformation. Should be less like [this](htt

[2018-03-23 12:10] tomalec commented on #61
I think to explain OT we would need more elaborate docs as stated here https://github.com/Starcounter/TechComm/issues/360 Also, as @alshakero mentioned in the document:

So at this point

Seems a good solution, not to blur the picture at the beginning.

------

What do you see as Starcounter specific details (4.) in the current doc?

[2018-03-23 22:21] warpech commented on #61
We don't need to explain OT, but we need to mention that this algorithm is implemented and what are the basic mechanics of the versioning system. We will need this to design the reconnection.

The inclusion of the terms "view", "partial", "page". It should not be a responsibility of Palindrom to know that there is a "view", "partial", "page".

Also, mixing of the terms "view-model", "JSON document

[2018-04-03 17:05] warpech commented on #207
@alshakero is this issue obsoleted by https://github.com/Palindrom/Palindrom/issues/61? If yes, feel free to close.

[2018-04-04 07:44] alshakero commented on #207
Yes it is. Thanks.

[2018-04-04 07:44] #207 closed

[2018-04-04 23:06] warpech commented on #179
This is to implement a solution for https://github.com/Starcounter/Home/issues/318

[2018-04-13 07:32] alshakero commented on #61
Current version: https://docs.google.com/document/u/1/d/1vsal7VKunc9t6MKMSicfmSOmtNi7yR1kMpM2oy44hEo/edit

[2018-04-16 07:40] warpech commented on #115
Closing as it was decided in https://github.com/Palindrom/Palindrom/issues/205 that the demos should be removed.

Removing of the demos (labs) is tracked in https://github.com/Palindrom/Palindrom/issues/205

[2018-04-16 07:41] #115 closed

[2018-04-16 12:45] warpech commented on #61
As discussed today, @alshakero will generate the outline for the doc, which @tomalec and me will review. Then writing the remainer of the doc should be easier.

[2018-04-16 13:42] warpech opened #208 "Do not use a separate URI for reconnection"
Right now, Palindrom uses a separate URI for reconnection: https://github.com/Palindrom/Palindrom/blob/d1fc4d358d6295baa73963a9bfeb15b70fbf70b1/src/palindrom.js#L291

This is unnecessary as it can be achieved by calling the full transfer URI ("remote URL") with a proper set of headers.

Before implementing, make sure this is addressed in https://github.com/Palindrom/Palindrom/issues/61

[2018-04-16 14:31] alshakero commented on #61
I cleaned up the headers and created an automatic content table. Could you please review https://docs.google.com/document/d/1vsal7VKunc9t6MKMSicfmSOmtNi7yR1kMpM2oy44hEo/edit#

[2018-04-17 07:57] alshakero commented on #205
Regarding Palindrom, I'll just delete `gh-pages` branch. Is this correct?

[2018-04-18 14:49] alshakero commented on #205
Done by deleting `gh-pages` branch.

[2018-04-18 14:49] #205 closed

[2018-05-10 11:49] alshakero commented on #204
Fix https://github.com/Palindrom/Palindrom/pull/209

[2018-05-14 07:59] alshakero commented on #192
Closing as done in https://github.com/Palindrom/Palindrom/commit/c8bbb61cf29abe9880d3032cc86ec68f317c4439

[2018-05-14 07:59] #192 closed

[2018-06-25 14:13] COLABORATI opened #210 "Dead Link in Docs"
http://palindrom.github.io/Palindrom/lab/vue/index.html is a 404.
Found in the docs demo links.

[2018-06-25 14:16] COLABORATI opened #211 "consider http://orbitjs.com/"
please look at http://orbitjs.com/ and consider using that.

[2018-06-25 14:18] COLABORATI opened #212 "Docs: not clear what needs to be implemented server-side"
The docs make it not clear what needs to happen server-side. The link to a rfc is not enough - is this compatible with jsonapi?

[2018-09-03 17:40] Mihaiii opened #215 "Docs link from readme doesn't work"
Link: https://palindrom.github.io/#/docs

via https://github.com/Palindrom/Palindrom#documentation

The link that works is: https://palindrom.github.io/docs/

[2018-09-03 17:41] alshakero commented on #215
Fixed in https://github.com/Palindrom/Palindrom/commit/7b5484233af212075087d0c5975bec882a8b5611

[2018-09-03 17:41] #215 closed

[2018-11-21 20:48] warpech opened #216 "morphUrl, historyHandler, getPatchUsingHTTP need few improvements"
Omni project showed a few improvements that need to be made in HTTP page morphing mechanism:

1. `morphUrl` currently changes the URL in the History API before actually checking if the page morphing succeeded. It should first call `getPatchUsingHTTP`, then look at the result (promise) and change History API only if the network request resulted in a correctly formed response (patch). This was discu

[2018-12-05 15:08] warpech commented on #148
Since the term "PWA" is quite ambiguous (like "Web 2.0"), this issue will be broken down into actual feature issues.

[2018-12-12 08:10] warpech commented on #216
Related: https://github.com/Starcounter/Blending/issues/394

[2019-01-07 14:13] warpech commented on #216
Rationale for 3. is that we can use it to refresh the content of the composition editor popup window.

[2019-01-25 23:31] miyconst opened #217 "Make it possible to identify when server has successfully navigated to a new URL (`_ver#c$` is not bumped)"
Right now any change in local modal will result in client side version increase. Currently it's stored in the `model["/_ver#c$"]` property.

Palindrom has an event `onRemoteChange`, which can be used to monitor incoming patches, a patch from server with `/_ver#c$` value of `N` guarantees, that server has applied all patches with `/_ver#c$` less or equal to `N`. Every patch from client side has a r

[2019-01-28 09:49] Mihaiii commented on #217
Sorry for the semi-offtopic, but starting with what change/commit server changes are pushed to client without them being triggered by a client to server change (socket update)?

[2019-01-28 10:13] miyconst commented on #217
Since quite some time ago 😃. Read more here - [CalculatePatchAndPushOnWebSocket](https://docs.starcounter.io/topic-guides/blendable-web-apps/sessions#calculatepatchandpushonwebsocket).

[2019-01-28 15:54] tomalec commented on #217
Thanks for bringing this topic!

To be honest I think we didn't consider navigation / URL morphing as a part of OT. [`palindrom-dom`](https://github.com/Palindrom/Palindrom/blob/master/src/palindrom-dom.js) which implements morph methods, does not use JSON Patch `queue` at all. Also, the entire `morphURL` call is completely detached from the Patches flow, which makes me afraid we may loose some pa

[2019-01-28 16:32] miyconst commented on #217
My scenario is the following:

- Initiate a session.
- Establish a Palindrom connection with the session.
- Do some changes via view-model update.
- Wait until server acknowledges the changes by listening to the `onRemoteChange` callback from Palindrom.
- Form a new URL.
- Perform URL morphing by calling the `morphUrl` API from PalindromDom.
- **How??** Waiting until Palindrom applies all necessar

[2019-01-30 00:33] miyconst opened #218 "The obj["_ver#c$"] and obj["_ver#s"] values are not updated with patches"
It turns out that the `obj["_ver#c$"]` and `obj["_ver#s"]` of Palindrom model is not updated when the patches are applied. The values are updated only when a URL morphing happens.

The following video demonstrates the issue:

![palindom-version-bug](https://user-images.githubusercontent.com/6435556/51949776-305ce280-242e-11e9-8362-32e4eedfd624.gif)

The [`miyconst/Playground`](https://github.com/m

[2019-01-31 06:48] miyconst opened #219 "palindrom-errors uses window object which is not available in NodeJs"
[Here](https://github.com/Palindrom/Palindrom/blob/master/src/palindrom-errors.js#L16) `palindrom-errors.js` uses `window.location.href` as a default value for a parameter.

This is not applicable when running inside NodeJs, since the global `window` object is not available.

[code]

[2019-02-14 09:20] warpech opened #220 "Palindrom breaks user session when response status code is 404"
Palindrom breaks user session when the HTTP response status code is 404, because any status beyond the range >= 200, < 300 is considered a promise error.

I think this is wrong, because from the usability perspective, a 404 Not Found or 403 Forbidden page may still be interactive and navigable by a user.

Until we have a better solution, I propose to treat 4xx status codes as non-fatal and 5xx sta

[2019-02-14 13:40] miyconst commented on #220
I agree.

[2019-02-14 15:10] #220 closed

[2019-02-19 09:14] warpech commented on #180
The issue https://github.com/facebook/react-native/issues/19737 in React Native was fixed in January 2019 and is expected to be released in React Native 0.59.

Closing as I think this solves the problem completely.

[2019-02-19 09:14] #180 closed

[2019-02-26 11:04] alshakero opened #224 "Cleanup and house keeping"
This is an umbrella issue for Palindrom cleanup:

The things I propose to do are:

### Step 1:

- Clean up as many callbacks as possible from the codebase in `palindrom.js`, now it's quite convoluted, most of the time needlessly. Like `connectToRemote`, `reconnectionFn`, `bootstrap`. `makeInitialConnection`, `makeReconnection` most of these can be promisified to become cleaner or entirely removed.

[2019-02-27 16:17] alshakero commented on #216
Regarding this. We agreed to keep track of scroll positions upon every history traversal step. And re-scroll back to the recorded position of a given history state. `state` object may be used to store this information.

Also, since the content might not be fully loaded and rendered after navgation, scrolling must be attempted a few times during the first `1s` after navigation. Applying the recorde

[2019-03-04 15:01] alshakero commented on #216
This is finally done in https://github.com/Palindrom/Palindrom/pull/222 https://github.com/Palindrom/Palindrom/pull/223 https://github.com/Palindrom/Palindrom/pull/225 https://github.com/Palindrom/Palindrom/pull/226

[2019-03-05 11:02] alshakero commented on #216
I reponed this issue because this isn't documented yet.

[2019-03-14 13:24] warpech commented on #216
Implementation of point 4 not always works:

### Steps to reproduce

1. Run HeadsOmni (current master) + Palindrom (I used `document-morphing` branch)
2. Go to the Compositions page
3. Scroll to the very bottom
4. Click on "Edit" button at the last composition
5. Press "Back" in your browser (edited)

### Expected

The page should be scrolled to the bottom

### Actual

The page is scrolled to some

[2019-03-14 13:40] warpech commented on #216
Testing point 2, I find it wrong that `morphUrl` calls `getPatchUsingHTTP` without catching the rejection. If I use the event `palindrom-before-redirect`, then an ugly error appears in browser console:

![image](https://user-images.githubusercontent.com/566463/54361300-091d4600-4667-11e9-8395-649891a39fd5.png)

[2019-03-14 15:43] warpech commented on #216
Point 1 was verified OK, I haven't checked 3 yet.

[2019-03-25 11:36] warpech commented on #211
Closing as Palindrom is not really a project that could *use* OrbitJS. OrbitJS seems to be a more heavyweight, though more flexible, project.

Palindrom is opinionated in a way that it uses standards JSON + JSON Patch over HTTP + WebSocket to synchronize a state object between two peers.

Thanks for your contribution anyway. Is there something in particular that you wanted to suggest considering f

[2019-03-25 11:36] #211 closed

[2019-03-25 11:39] warpech commented on #219
I suggest to remove the default value at all from the constructor and pass `window.location.href` from elsewhere.

[2019-03-25 11:43] warpech commented on #224
Please only implement step 1, I think that we will not have time for step 2 now.

[2019-03-25 12:01] alshakero commented on #224
All of the steps are done. Just some final polishing and conflict resolving is needed. All pushed here https://github.com/Palindrom/Palindrom/pull/227

[2019-04-02 12:50] PatrykSzwer commented on #216
Hey, what's the status of this? It's blocking: https://github.com/Starcounter/Blending/issues/394

[2019-04-02 15:35] warpech commented on #216
It was partially implemented in PRs #222, #223, #225, #226 and now the remaining stuff is tracked in the PR 228. See my comment there: https://github.com/Palindrom/Palindrom/pull/228#issuecomment-479053807

[2019-04-03 13:02] warpech commented on #216
Reopen because point 4 was not fixed yet.

Points 1, 2, 3 are released in Palindrom 6.0.0

[2019-04-03 13:29] alshakero opened #229 "The whole Navigation Interception section is outdated in docs"
https://palindrom.github.io/docs/05-_Navigation_Interception/

Given the new development of `palindrom-before-redirect` and `palindrom-after-redirect` events, we need to re-write this page of docs around these events.

[2019-04-18 10:32] tomalec commented on #218
I'm not sure if it's still the case, but at some point JSON Patch Queue, to make OT transparent to the user, was stripping versioned operation object, and bumping its own versions, to expose only version-less object.

[2019-04-18 10:33] alshakero commented on #218
I also don't think @miyconst still needs to use these values anymore. You can use `palindrom-after-redirect` event to detect navigation.

[2019-04-18 10:33] tomalec commented on #218
@miyconst why do you need them exposed in Palindrom object?

[2019-04-18 10:35] tomalec commented on #218
For sure we should make it consistent:
 - not expose it at all - remove exposure on morphing
 - expose it all the time - add exposure for each patch application

[2019-04-18 14:18] miyconst commented on #218
The bug was reported as an inconsistency.

My goal was to determine whether a specific client side view-model version was applied on the server side, when a patch from the server arrives.

This is done using the `queue.localVersion` & `queue.remoteVersion` properties right now, thus, I don't need the `_ver#c$` and `_ver#s` exposed.

[2019-04-19 07:06] warpech commented on #218
WDYM by "add exposure for each patch application"? I just checked and `onPatchReceived` callback contains the test operations.

That means that the version numbers are already not transparent to the "user" - if by the user we mean a client-side web developer. So the only consistent fix that we can do without a breaking change is apply the new version values to `palindrom.obj`.

[2019-04-19 09:53] tomalec commented on #218
"Apply the new version values to `palindrom.obj`"

----

My initial idea was to make Versioned JSON Patch OT flow in such way it is the transparent layer on top of any JSON Patch exchange. Using Web Socket as an analogy, it exposes only the messages to the user, not all data sent actually over the wire.

But I'll not fight for this mathematical purity over any practical need of using `palindrom.ob

[2019-04-19 10:44] warpech commented on #218
I think that it is a good idea in general, but in current practice, the version numbers are contained within the object that is versioned, so I think the sensible solution is:

- in current version of the protocol, keep the version numbers in `palindrom.obj` synced with the actual version numbers
- in next version of the protocol, keep the version numbers on a separate layer, as in the Web Socket

[2019-04-19 11:18] warpech commented on #218
Since it is not urgent anymore, I am removing assignment from @alshakero for now.

[2019-04-22 15:22] alshakero commented on #217
You have two ways to do this. You can subscribe to `palindrom-after-navigation` event that is dispatched on `window`.

Or you can do `await morphUrl(url)` as morphUrl is `async` now!

[2019-04-22 23:05] warpech commented on #217
@alshakero While being correct, the above reply misses the problem reported in the OT. The problem here is that the local version is should be bumped upon a navigation request but it is not.

You can try that by navigating and then examining the contents of `palindrom.queue.localVersion` and `palindrom.queue.remoteVersion`. The first one is not bumped by the client, but the latter is bumped by the

[2019-04-23 10:52] alshakero commented on #217
PR in https://github.com/Palindrom/Palindrom/pull/232

[2019-04-23 13:17] #219 closed

[2019-04-25 14:37] #229 closed

[2019-04-30 15:02] warpech commented on #217
Discussion in #232 tells it is impossible to finish this issue before changes in server-side. Unassigning from @alshakero for the time being.

[2019-04-30 15:05] warpech commented on #216
This issue is on hold until me and @tomalec agree on the solution for https://github.com/Juicy/imported-template/pull/62.

Unassigning @alshakero for the time being.

[2019-05-02 20:00] alshakero opened #233 "Create `closeConnection` API method"
Please remove it and make an issue that requests adding it.

_Originally posted by @warpech in https://github.com/_render_node/MDE3OlB1bGxSZXF1ZXN0UmV2aWV3MjMxNTg4NDA5/pull_request_reviews/more_threads_

[2019-05-06 10:45] warpech commented on #224
@tomalec can you please finish this issue? The PR https://github.com/Palindrom/Palindrom/pull/227 is close to finishing.

[2019-05-15 09:19] warpech opened #234 "Implement bindings for lit-html"
Implement new bindings for Palindrom and `lit-html`.

Probably this can be done using as ES6 Proxy that translates `palindrom.obj` mutations to DOM, and DOM events to mutate `palindrom.obj` back.

[2019-05-15 09:22] warpech opened #235 "Publish as ES6 module"
Publish Palindrom as ES6 module so that it can be loaded into web browser or a Node app using the `import` statement.

[2019-05-15 11:24] warpech opened #236 "Document and test usage of Palindrom as a Node client"
Looking at the source code of the PR https://github.com/Palindrom/Palindrom/pull/227, I assume that it is already possible to use Palindrom.js as a client on Node. However, we need to add tests and docs for such scenario.

[2019-05-15 11:30] warpech opened #237 "Implement bindings for React"
Do a package that implements Palindrom bindings to React. Might be based on https://github.com/Starcounter/HelloWorld-React and https://github.com/Starcounter/HelloWorld-ReactNative.

It might be a ES6 Proxy that uses React hooks or use an intermediate state manager such as Redux or MobX.

[2019-05-15 11:36] warpech opened #238 "Implement bindings for Angular"
Do a package that implements Palindrom bindings to React. Might be based on https://github.com/Starcounter/HelloWorld-React and https://github.com/Starcounter/HelloWorld-ReactNative.

Perhaps it will be an Angular Service that uses an ES6 Proxy.

[2019-05-15 12:10] alshakero commented on #236
The tests do run in Node and test all Palindrom features that are tested in the browser.

[2019-05-15 12:14] alshakero commented on #237
I wouldn't encourage that. The example is super outdated.

Writing a custom React hook around Palindrom called sth like `usePalindromState` should be super easy and clean to do. No MobX or Redux needed at all.

[2019-05-15 12:55] alshakero commented on #237
I don't mind being assigned to this if needed.

[2019-05-22 15:23] tomalec commented on #233
@alshakero your link is broken, I think you meant https://github.com/Palindrom/Palindrom/pull/227#discussion_r279332101

What would be the rationale for adding it? Gentle disconnection once `<palindrom-client>` is disconnected, to avoid hacks like https://github.com/Palindrom/palindrom-client/blob/master/palindrom-client.html#L144

[2019-05-23 10:00] tomalec opened #239 "Add tests for specific types of errors"
As discovered at https://github.com/Palindrom/Palindrom/pull/227/files#r279342502
our tests does not check which type of error occurred. It would be beneficiary to test which case results in Fatal (stopped heartbeat and reconnector) which in regular one.

[2019-05-29 09:43] tomalec opened #240 "Make reconnect request JSON Patch"
Connection drops usually due to poor network coverage, then it makes sense to reduce the friction when reconnecting,rather than demanding flaky network to handle huge JSON object transit.

Even if server really want to respond with whole new object, it could be patch for a `"path":""` (root).

[2019-05-30 15:14] warpech opened #241 "Make OT non-optional"
As discussed here: https://github.com/Palindrom/Palindrom/pull/227#discussion_r286487293

I think we all agree about that.

[2019-05-30 18:47] tomalec opened #242 "Make `handleRemoteChange`"
Private. I see no point in exposing it in API. It limits our freedom in changing internal flow.

Discovered at https://github.com/Palindrom/Palindrom/pull/227#discussion_r286610525

[2019-06-02 19:43] #224 closed

[2019-06-03 16:27] tomalec commented on #236
@warpech What do you consider sufficient check and proof given what stated above?

I was thinking that maybe we should create (and maintain?) sample apps, like command line node app that works with https://github.com/Starcounter/HelloWorld/
But I'm not sure whether it's an overkill.

[2019-06-04 08:48] warpech commented on #236
We agreed with @tomalec that the only thing left is docs. As an example, I will show how to use Palindrom within Node REPL:

<img width="1513" alt="Screenshot 2019-06-04 at 10 46 45" src="https://user-images.githubusercontent.com/566463/58865078-33a2fc00-86b6-11e9-8d0d-259d0456b798.png">

[2019-06-04 18:04] tomalec opened #245 "Node tests should test node bundle, not a separated bundle made just for testing"
as dependencies resolution is handled differently.

[2019-06-19 13:24] warpech opened #247 "2019-06-19 Palindrom Steering Commitee Meeting #1"
## Participants

- @miyconst
- @tomalec
- @warpech

## Agenda

Few issues in Palindrom that would be good to discuss together, not to repeat old bugs, and solve a few with one shot.

1.  (added to agenda by @miyconst) Do not require `remoteURL` "to don't specify connection id in the initial `text/html` response"
   - proposed responsed based on request type:
     - GET `/home/index`, `text/html` -

[2019-06-19 13:24] warpech commented on #247
Regarding point 2, I think we can also do specific constructors (`PalindromClient` and `PalindromServer`) that would validate the options for the given way of usage.

[2019-06-19 13:26] warpech commented on #247
Archiving

[2019-06-19 13:26] #247 closed

[2019-06-26 13:19] warpech commented on #247
Re 1, I made a fix for this, because I needed it for the demo page. @miyconst could you please review https://github.com/Palindrom/palindrom-client/pull/84

[2019-06-27 08:20] tomalec opened #248 "Add a method to stop the heartbeat, reconnector, observers, & co."
Currently, once created with `pingIntervalS` it keeps beating forever. Making it impossible, to kill or GC the instance.

As I noticed in some tests sometimes even after `palindrom.heartbeat.stop()` it keeps ticking.

I suspect the case is when you call `stop` after request was made but before response received, then response re-start's heartbeat

[2019-06-27 14:30] tomalec opened #249 "Reconnect never happens when `pingIntervalS` is <1 or if local sends messages more frequent than 1Hz"
If local Palindrom sends messages (pings or regular ones) in intervals shorter than 1000ms, it will never try to reconnect, even if server is not responding for minutes. As each message sent, not received resets delay.

I haven't experience any real-app problem with that, but this makes automated tests extremely long and hard to manage.

[2019-06-30 22:30] warpech commented on #247
Re 4, I think that subpoint 3 is as simple to implement in proxy as it is in dirty-checking, so it is an orthogonal problem to observation by proxy.

Subpoints 1 and 2, however, seem to be hard to solve in proxy implementation.

[2019-07-01 11:54] warpech opened #251 "2019-07-01 Palindrom Steering Commitee Meeting #2 - immutability, dirty-checking"
## Participants

- @Starcounter-Jack
- @tomalec
- @warpech

## Agenda

### 1. Benchmarks

According to our benchmarks, Proxy is only slightly slower nor faster than dirty-checking. The main differences are in principles, not performance.

As for performance benchmarks, setup of observation in the proxy is 14% slower than in dirty-checker.

Patch generation in the proxy is 40% slower than in dirty-

[2019-07-01 11:54] warpech commented on #251
Archiving

[2019-07-01 11:54] #251 closed

[2019-07-06 18:35] tomalec opened #254 "Reconnect does not happen when there is no response for ping"
Related to
 - https://github.com/Palindrom/Palindrom/issues/249
 - https://github.com/Palindrom/Palindrom/pull/252#discussion_r300729844

I guess it's because timeout start when a ping is send and is reset when the new one is send (not received). Therefore, even if there is no response for a ping within the interval, the new one will reset the timeout preventing the reconnection to happen.

[2019-07-15 21:22] tomalec commented on #248
We also need to unlisten to websocket events

[2019-07-15 22:15] tomalec opened #258 "re-connection (_establish) doesn't notify heartbeat on receive"
From what I can find in the code, and what I suspect I stumbled upon debugging of other issue: currently receiving the response for `HTTP Patch .../reconnect` does not notify the heartbeat. Therefore, it make Palindrom think that response is not coming for a long time and may lead to timeout errors.

The example of scenario, I suspect to be faulty, is:
1. `t0=0`: Palindrom sends a message,
2. `t1:

[2019-07-16 09:25] warpech opened #260 "Flaky test in Firefox"
The link interception tests are still flaky in Firefox. PR https://github.com/Palindrom/Palindrom/pull/253 didn't help.

Error in the build https://travis-ci.org/Palindrom/Palindrom/builds/559346474

[code]

[2019-07-16 09:45] warpech opened #261 "Use `palindrom-dom` as the default entry point in Node, do not use the `browser` field"
Right now, the NPM package uses `src/palindrom` as the `main` entry point and `src/palindrom-dom.js` as the `browser` entry point.

`browser` is considered legacy and problematic. See:
- https://github.com/webpack/webpack/issues/7646 (by @webreflection)
- https://github.com/webpack/webpack/issues/4674
- https://github.com/gatsbyjs/gatsby/issues/3192

One of the problems is that `browser` is incomp

[2019-07-16 10:02] tomalec commented on #261
WDYT about separating PalindromDom to a separate repo/module? It will make such problems not relevant any more.

[2019-07-16 10:11] warpech commented on #261
That would also be a solution but might backfire on us with maintenance hell.

Another solution is to keep `src/palindrom-dom.js` as the entry point, but do not use default exports. Like these guys:

- https://humanwhocodes.com/blog/2019/01/stop-using-default-exports-javascript-module/
- https://palantir.github.io/tslint/rules/no-default-export/
- https://blog.neufund.org/why-we-have-banned-defaul

[2019-07-16 10:20] tomalec commented on #261
I vote for no "defaults".

[2019-07-16 11:21] warpech commented on #260
Just found another flaky test, this time in Chrome:

https://travis-ci.org/Palindrom/Palindrom/builds/559390476

[code]

[2019-07-16 12:44] warpech commented on #260
More flaky tests in Firefox:

https://travis-ci.org/Palindrom/Palindrom/builds/559369523

[code]

[2019-08-15 11:45] warpech opened #266 "Immutability in Palindrom"
As of today, Palindrom docs describe the abstraction given by the library as, roughly speaking:

To many people this sounds confusing. Especially to the proponents of single-directional data flow (React, Lit). They would prefer a different story:

To make Palindrom appealing to React fans, we have two choices:

1. Change our explanation from the first to the second one, but keep the current implem

[2019-08-19 12:03] warpech commented on #266
Todo: escape `/` usage in path segments (https://github.com/Palindrom/Palindrom/commit/cfc6cd6cd5328306e4f33dd2fff460e0dee8abc8#r34703144)

[2019-08-19 12:28] warpech commented on #266
Potential next steps:
- [ ] Whenever `immer` is used, use `import {applyPatches} from "immer"` instead of fast-json-patch
- [ ] Make it possible to use different patch application and generation method per subtree

[2019-08-21 09:04] warpech opened #267 "Independent subtree management"
As discussed in https://github.com/Palindrom/Palindrom/issues/266 and earlier, there are many Palindrom usage scenarios that don't fit with a single patch generation/application strategy. It was discussed that the optimal pattern is to let each user session subtree to decide the method by which the changes are observed and applied.

I have started work on an experimental code in which I implement

[2019-08-21 14:24] warpech commented on #267
I am working on a POC here: https://github.com/Palindrom/subtree-dispatcher

[2019-08-21 15:10] erikvk opened #268 "Regarding setting the X-Location header on application/json-patch+json requests from PalindromClient"
I'm not sure exactly what the problem is here, but if the server-side Palindrom implementation sets the `X-Location` header in a response to a HTTP request for `application/json-patch+json` (which, for example, happens when requesting a new URL through a link), we get the following error in the browser:

[code]

If we do not set the header at all, things work as they're supposed to.

cc. @miyconst

[2019-08-22 11:24] miyconst commented on #268
cc @warpech, @tomalec

[2019-09-02 08:20] warpech commented on #268
Sorry for late response. This is definitely a bug in Palindrom. I will create a fix by combining the new `X-Location` header with the current window location as the base URL.

[2019-09-02 08:55] warpech commented on #268
I just discussed with @tomalec that the correct client-side solution is to completely remove treating a new URL as an error. As far as the client is concerned, any URL that comes from `X-Location` header is valid.

It is up to the server to give an error when the client is trying to patch a wrong session due to some stale reference, session fixation, etc.

[2019-09-05 10:14] tomalec opened #271 "Remove range validation for outgoing patches"
As discussed at https://github.com/Palindrom/JSONPatcherProxy/issues/58 we should remove number range validation for outgoing patches.

@warpech

Related: https://github.com/Palindrom/Palindrom/issues/170

[2019-09-06 11:26] #271 closed

[2019-09-26 08:37] jasoniangreen opened #274 "Consider switching to @threads/json-patch-ot for OT"
I have written a new lib based off your json-patch-ot which has the following advantages.

- Completely backward compatible with your lib
- Fully written and typed in TS
- Covers many more cases than existing lib
- We can combine efforts in improving one code base (there are still some cases which could be improved such as transforming changes against move operations, see issues).
- I am currently

[2019-09-26 09:36] tomalec commented on #274
Hi, thanks for letting us know :)

I'd be more than happy to see our collaboration.

Just to give you a brief background that would help to comment your points:
I implemented JSON-Patch-OT back in 2015, to mitigate obvious limitations of JSON-Patch communication. Since then, I made few talks on it (like https://2015.webcampzg.org/talks/view/real-time-asynchronous-collaboration-on-json/). Also, for

[2019-09-27 21:55] jasoniangreen commented on #274
Yes, I totally understand regarding YAGNI and not needing to make very frequent changes to the code base. I actually only made changes to ours recently when preparing an example for a talk that happened to hit an edge case.

The talk I gave recently should be up here in a few days: https://www.youtube.com/channel/UC-qjgj2TnRoI1ZmFFaN3FeQ

I'll take a look at the `JSON-Patch-OT` repo then.

[2019-10-07 15:33] jasoniangreen commented on #274
By the way @tomalec here is the talk I gave at LNUG not long ago.

https://www.youtube.com/watch?v=sLwjXjjZ9Hs&feature=youtu.be

Most of the content won't be anything new to you of course :) And apologies if I'm wrong about anything I talk about, particularly when it comes to reasons we didn't use any existing technologies/solutions. I am ready to put my hand up and say we didn't do a lot of inves

[2019-11-15 16:41] tomalec opened #280 "Write spec for session handling/management"
Given the ongoing process of writing NodeJS server-side to handle Palindrom communication, it would be beneficiary to have clearly defined behaviour related to connecting, creating the "session"/session resource, re-connecting, closing the connection, killing the "session, keeping it alive/heartbeat, etc.

Something is written at https://palindrom.github.io/docs/02-_Palindrom/
There are also few p

[2019-11-15 18:57] tomalec commented on #274
@jasoniangreen thanks for sharing your video, and sorry once again for the late response.
I had some personal and employment issues to manage.

Getting back to your implementation. Did I get it correctly, that you are using a single version number to resolve conflicts? How come that works? Do you assume, or guarantee otherwise that changes are received in the same order they were sent?

------

Ex

[2019-12-03 13:54] tomalec commented on #248
Implemented in https://github.com/Palindrom/Palindrom/pull/265/
Released in https://github.com/Palindrom/Palindrom/releases/tag/6.3.0

[2019-12-03 13:54] #248 closed

[2019-12-03 13:57] tomalec commented on #245
Implemented in #244
Released in https://github.com/Palindrom/Palindrom/releases/tag/v6.2.0

[2019-12-03 13:57] #245 closed

[2019-12-03 13:59] tomalec commented on #241
Implemented in #227
Released in [Palindrom/Palindrom@6.1.0](https://github.com/Palindrom/Palindrom/releases/tag/6.1.0)

[2019-12-03 14:00] tomalec commented on #235
Implemented in https://github.com/Palindrom/Palindrom/pull/281
Released in [@6.4.0-0](https://github.com/Palindrom/Palindrom/releases/tag/v6.4.0-0)

[2019-12-03 14:00] #235 closed

[2019-12-03 14:01] tomalec commented on #233
Implemented in #227
Released in [@6.1.0](https://github.com/Palindrom/Palindrom/releases/tag/6.1.0)

[2019-12-03 14:01] #233 closed

[2019-12-03 14:07] tomalec commented on #175
Implemented in https://github.com/Palindrom/Palindrom/pull/227
Released in [6.1.0](https://github.com/Palindrom/Palindrom/releases/tag/6.1.0)

[2019-12-03 14:07] #175 closed

[2019-12-03 14:12] tomalec commented on #261
Implemented in #261
Released in [@6.2.0](https://github.com/Palindrom/Palindrom/releases/tag/v6.2.0)

[2019-12-03 14:12] #261 closed

[2019-12-03 18:23] tomalec commented on #241
OT is still optional. Single versioned queue option was removed.
It was a potential solution for scenarios with synchronous local-remote interactions but was removed for <abbr title="You Aren't Gonna Need It">YAGNI</abbr>

[2019-12-10 18:10] tomalec commented on #280
My take on that is uploaded at
https://github.com/Palindrom/Palindrom/blob/c77f57ad7a53150c5f5a9effe0a3d225264cbb0b/docs/05-_Session.md
and
https://raw.githubusercontent.com/Palindrom/Palindrom/c77f57ad7a53150c5f5a9effe0a3d225264cbb0b/docs/img/Palindrom_Session.png

[2019-12-10 18:10] tomalec commented on #268
Related https://github.com/Palindrom/Palindrom/issues/280#issuecomment-564160594

[2019-12-10 18:10] tomalec commented on #240
Related https://github.com/Palindrom/Palindrom/issues/280#issuecomment-564160594

[2019-12-10 18:11] tomalec commented on #173
To be addressed at
https://github.com/Palindrom/Palindrom/issues/280#issuecomment-564160594

[2019-12-10 18:11] tomalec commented on #208
To be addressed at https://github.com/Palindrom/Palindrom/issues/280#issuecomment-564160594