[2013-08-08 10:40] Starcounter-Jack opened #1 "Allow for Javascript event handlers for incoming patches"
If the developer does *not* want to use data binding, he/she should perhaps be able to add event handlers in the browser when the server sends patches. This enables the use of traditional imperative code using legacy stuff, JQuery or other frameworks.

The main parameters are the path to the view-model element/property and the call back function with an event parameter hosting the new data.

Pseud

[2013-08-09 17:44] warpech opened #2 "Refactor code to better organise helpers"
cookie and `null` trigger handling helpers should be separated from main logic

[2013-08-19 11:42] warpech opened #3 "Register document.model property"
To fully implement [Server communication](https://github.com/PuppetJs/PuppetJs/wiki/Server-communication), register `document.model`

Currently document model is available as `puppet.obj` (where `puppet` is the PuppetJs instance)

[2013-08-19 17:14] warpech opened #4 "Patches should be queued until response comes from server"

[2013-08-19 22:27] warpech opened #5 "Add $parent to the templates"
Being in a nested `<template>` scope I should be able to access the parent scope.

Proposed syntax `{{$parent.Options}}` returns Options object from the $parent scope.

Proposed solution - create a non-enumerable getter using defineProperty.

[2013-08-20 10:01] warpech opened #6 "Show 500 Exception response directly in page"
For example such exception:

[code]

should be displayed in page (not only in Chrome Console)

[2013-08-22 16:34] #6 closed, assigned to nobody

[2013-08-22 16:42] #5 closed, assigned to nobody

[2013-11-03 21:43] malx122 opened #7 "GotoUrl function should be implemented"
Right now puppetJS catches all ordinare ahref and using html5 features to not cause reloads.

It's not always just ahref that wants to change url,w eb components might want to do it as well in other ways.

So I suggest a function to make it easier for developers to write the code.

[code]

I leave the name of the function to be decided by someone else :)

[2013-11-04 09:08] warpech opened #8 "Add info about $parent to docs"

[2013-11-04 09:10] warpech opened #9 "Improve `<x-html>`"
`<x-html>` helper should be documented.

Improvements can be made, so that it is possible to load:
- HTML imports
- CSS stylesheets
- scripts

directly from HTML partials.

[2013-11-05 09:02] malx122 opened #10 "Possibility to disable "Add""
Some servers (like Starcounter) does not support that the client add/remove properties and list items from the client. Instead they send an error when puppetjs want to add things.

This error is good for debugging since it often means a spelling error on a parameter and so but it would be good to be able to disable all add requests from puppetjs in some cases.

[2013-11-06 08:39] #7 closed, assigned to nobody

[2013-11-09 19:25] warpech opened #11 "`<x-html>` deserves a separate repo and a new name"
I think that `<x-html>` is useful on its own and should be moved to a new repo.

Also, that would be a good chance to give it a new name, because current name:
- wrongly suggests that it is related to [x-tags.org](http://x-tags.org/)
- wrongly suggests that it has something to do with [XHTML](http://en.wikipedia.org/wiki/XHTML), HTML's ugly stepbrother
- is ungoogleable

Suggestions:
- Nice, in li

[2013-11-13 14:25] malx122 opened #12 "Client only properties on data model"
Sometimes it would be good to be able to store "Client only" properties in the data model.

Example: The data model is a tree of data that should be displayed. However, the client want to be able to visible expand or hide nodes in a way that the server does not need to know about.

Yes, if the data is only displayed in a single component, then its not a problem to store the "expand" option in the

[2013-11-15 09:53] warpech opened #13 "<puppet-js> custom element"
I think it would be a nice to have a custom element.

Instead of initializing PuppetJs using:

[code]

You would do:

[code]

[2013-11-21 12:38] #11 closed, assigned to nobody

[2013-11-21 12:39] #9 closed, assigned to nobody

[2013-12-12 23:29] #10 closed, assigned to nobody

[2013-12-12 23:32] #12 closed, assigned to nobody

[2013-12-21 13:45] malx122 opened #14 "Finally found the recursiveMarkObjProperties bug"
If the json object includes an empty key the recursiveMarkObjProperties method will fail: (First "if" will not be triggered so parent is not updated but second "if" will be triggered and you willl get an unlimited recursive loop)

[code]

Should be:

[code]

[2014-01-10 10:10] #14 closed, assigned to nobody

[2014-01-29 09:26] warpech opened #15 "Patch and morphUrl is not sent in the correct order"
Yesterday, @malx122 showed me an issue where in a custom element's click handler he manipulates the data model and then calls Puppet's `morphUrl`.

Expected result is that the data model change is sent before GET request initiated by `morphUrl`.

Actual result is that the GET request for `morphUrl` is sent before the patch, so it results in incorrect state.

[2014-02-12 21:50] tomalec opened #16 "Demos vs Polymer 1.4"
`lab/mdv/.index.html`, and `lab/mdv/.index.html` does not work with Polymer 1.4 from [puppetjs.github.io](https://github.com/PuppetJs/puppetjs.github.io). In both cases it seems to be a problem with HTMLImports.

[2014-03-24 18:05] warpech opened #17 "ShadowDOMPolyfill is not defined in current Canary"
`ShadowDOMPolyfill is not defined` error is thrown in Canary with Web Platform features enabled.

Suggested solution - change `ShadowDOMPolyfill.wrap` back to `wrap`, which is defined here: https://github.com/Polymer/platform-dev/blob/59f745d2846d85eb9631984757a39fc0460224e7/src/patches-shadowdom-native.js#L15

Or just check if ShadowDOMPolyfill is defined, otherwise leave element unchanged.

[2014-03-24 18:07] warpech opened #18 "setModelValue does not work"
setModelValue throws errors with Polymer 0.2.2 candidate.

In Chrome Stable, the error is `Cannot read property 'bind' of undefined`

In Chrome Canary, the error is `ShadowDOMPolyfill is not defined` (see #17)

The error is because `bindings` property is no longer available. We must find a new way to alter the binding value.

[2014-03-27 09:42] #18 closed, assigned to nobody

[2014-03-27 09:42] #17 closed, assigned to nobody

[2014-03-27 09:42] #16 closed, assigned to nobody

[2014-04-02 12:07] warpech opened #19 "Polymer-specific code (setModelValue) should be moved outside PuppetJs"
This code from the top of `puppet.js`:

[code]

Should be moved to some HTML Import, perhaps "model-operations.html". It does not have to be a Custom Element, just an inline script in the import should be fine.

Also, an alternative syntax was discussed: http://jsfiddle.net/warpech/RZtLA/8/
([discussion](https://groups.google.com/forum/#!topic/polymer-dev/7D5jd6pknR0/discussion)) - maybe now it's

[2014-04-03 12:46] #19 closed, assigned to nobody

[2014-04-04 09:11] warpech opened #20 "Create a button to enable/disable PuppetJS"
Create a button to enable/disable PuppetJS. It will enable to showcase the performance benefits of PuppetJS and also can help debugging

[2014-04-08 08:49] malx122 opened #21 "Setting a property to a undefined value results in a patch without value argument"
lets say "test" is undefined and "MyData" is a JSon object tat is coming from the server.
[code]
This will result in following:
[code]
The value argument of the patch is missing. (And at least SC server will complain)

[2014-04-11 07:47] warpech opened #22 "Does not intercept clicks on elements nested in `<a>`"
When I have a nested element in `<a>`, e.g.:

[code]

Clicking on the word "important" will not be intercepted by PuppetJS (thus handled as a normal link)

[2014-05-21 13:04] warpech opened #23 "Support a new update-on value "batch""
`<input update-on="batch">` means that changes in that form field are queued until non-batch change (`blur` or `input`) is triggered.

`blur` remains the default behaviour

In future: Non-batch changes will be explicitly defined in JSON metadata.

[2014-05-21 14:09] warpech opened #24 "Update Server communication wiki page with current protocol implementation"
Wiki page https://github.com/PuppetJs/PuppetJs/wiki/Server-communication is out of date

[2014-06-03 09:04] malx122 opened #25 "This results in copies of the array objects even though its should only be one!"
[code]

[2014-06-06 15:06] #24 closed, assigned to nobody

[2014-06-15 20:06] tomalec opened #26 "Make mock server more verbose"
Due to pure client-side mocking browser (dev tools) network trace is empty.

It would be nice to make mock server represent (using for example `console.info()`) what should happen with real server.
Right now it is hard to guess what is going on, as it looks like server-side is not involved in anything that happens on screen.

[2014-06-15 21:22] #13 closed, assigned to nobody

[2014-06-27 09:06] warpech opened #27 "WebSockets support"
PuppetJs should be able to use WebSockets for the transport of the patches.

As David pointed out, this is something that Polymer [Topeka](http://www.polymer-project.org/apps/topeka/) quiz demo also does. It is using Firebase as WebSocket service:
- https://github.com/Polymer/topeka-elements/blob/master/topeka-datasource.html
- https://github.com/Polymer/firebase-element

Related ticket: https://g

[2014-08-29 08:50] warpech opened #28 "ignoreAdd sometimes does not work"
@malx122 reported that sometimes when he declares `{{_variable}}` (which is ignored by `puppet.ignoreAdd = /\/_.+/;` and then immediately replaces the value (using his custom Polymer Element), the `op: "replace"` is generated anyway, disregarding the ignoreAdd rule.

[2014-09-02 13:27] andwah opened #29 "Invalid Patch Content order in Firefox"
The content order of an patch differ between Firefox and Chrome

***Javascript code snippet***
[code]

***Chrome:*** (Correct order)
[code]

***FireFox:*** (Incorrect order)
[code]

[2014-09-10 22:08] #4 closed, assigned to nobody

[2014-09-10 22:08] #27 closed, assigned to nobody

[2014-09-10 22:08] #28 closed, assigned to nobody

[2014-09-10 22:08] #22 closed, assigned to nobody

[2014-09-11 12:36] #25 closed, assigned to nobody

[2014-10-02 08:08] tomalec opened #30 "popstate event listener"
Currently PuppetJS listens to native `popstate` and custom `puppet-redirect-pushstate` events.

`puppet-redirect-pushstate` was introduced as there is no native `pushstate` event, to handle case when someone ([`<puppet-redirect>`](https://github.com/PuppetJs/puppet-redirect)) wouldl ike to push state to HTML5 history API, and also update the puppet state. So it does not hijack native `history.push

[2014-10-10 17:43] tomalec opened #31 "Consider removal of null trigger"
I would like to start discussion about current implementation of null trigger.
I am not 100% sure that I get the need completely. Why do we need it, why we did it that way?

I feel it breaks the concept of JSON representing the state of a page.
Lets say it is bound to a button to trigger buy-a-burger operation.
When button is clicked, application state definitely changes, and currently it is manif

[2014-11-24 17:14] #26 closed, assigned to nobody

[2014-11-28 13:14] tomalec opened #32 "Race between bootstrap and useWebSocket flag"
Currently when you set `puppet.useWebSocket=true` a bit to late, WS connection will not be established, as bootrastrap without WS will already be done.

My proposition is to write useWebSocket get/set that will allow switching protocol in any time, as well as consume constructor params.

[2014-12-02 23:50] dandv opened #33 "OT: add some profile info to the GitHub org"
https://github.com/PuppetJS is blank

[2014-12-03 00:24] tomalec opened #34 "PuppetJs logo"
puppet-bunny is funny :)
![puppet-bunny](http://puppetjs.github.io/PuppetJs/lab/polymer/components/puppet.png)
But I don't know how to apply MIKI Yoshihito (CC BY 2.0) to a logo.

[2014-12-17 11:26] warpech opened #35 "ignoreAdd not always ignores"
At some cases, PuppetJs observes and tries to send changes to properties that should be ignored:

[code]

This happens when the ignored property is a member of an array of objects. When the server moves the object to a different index in the array, changes to the ignored property result in `replace` operation being generated by PuppetJs.

Screenshot:

![screenshot 2014-12-17 10 35 43](https://clou

[2015-01-21 22:01] tomalec opened #36 "debug mode collides with JSON Patch versioning"
[`validatePatches`](https://github.com/PuppetJs/PuppetJs/blob/master/src/puppet.js#L351) is being called before operation objects are shifted from entire JSON Patch sequence, so it complains about patching non-existing nodes.

Probably it may not be an issue when we separate Puppet engine, from validation, and from JSON Patch queues, that we already thought about.

[2015-02-04 21:57] warpech opened #37 "WebSocket disconnection should not be a fatal error"
In any of the following cases:
1) user loses Wi-Fi range
2) user puts his laptop to sleep/hibernation
3) server restarts
4) server stops

The users get's an alert about WebSocket disconnection:

![screenshot 2015-02-04 22 54 36](https://cloud.githubusercontent.com/assets/566463/6050591/3d9db08e-acc1-11e4-8521-6ccaaa8230e4.png)

This should not be an error because it is possible that the server was

[2015-02-10 13:07] tomalec opened #38 "Connection self-configurator"
So that if no configuration specified, PuppetJS will try to automatically configure all features (WebSockets, Versioning, OT) that server supports.

[2015-02-10 15:15] tomalec commented on #32
Already implemented by @warpech (@58fc5cdc3b2) and released as 0.2.6

[2015-02-10 15:15] #32 closed

[2015-02-10 15:23] tomalec opened #39 "Some JSON changes are not propagated to server when WebSockets enabled"
Sometimes changes are handled by [JSON-Patch](https://github.com/Starcounter-Jack/JSON-Patch), processed by queue (version is bumped), but are not propagated to the server.

[2015-02-10 15:31] tomalec commented on #39
In many places we use `!this._ws` to check whether to use Web Sockets or not. However `this._ws` does not mean it's open and ready. Therefore it's possible to change the JSON, after callback is called, with `useWebSocket` and `_ws` set correctly, but before `_ws.onopen`.

[2015-02-10 17:21] tomalec commented on #39
I made a quick fix. But I think we could make it cleaner, and simplify code maintenance a bit. Ideas that came to my mind:

1. Extend native `WebSocket` instance with `.sendOnceOpened(msg)` and `.waitingForOpen=[]`
2. Use a Promise for WS to open, but then instead of `ws.send` we should write `wsopened.then(function(){ws.send(msg)})`,
3. Create separated networking layer (even within `puppet.js` t

[2015-02-11 22:30] tomalec opened #40 "Remove `beforeSend` callback or add it for WebSockets too"
Currently beforeSend callback is supported only for HTTP requests, but is not triggered for WebSocket `send`.

I think we should either remove it, or add it for WebSockets as well.
@warpech WDYT?

[2015-02-12 09:25] tomalec commented on #31
null triggers were removed, here is small note on how to handle actions: https://github.com/PuppetJs/PuppetJs/wiki/How-to-handle-button-clicks-with-JSON

[2015-02-12 09:25] #31 closed

[2015-02-12 11:36] warpech commented on #40
My Git log shows that beforeSend was added in commit 6d9a109899c9dcafb01d8927a2298f21dca0b2c6

I found what was actually the application. I think that it can be removed now.

[2015-02-12 12:45] tomalec commented on #40
I think hackability is still persevered, and after separation of network layer, we can achieve even more:
**beforeSend**:
[code]
**afterSend**:
[code]

Maybe it's not nicest way, but as long as we do not see any real use case, I believe it's enough.

[2015-02-12 12:56] warpech commented on #40
:+1:

[2015-02-12 15:10] #40 closed

[2015-02-16 08:37] warpech opened #41 "Strict type mode"
PuppetJs should be able to keep the type of JSON properties.

For example, in case a `number` property is bound to a `<input type="number">` with Polymer, a change of the value results in change of type to `string` (because all input values are strings in HTML).

PuppetJs should have a strict type mode in which it performs type casting before creating the outgoing patch.

This is point 7 from http

[2015-02-16 08:50] warpech opened #42 "Disable page morphing"
It should be possible to turn off page morphing/link capturing in Puppets.

Add a control for it to https://github.com/Polyjuice/starcounter-debug-aid once it is done.

This is point 11 from https://github.com/Starcounter/Starcounter/issues/2468

[2015-02-19 10:33] tomalec opened #43 "CLOSED and CLOSING states of WebSocket are not covered"
So messages sent during that period may never reach the server, what with JSON Patch queuing enabled may block any further communication..

[2015-02-19 10:36] tomalec commented on #39
Networking layer separated to internally used `PuppetNetworkChannel`, automated tests added for this case.

[2015-02-19 10:36] #39 closed

[2015-02-20 14:06] warpech opened #44 "Raise an error when localVersionPath and remoteVersionPath are not in JSON"
As far as I understand, currently Puppet ignores the situation when client has configured non-empty `localVersionPath` and `remoteVersionPath` but the server does not send it in the response. Last time I checked, Puppet just waits forever and does not send patches in that case.

We need to make the developer aware that the server does not contain the version properties. I think it should even thro

[2015-02-20 14:23] tomalec commented on #44
Fair point, should not be even very costly.

Another thing is that for performance and simplicity, we assume that versions are sent as virst operation object, should we also try to search entire sequence, or just throw an error if sequence abuses convention?

[2015-02-20 14:48] warpech commented on #44
I guess we should check only the first operation objects in the sequence, as the convention tells (because in sequence, the order of operations matters).

The check if the first two operations are version numbers can be made in Puppet `debug` mode.

[2015-02-20 14:59] tomalec commented on #44
Order matters, but according to spec failing `test` operation should rollback entire sequence, so theoretically position does not matter, as long as `replace` (sender's version) operation is still after `test` (sender's, in purist mode).

I think we can make it always
`if(shiftedOp.path === this.localVersionPath)`  is not much more expensive than `if(this.debug == true)` + implementing `debug` fla

[2015-02-26 14:04] tomalec opened #45 "Click handler affects entire site"
Currently Puppet listens to clicks on all elements in DOM.

So even if there is only a part of page that is supposed to work with Puppets, and use JSON-Patch communication, all other links are blocked, and forecefully translated to JSON-Patch requests.

We should support following cases, client side app that:
 -  uses only communication features of puppet
 -  uses DOM features (clicks handlers, te

[2015-03-01 19:01] tomalec commented on #2
Cookies are separated, and `null` triggers were removed with #31

[2015-03-01 19:01] #2 closed

[2015-03-04 22:03] tomalec opened #46 "method to remove event listeners"
Currently we `addEventListener`s for DOM objects on `Puppet` instance creation, but we do not expose any method to stop listening.

It would be useful to stop listening for DOM actions (URL morphs, clicks, etc.).

It will be definitely required for PuppetJs used as a custom element (which may get detached from DOM), and cases with many Puppet instances responsible only for part of a document (once

[2015-03-24 14:01] miyconst commented on #1
This has been implemented in scope of issue:
https://github.com/Polyjuice/starcounter-debug-aid/issues/20

Because of:
1. The `onRemoteChange` callback of PuppetJs has only one (*Object* `data`) parameter and for the issue above *String* `url` also required.
2. There is no callback for outcoming changes.
3. The callback name `onLocalChange` would be misleading, there may be a request to the server

[2015-03-26 10:45] miyconst opened #47 "Undefined value rises and error: No value found in patch."
Inside GoogleSignIn application I am trying to use
[code]

If there is no such cookie the value will be undefined. This fires an exception:
[code]
In puppet.js on line 662.
https://github.com/PuppetJs/PuppetJs/blob/gh-pages/src/puppet.js#L694

Whose error this is and how should it be fixed?

For now I fixed `<polymer-cookie>` to return empty string instead of undefined.

[2015-03-26 12:33] tomalec commented on #47
It seems to be the same issue as #21, and it's related to the fact that `undefined` is not valid JSON value . See also:
https://github.com/Starcounter-Jack/JSON-Patch/pull/36
https://github.com/Starcounter-Jack/JSON-Patch/issues/32
https://github.com/Starcounter-Jack/JSON-Patch/issues/60

[2015-03-26 19:51] miyconst commented on #47
@tomalec thank you.

I understand why it throws the exception and I have read the issues.
What should I do in this situation?

`puppet.js` has correct behaviour from JSON standard point of view.
`<polymer-cookie>` has correct behavoiur from its point of view - if the cookie is not defined then value is undefined.
Together they don't work.

Should I modify `<polymer-cookie>` which is third side ele

[2015-03-26 21:17] tomalec commented on #47
I would suggest a workaround with `null` value. It should be valid from JSON point of view, from Puppet, and hopefully from your app code as well.

In long term, we should provide clearly defined, consistent way to handle js object in fast-json-patch, provide tests for it, and close issues in https://github.com/Starcounter-Jack/JSON-Patch.
Then we should provide also well defined behavior for Pupp

[2015-03-27 20:08] miyconst commented on #47
@tomalec okay.

I have made a custom element `<so-polymer-cookie>` which converts `undefined` value into `null`.
Closing the issue.

[2015-03-27 20:08] #47 closed

[2015-04-16 08:17] ivarbergman opened #48 "websocket with ssl"
Hi! The ws:// protocol is hard coded in the puppet.js file. Could this be synced with the http protocol used?

I.e.

    https -> wss
    http -> ws

[2015-04-16 12:14] warpech opened #49 "Cryptical error message when referer not provided"
When `referer` is not provided and Puppet is configured to use WebSocket protocol, the error message is too cryptical.

See the screenshot:

![cryptical](https://cloud.githubusercontent.com/assets/566463/7180549/e5cd457c-e442-11e4-887c-048dd066bbf5.png)

[2015-04-17 08:12] warpech commented on #48
I think we can definitely do that. How urgent is this?

[2015-04-17 09:29] andwah opened #50 "Puppet used the wrong host/port."
My page is loaded from ```http://localhost:8080/test.html```

In the ```<body>``` onload()  i do this:

[code]

Then in the puppet websocket upgrade it will use ```http://localhost:8080/...``` not ```http://localhost:8181``` that i was expecting.

Note: the ```Port``` number is not the same for the main page and the puppet

[2015-04-27 19:47] miyconst opened #51 "referer is undefined if no session"
If I return a page without session, then the following exception occurs in `puppet.js`
[code]
[code]
[code]

[2015-05-06 08:19] warpech commented on #50
I think that the solution is to change the same line as #48, so I suggest to do them together.

[2015-05-06 12:01] #33 closed

[2015-05-06 15:35] tomalec opened #52 "Demo does not work smoothly on IE and FF"
`jsonpatch.generate` generates `[]` on blur after changing the data.

[2015-05-08 00:43] #45 closed

[2015-05-08 00:43] #46 closed

[2015-05-08 00:43] #50 closed

[2015-05-08 00:45] tomalec commented on #50
Right now it uses whatever was provided as `remoteUrl` (or `window.location`) and just switches the protocol to `ws:` (or `wss:` accordingly #48)

[2015-05-08 00:47] tomalec commented on #48
Fixed in `gh-pages` branch, and will be soon released with new version.

[2015-05-08 00:50] tomalec commented on #42
Now morphing is available only for [PuppetDOM](https://github.com/PuppetJs/PuppetJs#puppetdom) - PuppetJS extension for browser integration, and can be switched via `listen()`/`unlisten()` methods.

If you do not need morphing at all, consider use of pure `PuppetJs` (w/o `PuppetDOM`) - library for syncing JS objects via network (w/o DOM binding/listening overhead)

[2015-05-11 08:04] #48 closed

[2015-05-12 08:14] mattiasmak opened #53 "cmd/ctrl-click doesn't open link in new tab"
When cmd/ctrl-click a link chrome (and other browsers I guess) opens the link in new tab. This doesn't work with puppetjs.

[2015-05-12 08:16] warpech commented on #53
Confirmed. Good catch!

[2015-05-12 08:50] miyconst opened #54 "Fix Patches tab to work with new version of PuppetJs"
Patches tab is not working after latest changes in PuppetJs from @tomalec, it should be adapted to the new version of PuppetJs.

@warpech, I think, this is a high priority issue, let me know if not so.

[2015-05-12 09:56] warpech commented on #54
I agree. Please proceed with this

[2015-05-13 07:15] #54 closed

[2015-05-20 16:48] miyconst commented on #51
@warpech should `puppet.js` work without session or this is desired behaviour?

[2015-05-21 12:42] warpech commented on #51
In my opinion `puppet.js` must have a session. @tomalec do you agree?

There is another issue regarding that the error message in this case is too cryptical: https://github.com/PuppetJs/PuppetJs/issues/49

[2015-05-22 09:14] andwah opened #55 "Multiple <puppet-client> elements => Uncaught Error: Session lost..."
The order how you create ```puppet-client``` is the difference below

This will work;
[code]

This will **NOT** work:
[code]
Console output:
[code]

[2015-05-22 10:53] tomalec commented on #55
I guess it may be related to the fact that we receive referrer in Cookie, and the name is same for both instances.

[2015-05-22 13:49] warpech commented on #55
Maybe we should ignore cookie if remoteUrl is provided in the config?

[2015-05-22 14:13] tomalec commented on #52
This issue is composed of three things:
1. the way `jsonpatch`  shims the `Object.observe`,
2. the way `Puppet` filters the changes (for blur) (to be moved to `PuppetDOM`)
3. suspected difference between browsers in timeline of `Object.observe`/shimmed callbacks and `blur` event callbacks

In case of editing field.

1. jsonpatch triggers periodically `dirtyCheck` which calls `generate`. What is im

[2015-05-27 08:36] warpech commented on #52
Fixed the above in PuppetJs 1.1.0 by removing `blur` handling from PuppetDom. Now `blur` handling needs to be solved on view level (by the two-way binging framework).

[2015-05-27 08:36] #52 closed

[2015-05-27 08:40] warpech opened #56 "Links in the demo don't work correctly"
Links in the demo don't work correctly.

Steps to reproduce:

1. Go to: http://puppetjs.github.io/PuppetJs/lab/polymer/index.html
2. Click on "ShadowDOM: Nikola Tesla"
3. Observe that the data in the form does change
4. Click on "Albert Einstein"
5. Observe that the data in the form does not change, which is an error

Tested in Chrome 43, Firefox 38

[2015-05-27 08:41] warpech opened #57 "OT demo does not work"
There are few errors in the OT demo (http://puppetjs.github.io/PuppetJs/lab/polymer_ot/index.html). Seems to be the fault of outdated Jasmine URLs.

[2015-05-27 13:55] warpech opened #58 "Change the way PuppetJS obtains the initial JSON"
As mentioned in https://github.com/Starcounter/InvoiceDemo/issues/14, IE11 throws `Network Error 0x2ef3` when trying to make POST or PATCH xhr request, unless there was a GET request before to the same URL.

This would be solved if we changed the way in which we obtain the initial JSON.

Currently we are doing:

[code]

What we could be doing:

[code]

This returns the same JSON and moreover:

- f

[2015-05-27 16:38] tomalec commented on #58
:+1:

##### Implementation detail:
The only question I have is to the way to build URL from given remote URL:

 1. `puppet.remoteUrl + reffererCookie` quick easy, bug prone
 2. `new URL(reffererCookie, puppet.remoteURL)` less performant than string concat, another point that requires [Polymer/URL](https://github.com/Polymer/URL), which we require anyway, and it's native in Chrome and shimmed with

[2015-06-05 08:59] warpech commented on #58
@chrol, @Starcounter-Jack - what's your opinion?

[2015-06-05 09:00] warpech commented on #58
@chrhol, @Starcounter-Jack - what's your opinion?

[2015-06-05 09:11] warpech commented on #51
Ping @tomalec

Also, this is related to https://github.com/PuppetJs/PuppetJs/issues/58

[2015-06-05 10:13] tomalec commented on #51
Technically I would say that `PuppetJs` itself does not need a session. It just needs (http/ws) URL to send patches to. So it's Starcounter server-side that needs a session. Solving it as in #58 would be cool, and simplify unclear presence of `this.referer` in puppet.

Until #58 gets clarified we canprovide nice error message.

[2015-06-10 09:07] andwah opened #59 "Websocket direct upgrade."
When using websockets the connection is not upgraded until the first request is made from the client.

It would be nice if the connection is **directly** upgraded so the server can begin pushing data to client.

[2015-06-10 12:45] warpech commented on #59
This is a bug, since the code actually calls `webSocketUpgrade` in network `establish`.

@miyconst could you take a look?

The case is that you have pages like dashboards, chatrooms, etc, that should be available for WebSocket server push immediately after page load.

[2015-06-10 13:06] andwah commented on #59
I just retested this and now it seems to work (strange)... i will try to make a deeper test.

[2015-06-10 13:13] warpech commented on #58
After giving it a second thought, I think it is pretty straightforward:

Puppet server sets the location at which it wants to be asked about current resource with any of the following headers:

1. `Location: XXXX`
2. `X-Location: XXXX`
3. `Set-Cookie:Location=XXXX; path=/`

Cases 2. and 3. only exist because JavaScript cannot read case 1. in a web browser.

Practically it means that we should rena

[2015-06-10 13:15] warpech commented on #53
@miyconst could you take a look? This should be fixed in `puppet-dom.js`.

[2015-06-10 13:27] warpech commented on #51
After giving it a second thought, I agree with @tomalec.

The JavaScript error in topic will be automatically gone after #58 is solved, because #58 merges `this.remoteUrl` and `this.referer`.

The problem of what happens if you don't create Starcounter `Session` on server will remain though and let's discuss that one in issue #49.

[2015-06-10 13:29] miyconst commented on #51
Should I close this issue then?

[2015-06-10 13:29] warpech commented on #51
Please close it after #58 is solved

[2015-06-10 13:34] warpech commented on #49
Splitting the discussion from #58 (which is about the acutal JavaScript error).

This issue (#49) is about **How a Starcounter app developer should get notified by Puppet that he forgot to create a session.**

By now we have contradicting expectations - we want to leave it up to the developer, but the default option allows to shoot yourself in the foot with unclear error.

Puppet protocol does not

[2015-06-10 13:53] warpech commented on #3
Won't do.

I just changed the above-linked wiki page from:

To:

[2015-06-10 13:53] #3 closed

[2015-06-10 13:54] warpech commented on #1
Closing as solved.

[2015-06-10 13:54] #1 closed

[2015-06-10 14:05] warpech commented on #8
Done

[2015-06-10 14:05] #8 closed

[2015-06-10 14:09] warpech commented on #23
As expressed in https://github.com/PuppetJs/PuppetJs/issues/52, `blur`, `input`, `batch` input modes will not be implemented by PuppetJS.

You need to solve this at framework level (Angular, Polymer, etc).

Readme.md covers this in the [Two-way data binding frameworks](https://github.com/PuppetJs/PuppetJs#two-way-data-binding-frameworks) section:

- In Polymer 0.5 it is only possible with a Custom

[2015-06-10 14:09] #23 closed

[2015-06-10 15:10] miyconst commented on #58
The property `this.remoteURL` is readonly, should I make it writeable?

[2015-06-10 15:15] warpech commented on #58
Yes

[2015-06-10 16:05] tomalec commented on #59
That is true that, Puppet opens WebSocket after first HTTP request, but this request should be made on page load. It seems to be another reason to restructure the way we obtain URL for WebSocket connection.

[2015-06-10 16:21] miyconst commented on #53
Okay, I disabled morphing for ctrl + click and middle mouse button.

[2015-06-10 17:56] tomalec commented on #58
Do we really want to change the original remoteurl given by user? so the url which will be the base for WebSocket request, or just compose the URL for HTTP Patch communication?

[2015-06-10 21:14] warpech commented on #58
What would be the reason to keep the original `remoteUrl`? Server, by providing `Location / X-Location / Cookie: Location`, tells that it expects to be requested about the resource using the new URL, so the original URL becomes is useless in my opinion. Am I missing something?

About the WebSocket, we could consider creating a new `webSocketUpgradeUrl` property in a separate issue, as currently it

[2015-06-10 21:16] warpech commented on #53
Please also check for `event.metaKey`, which represents the cmd key on Mac

[2015-06-10 21:44] tomalec opened #60 "Change the way to build/obtain Web Socket upgrade URL"
Currently `webSocketUpgradeUrl` is build out of `puppet.wsURL` which is build out of `remoteURL`. And all that happens after initial HTTP request, using `this.referer`.

It is way to complicated and lead to other issues #58, #59

It would be nice to:
 1. Untangle `referer`, `remoteURL` dependencies, (will make solving #58 way much easier)
 2. Do not hardcode a thing, (currently we do `.replace(/(\

[2015-06-10 21:44] tomalec commented on #58
But currently `webSocketUpgradeUrl` is build out of `puppet.wsURL` which is build out of `remoteURL` should it then be build on updated on original one?

If we would build/fetch `webSocketUpgradeUrl` in other way, I agree that we should make `remoteURL` writable.

[2015-06-10 21:49] tomalec commented on #58
So maybe we could go with
 1. `initURL` is given in constructor,
 2. then server may return `httpURL` and `wsURL`
With such case server may force specific channel (only one URL returned), or give a free hand to client (send both).

Pros:
 1. Extremely clean client code,

Cons:
 1. Changes to server-side needed

[2015-06-11 05:07] Starcounter-Jack commented on #58
Let's do a hangout at 13:00 today. We should review the spec. Keep the below principles in mind when reasoning about this:

## Core usage

At the core, the server side JSON document (puppet) must be able to be created using REST principles. This is important as some client implementation would prefer this as it makes puppets easy to implement. This scenario means that the client should issue a POS

[2015-06-11 06:19] Starcounter-Jack commented on #58
Forget my last post. I see the problem with it. Still, lets do a hangout

Sent from my iPhone

[2015-06-11 06:21] Starcounter-Jack commented on #58
Unforget the post. I think it might work as a principle if we update the spec.

Sent from my iPhone

[2015-06-11 07:33] miyconst commented on #53
Sorry, completely forgot about Mac users. Done.

[2015-06-11 07:33] #53 closed

[2015-06-11 07:50] warpech commented on #60
Good ideas, but let's not do any development before we first describe points 2 and 3 on wiki.

[2015-06-11 07:54] warpech opened #61 "Define the protocol properly"
There needs to be a basic Puppet mechanism that sticks to the hardcore REST principles and works will no sugaring. Then goes a bunch of sugaring on top of it, which allows for latency mitigation (precreation of JSON, WS upgrade, etc).

Currently we have parts of it: https://github.com/PuppetJs/PuppetJs/wiki

But the current text reflects our ad hoc needs and is not as principle based as it should

[2015-06-11 07:57] warpech commented on #58
We can't meet at 13:00 because there is company lunch at that time. I will announce some other time.

@Starcounter-Jack proposes to make a more formal spec of the Puppet protocol (#61)

I don't think it imposes any change to our current incremental improvements approach, so let's continue with doing the fix in topic. Current issue could be fixed with one line of code. We can discuss it at today's

[2015-06-11 08:49] warpech commented on #43
@miyconst after doing current work, could you investigate this and propose changes?

[2015-06-11 08:49] warpech commented on #37
@miyconst after doing current work, could you investigate this and propose changes?

[2015-06-11 09:29] miyconst commented on #58
Changes after today's discussion with @warpech and @tomalec:

1. `this.remoteURL` is now writeable.
2. `this.remoteURL` is set to `new URL(this.referer, this.remoteUrl).href` in `PuppetNetworkChannel.prototype.setReferer`.

@tomalec take a look please.

[2015-06-11 09:59] tomalec commented on #58
Suite of WebSocket tests fails as `this.remoteUrl = new URL(this.referer, this.remoteUrl).href;` throws an error if `this.remoteURL` is not defined.

[2015-06-11 10:28] miyconst commented on #58
After discussion with @tomalec we agreed on:

1. Establish connection with original `remoteUrl`.
2. Execute `handleResponseCookie` after connection established, but not on the first page load.
3. Update `remoteUrl`, so the patches will be send to the location received from #1.
4. Remove `this.referer`, leave `this.remoteUrl` only.

[2015-06-11 14:19] miyconst commented on #37
Me and @warpech on skype call agreed to:

1. Disable the ugly error message.
2. Switch to http/json+patch if WebSocket connection drops.
3. Try to restore WebSocket connection in 5/10/20/40/80 seconds.
4. Display a small and not annoying icon when connection drops and hide the icon when connection restored.

[2015-06-11 15:24] miyconst commented on #43
Looks like yes, this situation may happen.

Those are the possible values for `Socket.readyState`:

A value of 1 indicates that the connection is established and communication is possible.
A value of 2 indicates that the connection is going through the closing handshake.
A value of 3 indicates that the connection has been closed or could not be opened.

Currently `PuppetNetworkChannel` establishes

[2015-06-12 07:54] warpech commented on #43
@tomalec - WDYT?

The way I understand it, we have a choice to create yet another queue to store messages pending for WS (for me that is very undesired) or send patches over HTTP if WS is in other state than `1`.

[2015-06-12 07:57] miyconst commented on #43
@warpech there is already a pseudo queue for outgoing messages over WebSocket, so using it won't create a new one, but I would also like to avoid it.

[2015-06-12 08:00] warpech commented on #43
Where is that in code?

[2015-06-12 08:17] tomalec commented on #43
@warpech  here: https://github.com/PuppetJs/PuppetJs/blob/gh-pages/src/puppet.js#L168

@miyconst How your proposition differ from current implementation? 3 and 4 are just not implemented, right? So we would need just 2 more elsseifs at https://github.com/PuppetJs/PuppetJs/blob/gh-pages/src/puppet.js#L177, wouldn't we?

[2015-06-12 08:24] miyconst commented on #43
@tomalec, you are right, I thought we could just implement case 3 and 4.

[2015-06-12 08:55] warpech commented on #43
Why not simplify it.

As I proposed on today's meeting, WS (re)connection should be maintained automatically in bootstrap (#59, #37) and therefore can be removed from `PuppetNetworkChannel.prototype.send`.

`PuppetNetworkChannel.prototype.send` gets simplified to:

[code]

[2015-06-12 09:06] tomalec commented on #43
LGTM

[2015-06-12 12:41] miyconst commented on #43
I also agree.

[2015-06-12 12:42] miyconst commented on #43
@warpech should I do this one?

[2015-06-12 13:23] miyconst commented on #59
@andwah is this still reproducible? Give me the steps to reproduce if so, please.

[2015-06-12 13:27] miyconst commented on #59
Chatter app works immediately after load.

[2015-06-12 14:34] miyconst commented on #37
I have played with restoring WS connection a little bit. Now facing such problem:

1. Client loads page.
2. Client establishes connection with server.
3. Client sends patch 1 to the server.
4. Server receives the patch and closes the connection (or connection drops).
5. Client establishes connection with server again.
6. Client sends patch 2 to the server.
7. Server responds with remote version 3,

[2015-06-12 14:38] miyconst commented on #43
Updated puppetJs, but it still does not work if ws connection drops, because of remote version mismatch issue described in here: https://github.com/PuppetJs/PuppetJs/issues/37#issuecomment-111513786

[2015-06-12 15:44] tomalec commented on #37
Could you specify the versions that your are talking about in each step? - PuppetJS' local version == Server's remote vs. PuppetJS' remote version == Server's remote? (`/_ClientVersion` or `/_ServerVersion$` )

[2015-06-12 15:52] miyconst commented on #37
1.1.  Out:
[code]
[code]

1.2. In: none
[code]

2.1. Out:
[code]

[code]

2.2. In:
[code]

[code]

At this moment local `remoteVersion` is `1`, but the one which come from the server is `3`.

[2015-06-15 07:45] warpech opened #62 "WebSocket disconnection message should be displayed as error"
WebSocket disconnection message (https://github.com/Starcounter/Starcounter/issues/2332), which is used by Starcounter to send server side exceptions to the client, should be displayed as an error in the web browser console.

[2015-06-15 08:04] miyconst commented on #62
@warpech it already works like this, it is shown on the console, but not on the page.

![ws-close-reason-1](https://cloud.githubusercontent.com/assets/6435556/8155569/290537b6-134e-11e5-96e5-ce00df62d86b.png)

![ws-close-reason-0](https://cloud.githubusercontent.com/assets/6435556/8155570/2c68332c-134e-11e5-9098-1e024aa0442f.png)

[2015-06-15 11:54] warpech commented on #20
Developed in starcounter-debug-aid, works using dynamic setting of useWebSocket flag

[2015-06-15 11:54] #20 closed

[2015-06-15 18:25] miyconst opened #63 "What if perform full page redirect instead of showing session lost error?"
Currently if I press a morphed link after server restart (i.e. start/stop an app) an exception on console appears: `Session lost. Server replied with a different session ID that was already set.`.

What if make full page redirect instead of showing that error?

[2015-06-15 18:40] miyconst commented on #58
Finally done. There is no more `referer` in `puppet.js`.

1. All usage of `remoteUrl` was replaced with `referer`.
2. `referer` was renamed to `remoteUrl`.

All tests from puppetjs solution pass.

[2015-06-15 18:40] #58 closed

[2015-06-15 18:48] miyconst commented on #59
Ping @andwah.

[2015-06-15 18:55] miyconst commented on #37
Ping @warpech and @tomalec.

[2015-06-15 21:08] tomalec commented on #37
So the connections gets closed after browser sent message, and after server received it, but before server responses to browser, and what is worse server did composed change to clients message, which was not send.

@chrhol chould you confirm, I would expect that server ma queue such pending change on server side, and either send it when reconnected, on will just send entire JSON to reset all versi

[2015-06-15 21:22] andwah commented on #59
@miyconst I could not reproduce it.

[2015-06-16 06:46] miyconst commented on #37
If it may help somehow:

[code]

This is how I close the connection on `Cancel` button press.

[2015-06-16 06:47] miyconst commented on #59
@andwah thank you for testing. I close the issue as it is assigned to me.

[2015-06-16 06:47] #59 closed

[2015-06-16 15:11] miyconst commented on #62
@warpech I close this issue as it already works like you described.

[2015-06-16 15:11] #62 closed

[2015-06-16 15:28] miyconst commented on #21
As pointed in https://github.com/PuppetJs/PuppetJs/issues/47 the `undefined` is not a valid `json` value. `undefined` should be replaced with `null`.

Can this issue be closed?

[2015-06-16 16:18] miyconst commented on #35
This issue is still reproducible, and it has nothing to do with arrays and indexes.
[code]
Also sends `$privateProp` to server.

This can't be filtered by `isIgnored` method of puppetjs, because the path is absolutely legit:
[code]

It should be filtered in `json-patch-duplex` or puppetjs should iterate through each property of objects being send.

[2015-06-17 06:21] miyconst commented on #56
Fixed. The issue was with session. The mockServer returned new session for each request, and puppetjs throws `Session lost.` exception if the new session is not equal to the previous one.

Replaced session with `"/PuppetJs/lab/polymer/index.html"` instead of `this.url`.

[2015-06-17 06:21] miyconst commented on #56
Tested in Chrome and Firefox.

[2015-06-17 06:42] miyconst commented on #57
Fixed jasmine urls, replaced session with `"/PuppetJs/lab/polymer/index.html"`, added `PuppetDOM` to capture link clicks.

What is the visual difference between these two demos:
http://puppetjs.github.io/PuppetJs/lab/polymer_ot/index.html
and
http://puppetjs.github.io/PuppetJs/lab/polymer/index.html

They look identical.

[2015-06-17 07:34] warpech commented on #57
OT is not visual, but it adds version numbering to Puppet messages, as described: https://github.com/PuppetJs/PuppetJs/wiki/Server-communication:-advanced-synchronization

I am not sure it deserves a separate demo, though. It is more of a playground to check if it works

[2015-06-17 07:39] warpech commented on #56
Still something wrong:

1. Go to http://puppetjs.github.io/PuppetJs/lab/polymer/index.html
2. Click on ShadowDOM: Nikola Tesla link
3. In the form on the right, the text changes to `Nikola`, `Tesla`
4. Change `Nikola` to `Nikolas`
5. Error: The header says `Nikolas` but the input says `Albert`

![bug](https://cloud.githubusercontent.com/assets/566463/8201818/bb81f070-14d4-11e5-92ef-fd72c200fd16.gi

[2015-06-17 07:50] miyconst commented on #57
Okay, then I close the issue as demo works now.

[2015-06-17 07:50] #57 closed

[2015-06-17 07:59] warpech commented on #35
A while ago we discussed changing `ignoreAdd` from regexp to be just a boolean. I still think that would be a good simplification.

But even that would not solve the above problem which requires deep checking. Alternative ideas:

1. Do the naive fix and apply `ignoreAdd` rules deeply
2. Change regexp `ignoreAdd` to boolean `ignoreClientSchemaChanges` and make it work up to it's name by deep compar

[2015-06-17 08:47] miyconst commented on #56
It looks like this issue is not related to my changes as was there long time ago. Fixed one more time.

[2015-06-17 08:55] miyconst commented on #35
1. Might be very expensive in performance terms, but I still like it.
2. Don't really like the idea, we lose flexibility.
3. +1, if some properties should not be send to the server, then they should be saved outside of the `puppet.obj`.
4. The new properties should be added to `puppet.obj`. For example a simple diagram builder would add lots of new properties to new objects.

[2015-06-17 08:56] warpech commented on #56
Thanks!

1) It is not clear why this works when I use http://puppetjs.github.io/PuppetJs/lab/polymer/subpage.html as the starting URL, since now the `Location` is hardcoded in the mock server to `/PuppetJs/lab/polymer/index.html`

2) How will this work if I clone the demo locally and run it from `http://localhost/PuppetJs_env/PuppetJs/lab/polymer/index.html`?

[2015-06-17 09:03] miyconst commented on #56
1) This is done inside `handlePageLoad` function, which checks current `url` and sets corresponded values to model.

2) All you have to do is install bower dependencies. I tested both demos (polymer & polymer_ot) locally.

[2015-06-17 09:25] warpech commented on #35
Re 3: Thing is that some Web Components/Angular directives add properties to objects without asking, for example when turning an array of links into a menu, the component might add a new property `IsHighlighted`. How do we overcome that without adding the property to the JSON on server and rebuilding the server?

Re 4: I meant the opposite. Adding the client side properties in a way that `JSON.str

[2015-06-17 09:27] malx122 commented on #35
I don't have so much input on the implementation but we REALLY need them. Not being able to add propertys for client operations would complicate webcomponents alot! (Especially when doing performance optimization like reusing "renderers" and stuff)

[2015-06-17 09:30] warpech commented on #21
My goal was to add client-side checks before sending of generated JSON Patch that would give the developer a clear information what is wrong. We know that `undefined` is not a valid JSON type but how can we save an hour of frustrating debugging for an inexperienced programmer?

There is patch validation functionality in JSON-Patch (https://github.com/Starcounter-Jack/JSON-Patch/issues/29). PuppetJ

[2015-06-17 09:33] warpech commented on #62
Does it work with exception stack traces? My testing code was:

[code]

[2015-06-17 09:43] warpech commented on #35
Would proposal 2. solve the problem? To address @miyconst's issue with it, it could be extendable using a function.

[2015-06-17 09:54] warpech commented on #56
I think I know what is happening there now.

Server sets the values at `stub.responseHeaders = [{name: "Location", value: "/PuppetJs/lab/polymer/index.html"},{name: "X-Referer", value: "/PuppetJs/lab/polymer/index.html"}];` but actually never cares about them (in contrary to Starcounter implementation, which actually cares). The client also doesn't care, but it checks if they are the same.

The wh

[2015-06-17 11:13] warpech commented on #37
I rewrote Konstantin's problem including the version numbers, because I couldn't put my head around it:

1. Client loads page (`_ver#c$: 0, _ver#s: 0`)
2. Client establishes connection with server
3. Client sends patch 1 to the server  (`_ver#c$: 1, _ver#s: 0`)
4. Server receives the patch and closes the connection (or connection drops).
5. Client establishes connection with server again.
6. Clien

[2015-06-17 14:05] miyconst commented on #21
Sure. Assigning to myself.

[2015-06-17 14:09] miyconst commented on #62
As I pointed in this comment: https://github.com/Starcounter/Starcounter/issues/2332#issuecomment-111400971 this does not work at all.

@alemoi said that we have to explicitly set ws disconnection message, then it will be send to the client.

[2015-06-17 14:18] miyconst commented on #35
How could the 2 solution solve the private properties inside entire object being send to the server? We still have to iterate through all properties and subproperties of the object, don't we?

[2015-06-17 14:43] miyconst commented on #37
Only one correction:
7. Client does not hand, it throws an exception.

[2015-06-17 14:55] miyconst commented on #56
You are completely right. I thought those headers are presenting "server behaviour". Now they are removed and the demo works like a charm.

[2015-06-17 16:33] miyconst commented on #21
If an outgoing patch has `value = undefined` or no `value` at all, then puppet throws an exception: `OPERATION_VALUE_REQUIRED`, **but** if the value is an object with an undefined property, then such patch goes through validation.

I have added three new tests, but not yet pushed, as one of them fails.

[2015-06-17 17:57] alemoi commented on #62
Throwing an exception does not disconnect the websocket. Disconnect should be called explicitly with a message.

[2015-06-18 07:42] warpech commented on #62
I reopened https://github.com/Starcounter/Starcounter/issues/2332

[2015-06-18 07:43] warpech commented on #21
Good catch! Can you propose a solution that passes this test?

[2015-06-18 07:49] warpech commented on #56
Great!

[2015-06-18 07:49] #56 closed

[2015-06-18 07:50] warpech commented on #37
What is the exception message?

[2015-06-18 07:51] warpech commented on #58
@tomalec can you review?

[2015-06-18 07:53] warpech commented on #61
For future reference, quote from @Starcounter-Jack from another thread (https://github.com/PuppetJs/PuppetJs/issues/58):

----

We should review the spec. Keep the below principles in mind when reasoning about this:

## Core usage

At the core, the server side JSON document (puppet) must be able to be created using REST principles. This is important as some client implementation would prefer this

[2015-06-18 07:56] warpech commented on #61
Just my 3 cents for the point 3. The client needs to let the server know the URI for which it wants a Puppet session, so the request 3. becomes:

[code]

[2015-06-18 08:05] tomalec commented on #37
Pure OT solution would be that server responds with `{op: "replace", path: "_ver#s", value: "1"}` at 7.

[2015-06-18 08:17] miyconst commented on #21
Looks like we have to check the outgoing changes recursively, remove private properties and check values, if there is an undefined value then replace it with `null` or throw an exception.

[2015-06-18 08:22] warpech commented on #63
I agree that this is a problem that needs to be solved. The proposed solution might be desired in production mode, but it masks the problem instead of solving it. And I am not sure if it is actually a problem.

## A. It masks the problem instead of solving it

What you proposed is simply:

1. Client asks: give me `/people/person/5`
2. Server says: here is what you wanted, session id: `AAAA`
3. Cli

[2015-06-18 08:29] warpech commented on #37
Why? Because in step 6 the client said that it knows `_ver#s: 0`?

[2015-06-18 08:38] miyconst commented on #37
My bad, it actually hangs, the exception occurs if the received patch was already applied.

[2015-06-18 08:39] tomalec commented on #63
What about:

- A.4.a. (server renewed same session, and identified both view-models)
Server says: here is what you wanted, change `FullName`, new session id: `BBBB`
- A.5.a. Client applies patch, and updates `this.remoteUrl`

- A.4.b. (server restarts the session, as something went wrong)
Server says: here you have full JSON viewm-model, and new session id: `BBBB`
- A.5.b. Client may show an error

[2015-06-18 09:47] tomalec commented on #37
@warpech  because versions should be increased consecutively, and I se no `{op: "replace", path: "_ver#s", value: "1"}` in this flow.

[2015-06-18 10:09] warpech commented on #63
The remaining question is how to identify the error case (b):

1. It is an error if a party replaces the root object
2. It is an error if a party sends a version number (`_ver#s`) lower or equal than the previously sent version number. So that after sending `_ver#s: 5` it is considered an error to send `_ver#s: 0`

Solution 1 is somehow limiting but makes sense to me... Session is like serving foo

[2015-06-18 10:13] warpech commented on #37
I think that in Konstantin's case it is true that server closed the connection imperatively, which means that it SHOULD push the pending `_ver#s: 1` patch before disconnection. If it doesn't do that then it is an error.

But what in case when the server increased `_ver#s` to 1, but that patch never reached the client, because it was eaten by the gateway, middleware, etc. How could we recover from

[2015-06-18 10:14] warpech commented on #21
Let's do the first part of the above sentence. Do the same validation it does now, only recursively.

[2015-06-18 10:36] chrhol commented on #37
This is a good point. I think the client, when reconnecting, either need to ask the server for all patches from a version or just asks for the whole viewmodel. for the first option, we need to save all patches that the client have not confirmed that it have received.

[2015-06-18 10:48] tomalec commented on #37
Totally agreed, as I mentioned, [JSON Patch OT Agent ](https://github.com/PuppetJs/JSON-Patch-OT-agent) keeps a list of "pending" patches - patches that were send to the remote, but remote didn't confirm it get them.

So I would say that both peers should send such info to each other when re-connecting.

----

I don't think PuppetJs should solve the problem of someone filtering, and eating message

[2015-06-18 11:09] tomalec commented on #63
:stew: I like the food story :)

Ad. 2. JSON Patch Queue already throws an error - https://github.com/PuppetJs/JSON-Patch-Queue/blob/gh-pages/src/json-patch-queue.js#L61

[2015-06-18 12:49] warpech commented on #21
Actually I think we have to reconsider that to do in this case.

Let's assume the following code:

[code]

What I am sure is:

- We cannot implicitly replace `undefined` with `null`. They are different things.
- We cannot use the current error `OPERATION_VALUE_REQUIRED`, because there is a value. The problem is that it has `undefined` inside of it.

What options are we left with?

1. Create a copy

[2015-06-18 13:24] miyconst commented on #21
Current validation is implemented here: https://github.com/Starcounter-Jack/JSON-Patch/blob/master/src/json-patch-duplex.js#L632

And it is throwing `OPERATION_VALUE_REQUIRED` for `undefined` values, which should be replaced with `VALUE_OBJECT_CANNOT_CONTAIN_UNDEFINED`.

[2015-06-18 14:21] tomalec commented on #21
I would say, that
1. JSON Patch performance should not get hit if someone uses it for something else than JSON
2. If user wants to check whether JSON Patch that came from outside is valid, he/she may use on-demand validation, that may not be a bit slower,
3. PuppetJS, and Starcounter uses JSON as communication format, not JS,
4. If user knows what he's doing, and tries to use Puppet for non JSON d

[2015-06-18 15:08] warpech commented on #21
Fair enough!  PuppetJs in debug mode (currently ON by default) validates outgoing patches:

[code]

in which case the error should be reported. I am glad that we both agree :)

It should not be mixed. The current check for `undefined` value (`OPERATION_VALUE_REQUIRED`) should be kept. A new check for `undefined` property of the value (if the value is an object) should be added after it (`VALUE_OBJ

[2015-06-18 15:50] miyconst opened #64 "Add new validation rule: VALUE_OBJECT_CANNOT_CONTAIN_UNDEFINED"
By @warpech in https://github.com/PuppetJs/PuppetJs/issues/21

Fair enough!  PuppetJs in debug mode (currently ON by default) validates outgoing patches:

[code]

in which case the error should be reported. I am glad that we both agree :)

It should not be mixed. The current check for `undefined` value (`OPERATION_VALUE_REQUIRED`) should be kept. A new check for `undefined` property of the value (

[2015-06-18 15:51] miyconst commented on #64
@warpech I don't access to that repository.

[2015-06-18 17:18] warpech commented on #21
I meant that the issue should be created in JSON-Patch, because it is to be solved in JSON-Patch

[2015-06-18 17:20] warpech commented on #64
Unfortunately I cannot give you access there... I will ask @Starcounter-Jack. In the meantime, could you do it as a pull request?

[2015-06-18 17:29] warpech commented on #64
You should have access now

[2015-06-18 17:29] warpech commented on #64
Please recreate this issue in JSON-Patch issues board

[2015-06-18 17:29] #64 closed

[2015-06-19 07:50] miyconst commented on #43
@warpech can this issue be closed? For ws connection we have another issue.

[2015-06-19 15:43] warpech commented on #43
Looks good, thanks!

[2015-06-19 15:43] #43 closed

[2015-06-21 09:46] miyconst opened #65 "PuppetJs and Polymer 1.x"
Polymer 1.x does not automatically track changes in bound js object. `this.set` and `this.notifyPath` methods should be used to notify Polymer that a property of an object was changed.
https://www.chromium.org/developers/polymer-1-0

After each server change in `puppet.obj` I have to explicitly notify Polymer that there were changes:
[code]

The `puppet.patchreceived` occurs after patch received,

[2015-06-21 09:50] miyconst commented on #55
Ping @tomalec & @warpech. Is this issue important?

[2015-06-21 09:54] miyconst commented on #42
@warpech should I add a checkbox to `starcounter-debug-aid` to `PuppetDOM` `listen/unlisten`?

[2015-06-21 09:56] miyconst commented on #41
@warpech, if this is an important issue, let's discuss how to implement it.

[2015-06-21 09:59] miyconst commented on #36
@tomalec is this issue still relevant? It looks like the validation has been moved to https://github.com/Starcounter-Jack/JSON-Patch/blob/master/src/json-patch-duplex.js#L622.

[2015-06-21 10:12] miyconst commented on #15
@warpech, I have checked this scenario in PuppetJs/lab/Polymer and it works fine for me:

[code]

`resetNameClicked$` sets value to *Isaac Newton* and morph to `index.html` sets value to *Albert Einstein*.

There are two requests in debugger:
1. `resetNameClicked$`.
2. Morph `index.html`.

In the result I see *Albert Einstein* not *Isaac Newton*, which is correct.

[2015-06-22 07:47] warpech commented on #65
Good investigation! Please push it to a new branch, so we can have a look.

[2015-06-22 07:56] warpech commented on #41
Yes it is still relevant, though not very urgent because the server deals with casting values to the desired type. I will be happy to review your suggestions on implementing it.

[2015-06-22 07:56] warpech commented on #42
Yes, totally!

[2015-06-22 08:05] tomalec commented on #36
I'm not sure if it's still reproducible, but we still validate on apply https://github.com/Starcounter-Jack/JSON-Patch/blob/master/src/json-patch-duplex.js#L549
The question is how PuppetJS uses it with versioning.

[2015-06-22 08:06] warpech commented on #55
Yes.

The only solutions I can think of are:

1. PuppetJs should not remove `Location` cookie, so that other instances can read it
2. PuppetJs should copy the value of `Location` cookie to a global variable and then delete the cookie. Other instances of PuppetJs can read the value from the global variable

I think solution 2 is better

[2015-06-22 08:51] miyconst opened #66 "puppet-dom does not catch link clicks inside web componenets"
In André's application puppet-dom does not catch link clicks inside his own Polymer component.

I try to reproduce the issue, and will ask André for the source code if no success.

[2015-06-22 10:48] #66 closed

[2015-06-22 11:03] miyconst commented on #65
Done. Here the new branch: https://github.com/PuppetJs/PuppetJs/tree/issues/65

The demo is inside /lab/Polymer_1 folder. All of the bower dependencies are commited.

[2015-06-22 11:36] tomalec commented on #55
@warpech, I think that both solutions you proposed will not work when you connect to two different removes, as Location cookie form one will overwrite `remoteURL` of another.

[2015-06-22 11:45] warpech commented on #55
True. Ideas?

[2015-06-22 11:58] tomalec commented on #55
Maybe we should limit & simplify usage of cookies in Puppet communication, and:
1. Read cookie on init, to set default `remoteURL` if nto provided, then
2. Read only `X-Location` response header to change `remoteURL` in runtime, as the response will be read by sender - applicable instance.

However, I'm not sure how it will work with morphed pages, and WebSocket connections (but those were not cov

[2015-06-22 12:13] miyconst commented on #42
Done, however disabling morphing breaks apps which use `redirectUrl`. Puppet-dom not only listens to mouse click, but also to history change event.

When disabled, `juicy-redirect` changes url, but not loads new page.

[2015-06-22 12:16] miyconst commented on #66
@warpech, `puppet-dom` has a public function `PuppetDOM.prototype.findShadowRoots` which is not used any more. Does anyone use it outside of `puppet-dom`, can I remote it?

[2015-06-22 12:28] warpech opened #67 "redirectUrl doesn't work with unlisten"
Continuation from https://github.com/PuppetJs/PuppetJs/issues/42:

`redirectUrl` pattern used in few of our demo apps doesn't work with page morphing disabled.

The pattern relies on server updating the value of `redirectUrl` property in JSON. Client uses a Custom Element called `puppet-redirect` that is bound to changes of that property. When there is a change of value, it morphs the page into th

[2015-06-22 12:28] warpech commented on #42
Great problem to have! I created a separate issue for it

[2015-06-22 12:29] warpech commented on #66
It was supposed to be for internal use only. You can remove it.

[2015-06-22 12:47] miyconst commented on #66
Removed. Now `puppet-dom` is about twice less in size.

[2015-06-22 12:54] miyconst commented on #67
+1 to this.

I thought that we could somehow use native `http redirect` with status code `300`, but it is impossible when changes come from WebSocket.

Maybe `puppet-dom` should does full page reload instead of ignoring history change when unlisted?

[2015-06-22 13:11] miyconst commented on #41
I really don't know how that could be achieved without headache.

For example, the mode:
[code]

The html:
[code]

To what type the value should be cast?

We could remember first type of each property of the initial model, but how to deal with entire object replacement?

I think, that this problem should be solved on WebComponents level. If there is a component `date-picker`, which has three drop

[2015-06-22 14:21] warpech commented on #41
Web Components are actually the reason this issue was created. On DOM level, Custom Element attribute values are always strings. Some clever frameworks do the type conversion, but it should be expected that a numeric value will be converted to string by the client side framework.

Could you do some research how client side frameworks that use HTML to define the view (Polymer 1.0, Angular, Knockout

[2015-06-22 15:19] tomalec commented on #67
I don't think so. When I disable listening, I usually to ignore the changes, not to postpone reaction. Compare with `.removeEventListener` to any kind of element, and event.

[2015-06-22 18:07] miyconst commented on #41
## Polymer 1.x
Introduced property types, looks like this:
[code]
But the value still became string, if bound like this:
[code]

## Angular
I don't have any experience with Angular, can investigate if needed though.

## KnockoutJs
All of the values bound  to input/select/textarea are converted to string, and sometimes it is very annoying.

[2015-06-22 19:15] warpech commented on #41
So, in KnockoutJs there is no way to force type conversion? Can you investigate Angular? This confirms that we need to solve this at Puppet level

[2015-06-23 07:53] miyconst commented on #41
KnockoutJs has `observable.subscribe` function, which fires each time new value set. The callback can be used to force strict type, but can't be used together with html binding, because it leads to an infinite loop.

[code]
[code]
After binding applied to the input, the value will be changed to `"1"`, but then callback fires and changes it back to `1`, and the loop starts again.

There is a workar

[2015-06-23 08:57] miyconst commented on #41
AngularJs has some features, but also does not maintain original property type, here is a small playground:
https://jsfiddle.net/79ftv1fy/

The features:
1. Converts incoming values from `<input type="number" />` to `Number`.
2. Newer version has a `convert-to-number` directive. https://docs.angularjs.org/api/ng/directive/select

[2015-06-23 15:42] tomalec commented on #66
:clap: Fixing, and adding features by removing the code - That's what we call "Extreme Clean Solution" :trophy: ;)

I've released it as a new version [1.2.0](https://github.com/PuppetJs/PuppetJs/releases/tag/1.2.0), do you think that's worth mentioning in release notes?

[2015-06-24 07:09] miyconst commented on #66
It does not add any major features, just a bug fixing and code refactoring, not that important for a special mention. Of course, if you would like to mention it, I have nothing against.

[2015-06-24 12:01] warpech commented on #66
I think every bug fix needs to be mentioned in release notes - that's what release notes are for

[2015-06-24 14:50] warpech commented on #65
@tomalec can you review it so we can discuss it tomorrow?

[2015-06-25 09:40] warpech commented on #15
Closing as fixed

[2015-06-25 09:40] #15 closed

[2015-06-25 11:54] warpech commented on #35
The problems in the first and second message of this thread are different. But they all break down to the same core: `ignoreAdd` does not correctly prevent the client from making illegal changes to the JSON schema which is strict for server.

Thus, I propose to have a `ignoreLocalSchemaChanges` option, which in beginning can be boolean and in future can be expanded to be a function if there is suc

[2015-06-25 14:12] warpech commented on #42
I think this is solved. Problems that result from page morphing being disabled (such as #67) should be tracked in separate issues.

[2015-06-25 14:12] #42 closed

[2015-06-25 15:13] warpech opened #68 "Reformat WebSocket disconnection message"
Currently, the message in case of disconnection says:

![image](https://cloud.githubusercontent.com/assets/566463/8357482/615337f2-1b5b-11e5-8653-ed1f03b3d8c6.png)

It should be `console.error`, not `throw new Error`.

In case there is a reason, the text should say:

In case there is no reason, the text should say:

[2015-06-25 15:15] tomalec commented on #35
For sure providing optional JSON scheme is cool and clear feature, for sure worth adding.

However, I'm afraid of performance hit. Maybe we could keep it some how as a separated layer.
As some well-behaving clients may not need it at all, or could live with `ignoreAdd`, `ignoreAny` for the path itself (not nested objects).

[2015-06-25 15:28] warpech commented on #35
Yeah, the performance would suck :(

Another simple solution, which does not break the API, is to just recursively filter out the properties that match the `ignoreAdd` regexp if the value is an object.

This, plus workaround explained in the first message of this thread, should fix the problem.

[2015-06-25 15:39] malx122 commented on #35
I'm still to lost on implementation to do a meaningful input, but I can give you the exact reason for using them:

Let say you have list from server:
[code]
You want to use the data in the client as a table/list and have a renderer component that will be created to each data in the list. Then lets say the renderer has a client state (collapsed or full view as an example) it want to keep track of.

[2015-06-25 15:46] warpech commented on #67
So basically this means that [puppet-dom.js line 28](https://github.com/PuppetJs/puppet-redirect/blob/gh-pages/src/puppet-redirect.html#L28) could be changed from:

[code]

To:

[code]

if only `<puppet-redirect>` would knew which instance of PuppetJs is listening...

Currently it does not know that. The `puppet-redirect-pushstate` DOM event is broadcasted to all PuppetJs instances, which is probl

[2015-06-25 16:02] warpech commented on #63
I propose the following solution:

1. If server replies with a patch that replaces the root (any patch where `op` is add/replace/delete and `path` is an empty string), PuppetJs calls `console.error` with `Puppet error. The server replaced the session` and then **applies** the patch.
2. The above situation should be overridable with a custom `<template>` which displays a friendly error message on t

[2015-06-25 16:17] warpech commented on #55
1. Read cookie on init, to set default `remoteURL` if nto provided, then
2. Read only `X-Location` response header to change `remoteURL` in runtime, as the response will be read by sender - applicable instance.

So the only change from current code is that cookie should be only read on init, and only if `remoteUrl` is not provided. Do you confirm?

If yes then I agree. Additionally, cookie handlin

[2015-06-25 16:21] tomalec commented on #63
I like the idea, but I'm not sure how would you override PuppetJS Js behaviour with HTML template

[2015-06-25 16:26] warpech commented on #37
So you say PuppetJs should not solve the problem but actually in C you propose a solution :) Or is it incomplete?

A problem that I see with point C7 is currently we treat is as an error: https://github.com/PuppetJs/JSON-Patch-Queue/blob/gh-pages/src/json-patch-queue.js#L61. We can change it to be a warning.

[2015-06-25 16:27] tomalec commented on #67
+1 for the markup as it semantically explains everything. The only problem is that, this would work for `<puppet-client>` only and not for plain PuppetJS. I think it maight be ok, as we could also create JS-only version of puppet-redirect, that will just take puppet instance as optional parameter, otherwise listen to document events.

Plus for `<puppet-redirect>` we can provide `ref` attribute in

[2015-06-25 16:31] tomalec commented on #55
I do :)

:+1:

[2015-06-25 18:08] warpech commented on #63
PuppetJs allows to provide a callback and PuppetDom uses that callback?

[2015-06-25 20:10] warpech commented on #67
For plain PuppetJs I propose to use `window.puppet`, overridable by setting `<puppet-redirect>.puppet`

[2015-06-25 20:11] warpech commented on #55
Cool! @miyconst could you do the change, on a separate branch?

[2015-06-26 06:50] tomalec commented on #37
Yes i do. But this is not a solution for all missing messages, only for re-sending pending messages, so somehow extending existing feature.

It will not send an error for C7 as patches 1 and 4 are processed on server, but you are right if we have PuppetJS, and JSON-Patch-OT-agent.js working on server as well, it will be an error, as 1 was already applied, in such case we should make it as warning,

[2015-06-26 06:52] tomalec commented on #63
but Puppet-dom is still a pure JS script  not a custom element, and have nothing to do with template

[2015-06-26 07:54] warpech commented on #63
PuppetDom is DOM-aware, as the name says... So it can support stamping out templates that are provided via options or as a child element of `<puppet-client>`.

[2015-06-26 10:21] #68 closed

[2015-06-26 13:52] miyconst commented on #55
The new branch: https://github.com/PuppetJs/PuppetJs/tree/issues/55---Multiple-puppet-client.

`<puppet-client>` also got some changes, - https://github.com/PuppetJs/puppet-client/tree/issues/55---Multiple-puppet-client.

[2015-06-26 13:54] miyconst commented on #41
Ping @warpech.

[2015-06-26 13:55] miyconst commented on #21
The https://github.com/Starcounter-Jack/JSON-Patch/issues/73 issue is closed and merged, can this one also be closed?

[2015-06-29 06:25] #21 closed

[2015-06-29 12:03] miyconst commented on #55
@warpech, @tomalec, could some of you review the changes and give me the green light to merge?

[2015-06-29 12:18] warpech commented on #55
Looking at the code, this is totally how I imagined it.

@tomalec please do a final review. When done, please reassign it back on @miyconst for merging.

After this is released, all code samples given in first message of this thread should work the same way.

[2015-06-29 12:37] warpech commented on #21
To wrap up... What will be the current behavior in case described in the first message of this thread?

[2015-06-29 13:15] warpech commented on #41
As it turns out from your investigation (thanks a lot for that!), modern frameworks have a way to keep the type. I think we don't have to work on that then. If someone doesn't agree, please reopen.

For future consideration: Since this issue is related to keeping the intended structure of JSON, I propose that this should be solved using JSON Schema (similarly to https://github.com/PuppetJs/PuppetJ

[2015-06-29 13:15] #41 closed

[2015-06-29 13:16] warpech commented on #35
@tomalec WDYT about https://github.com/PuppetJs/PuppetJs/issues/35#issuecomment-115293441?

[2015-06-29 13:38] warpech commented on #65
From my perspective it looks like we are on a right track but still a lot of work before us. It is great that it works at all!

Defining a custom element (`index-root`) is a good start, but it removes the declarative usage of templates that we have now with Polymer 0.5.

The desired way to use it:

[code]

@miyconst, @tomalec - WDYT?

[2015-06-29 13:46] miyconst commented on #21
The patch
[code]

Won't pass validation and the `OPERATION_VALUE_REQUIRED` exception will be thrown.

[2015-06-29 14:01] miyconst commented on #65
Yes, this looks better. I will try to make it work in this way.

[2015-06-29 14:09] miyconst commented on #55
Merged.

[2015-06-29 14:26] warpech commented on #21
Thanks!

[2015-06-29 14:43] tomalec commented on #55
Here is the only comment I have https://github.com/PuppetJs/PuppetJs/commit/0ab51521461ff547444dafe5aa929918f7f08456#commitcomment-11911586

[2015-06-29 14:56] tomalec commented on #65
Why do we need stuff in `window.addEventListener`, I thought puppet-client can do that

I'd also suggest to add another way to use it - a way to avoid `ref` and `id`:
[code]

[2015-06-29 15:25] tomalec commented on #65
Speaking of `patchereceived`/`patchapplied` events, I'm a bit afraid of `path.replace(/[/]/gi, ".")`
at [index-root.html#L66](https://github.com/PuppetJs/PuppetJs/blob/issues/65/lab/polymer_1/index-root.html#L66) and other regular expressions like `/^[/]_ver/gi.test(path)`, as we would need to make sure to handle all (escaped) special chars, plus regular expressions may be expensive.

Maybe we cou

[2015-06-29 15:40] tomalec commented on #35
LGTM, as I cannot see easier, and cheaper solution.

One thing that came into my min, as we are still discussing about "ignoring add", "ignoring any operation", "recursively or not", "strict typing", etc. maybe instead of solving it via sinngle ignore attribute, we could provide finally a missing concept of **JSON Patch Schema** :sunglasses:
- A defined structure to specify in both human-readable,

[2015-06-29 15:48] miyconst commented on #55
Accepted the comment.

[2015-06-29 16:03] tomalec commented on #55
Cool :) Could you also provide a automated test for multiple instances somehow? or would it be too much work mocking the servers?

[2015-06-29 16:30] miyconst opened #69 "Add automated test for multiply puppet instances on a page"
By @tomalec at https://github.com/PuppetJs/PuppetJs/issues/55

[2015-06-29 16:34] miyconst commented on #55
Created a separate issue for the test. Closing this one.

[2015-06-29 16:34] #55 closed

[2015-06-29 17:47] warpech commented on #35
Good idea for https://github.com/json-patch/json-patch2 :)

@miyconst could you implement to solution described in https://github.com/PuppetJs/PuppetJs/issues/35#issuecomment-115293441? Please keep in mind that `ignoreAdd` should be tested not against the property name but against the full JSON Pointer to the property.

[2015-06-30 16:11] #69 closed

[2015-06-30 16:39] miyconst commented on #35
@warpech, I do not understand what this means:

What is `JSON Pointer`?

If the `obj` is:
[code]

Check for `a` would be `obj.value.a`, not `a`?

[2015-06-30 16:44] warpech commented on #35
[JSON Pointer](https://tools.ietf.org/html/rfc6901) is the standard that defines values of the `path` property in JSON Patch.

JSON Pointer for `a` is `/value/a`.

[2015-06-30 17:07] miyconst commented on #35
A summary for all of the discussions:

1. The value of any json patch should be checked recursively, not only the path of the patch.
2. The check should be applied over json pointer, not the property name.
3. The check should be applied for both (add, replace) patches.
4. Remove ignoreCache.

[2015-06-30 17:57] tomalec commented on #35
What about other operations (`test`,`move`,`remove`,`copy`)?

[2015-06-30 18:17] warpech commented on #35
Just to remind, "ignoreAdd" means: "quietly accept a change on client without sending a patch about it to the server".

I originally put little thought into this, but my conclusions were:

- `from` and `to` should not be ignorable, because it would lead to some serious change in scheme between client and server. If anything, then for `move` and `copy` both `from` and `to` paths should be checked
-

[2015-06-30 19:21] miyconst commented on #35
Sounds good to me.

[2015-06-30 23:10] tomalec commented on #35
to me as well :)

[2015-07-01 06:13] miyconst commented on #35
Now available for check.

Puppet clones the object before removing private properties.

Let's rename the `ignoreAdd` to `ignorePath` then.

[2015-07-01 06:49] miyconst commented on #21
I have added some automated tests for `OPERATION_VALUE_REQUIRED`  and `OPERATION_VALUE_CANNOT_CONTAIN_UNDEFINED` exceptions.

[2015-07-01 07:03] miyconst commented on #65
I tried not to change `puppet`, `puppet-client` and other existing libraries. Should I change those libraries in the branch?

The changes @tomalec propose would also be welcome for `Polymer 0.5`, that is why I would like to keep puppet *improvements* and *migration* to `Polymer 1.0` as separate tasks, and don't mix it up.

[2015-07-01 08:15] warpech commented on #51
#58 is solved now. @miyconst can you check what does happen now if the server returns a page without a session?

[2015-07-01 08:28] tomalec commented on #65
:+1:

[2015-07-01 08:32] miyconst commented on #51
Server does not return `x-location` header/cookie if there is no session, that is why puppet tries to open ws connection to the initial `remoteUrl`, which is equal to `windlow.location.href`, and then fails with an exception:

[code]

P.S. I was testing on Images app.

[2015-07-01 08:32] warpech commented on #60
Update:

1. This is already solved
2. Please fix and release this the same day as https://github.com/Starcounter/Starcounter/issues/2791
3. This is already solved. In future it can be extended to obtaining the whole viewmodel through WS (without `application/json` request on bootstrap), because why not! It is just an idea... There is no issue about that

[2015-07-01 08:44] warpech commented on #65
[code]

This feature proposal is already tracked in other issues:
https://github.com/PuppetJs/PuppetJs/issues/67#issuecomment-115299616
https://github.com/PuppetJs/PuppetJs/issues/63#issuecomment-115304598

I agree to keep the current issue to Polymer 1.0. upgrade only, without adding new features.

[2015-07-01 14:21] warpech commented on #51
I guess this error comes from the web browser, not from PuppetJs. Is this a fatal condition for PuppetJs or just a warning, after which PuppetJs works in HTTP PATCH mode?

If this is not a fatal condition for the client then I think the problem is solved. The programmer should understand from the error message that he needs to set `useWebSockets` to false on client, or implement WS on server.

[2015-07-01 15:14] tomalec commented on #35
As @miyconst pointed out, we forgot that previously we used `ignoreAdd` to ignore all add operations as SC does not support them. Maybe we should then have:
 - `ignorePath: /.*pattern/` that ignores any operation (recursively) which JSON Pointer matches given regexp
 - `ignoreAdd: true` that ignores all add operations

WDYT @warpech?

[2015-07-01 15:41] miyconst commented on #51
This is an error from PuppetJs:

[code]

App in such state is not usable. The servers responds with `406` to `GET application/json-patch+json` requests and `404` to `PATCH application/json-patch+json` requests.

[2015-07-01 16:21] warpech commented on #35
It's not that SC does not support `add` operations only. In fact, SC does not support client-side schema changes as a design choice. That's why I proposed `ignoreClientSchemaChanges` as a conceptual solution, but we dismissed it because of performance.

Nota bene `add` property may or may not be a schema change (consider adding a property to an array). Originally, we assumed that all `add` propert

[2015-07-01 16:47] warpech commented on #51
I think this is OK for the client.

I find the 404 response to be misleading and that should be fixed on the server side. I will create a separate issue about that.

[2015-07-01 17:31] warpech commented on #35
:facepunch: Seems that I am more wrong than right recently...

Given that `<puppet-client>`'s current default setting is `ignoreAdd = /.*/`, it impossible to achieve compatible functionality with the `ignorePath` solution proposed above. As discussed with @miyconst on a Hangout, we decided to revert all the changes made today in `ignoreAdd`.

We need to rediscuss a solution that fixes the problem

[2015-07-01 18:13] warpech commented on #49
After recent fix in #58, now we have a more meaningful cavalcade of errors:

![image](https://cloud.githubusercontent.com/assets/566463/8461451/f69d8bac-202c-11e5-981e-febd2848a71c.png)

These errors come because client tries to upgrate to WebSocket when there is no session:

[code]

These errors come because client falls back to HTTP PATCH when there is no session:

[code]

This is better than be

[2015-07-01 18:13] warpech commented on #51
Closing as fixed. Changing the misleading server responses is tracked in #49.

[2015-07-01 18:13] #51 closed

[2015-07-01 18:23] #60 closed

[2015-07-02 15:48] miyconst commented on #65
I have reworked `index-root` to be `<template is="puppet-dom-bind">`. There are some problems:

1. Polymer 1.0 does not yet support inheritance, that is why I copied code from `<template is="dom-bind">`.
2. I could not find a way to obtain model by html element in Polymer 1.0, that is why I used js function to handle click instead of inline handlers.

[2015-07-03 16:38] warpech commented on #65
1. How about not copying code from `<template is="dom-bind">` but importing `dom-bind` it and wrapping it inside `puppet-dom-bind`?
2. I also couldn't find a way to do it, but there must be. @tomalec can you help?

[2015-07-06 07:57] miyconst commented on #65
1. This is not possible. We cannot use `<template is="dom-bind">` inside any Polymer element.

This does not work either:
[code]

[code]

In this case `{{model.text}}` being bound to model of `puppet-dom-bind` not the one inside it.

[2015-07-07 13:43] miyconst commented on #65
I tried to implement `imported-template` with polymer 1.0, and was able to achieve similar functionality with lots of hack. The new element name is `puppet-import`. In spite of

https://www.polymer-project.org/1.0/docs/devguide/templates.html#dom-bind

I still used `dom-bind` to stamp loaded html on the page.

The data model is the problem again. The template should be explicitly notified about ea

[2015-07-07 15:56] miyconst commented on #65
I have added `path` attribute to `puppet-include` element to solve problem 1 from the previous comment.

[2015-07-07 16:14] miyconst commented on #65
With those elements/hacks/changes I was able to make a somehow working Launcher + App using Polymer 1.0, can push source code to GitHub if needed.

[2015-07-12 15:19] miyconst commented on #65
Another problem discovered.

For Polymer 1.0 changes at path `/model/array/4` does not mean that the `/model/array` was aslo changed. This leads to bugs with `dom-repeat`.

[code]

Assuming that the `array` has three items. A patch comes from the server:

[code]

Even though I notify about each change with `this.notifyPath(path, value)` the `dom-repeat` won't be re-bound, because the `/model/array

[2015-07-13 06:03] miyconst commented on #65
I have added an ugly workaround for the previous issue, which calls `this.notifyPath("model.array", this.array.slice())`, was not able to find any better way.

[2015-07-19 13:30] warpech opened #70 "Can't create non-morphable links in the same domain"
I could not find another issue about this, so I'm starting a new one.

PuppetDOM click capturing makes it impossible to create regular links in the same domain. All links in the same host & port are treated by [isApplicationLink](https://github.com/PuppetJs/PuppetJs/blob/gh-pages/src/puppet-dom.js#L110) as "morphable", which may not be correct some at all times.

I don't have any specific proposal

[2015-07-20 08:48] miyconst commented on #70
Some specific css class could be used for this.

[2015-07-20 10:54] warpech commented on #70
CSS is for presentation, but a HTML attribute can be used indeed.

Should page morphing be opt-in or opt-out? Either we choose, it should not be hard to use. I think opt-out morphing would be easier to use.

Can we make it automatic? Gateway knows all the registered URI handlers, so theoretically that list could be exposed to the client for automated morphing of known URIs only.

[2015-07-20 11:08] tomalec commented on #70
+1 for opt-out

However automatic solution you proposed would be easier for opt-in.

I would say that since morphing is related to PuppetDOM, such configuration should not be part of core puppet protocol.

[2015-07-20 15:11] miyconst commented on #70
`opt-out` means that this anchor won't be morphed, if so, then I vote for this as well.

Something like this?
[code]

Then we have to teach client side to recognize the Starcounter url patterns. Also this makes impossible to add a non-morphing anchor to any registered handler.

It might be needed in some cases.

[2015-07-21 07:52] warpech commented on #70
Yes, by opt out I mean that link morphing should be on by default, unless you disable it by using an attribute.

This looks better:

[code]

[2015-07-21 07:59] miyconst commented on #70
Yes, looks good, but custom attributes are not valid in HTML5. It should be:

[code]
To pass w3c validator: https://validator.w3.org/nu/.

[2015-07-22 14:05] warpech commented on #70
To keep it valid and semantic, we could use:

[code]

https://developer.mozilla.org/en-US/docs/Web/HTML/Link_types

[2015-07-28 15:01] warpech commented on #65
In case we need to do without Polymer's data binding at all, here's some interesting alternatives (no particular order):

- http://rivetsjs.com/
- https://github.com/remy/bind.js
- http://www.ractivejs.org/
- http://gwendall.github.io/way/
- https://github.com/grnadav/databind
- http://vuejs.org/guide/
- https://muut.com/riotjs/

They all support two-way data binding including form elements, but s

[2015-07-28 15:06] tomalec commented on #65
Yes, as PuppetJs itself works fine with any Polymer versions, the thing we still struggle, is "how will we use Polymer 1.x template engine to render view model from JSON"

[2015-07-28 16:43] tomalec commented on #65
BTW, for migration of our use cases we could try http://polymerlabs.github.io/polyup/

[2015-08-24 10:43] miyconst commented on #37
Anything new in this issue? What is the priority?

[2015-08-24 14:57] warpech opened #71 "Session reconnection in case of lost response"
As discussed in https://github.com/PuppetJs/PuppetJs/issues/37#issuecomment-112757820 downwards, there may be a time where server response (e.g. `_ver#s: 2`) is irreversably lost due to network error.

This is a case when the server created a message `_ver#s: 2`, but it never reached the client. In result, the following server responses `_ver#s: 3`, `_ver#s: 4` will queue up on the client forever,

[2015-08-24 14:58] warpech commented on #37
Discussion about session reconnection is moved to another issue. Thanks for fixing the issue in topic!

[2015-08-24 14:58] #37 closed

[2015-09-11 09:04] warpech opened #72 "Add timeout to XHR requests"
Currently, if Puppet tries to init a XHR connection to a port blocked by a firewall, it just hangs.

We should introduce some timeout (I propose a default value of 5000 ms) to all Puppet's XHR requests.

- https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/Synchronous_and_Asynchronous_Requests#Example_using_a_timeout
- http://stackoverflow.com/questions/1523686/timeout-xmlhttprequest

[2015-09-24 13:20] tomalec opened #73 "[PuppetDOM] Do not morph pages for links with target="_blank""
as they are supposed to open new tab/window

[2015-09-24 13:31] #65 closed

[2015-09-25 11:47] warpech commented on #73
Actually I propose: don't morph pages with `target` different than undefined, empty or "self".

[2015-10-02 11:18] mtornwall commented on #70
+1 for a mechanism for opt-out.

[2015-10-02 11:21] warpech commented on #70
Simple hack is to add one line before the end of PuppetDOM.isApplicationLink:

[code]

[2015-10-02 12:19] mtornwall commented on #70
@warpech's proposed doesn't appear to solve the problem. In my tests I always have `typeof elem === 'string'`, so it always proceeds to create a new node (sans the `rel` attribute).

[2015-10-02 12:27] warpech commented on #70
Seems to be specific to Polymer... @tomalec can you take a look into that at some time in the future?

[2015-10-08 14:53] tomalec opened #74 "Change onPatchReceived, onRemoteChange, etc callbacks to Events"
PuppetJs already implements EventTarget API, so why shouldn't we use it for
 - `onPatchSent`
 - `onPatchReceived`
 - `onRemoteChange`
 - `onSend`
 - `onReceive`
 - `onError`
 - `onStateChange`
 - `onSocketStateChanged`
AFAIK those are used only to expose events to `<starcounter-debug-aid>` and to `<puppet-client>` - which then translates those callback to DOM events anyways.
So we use them to comm

[2015-10-08 14:56] tomalec commented on #74
BTW, should we then change names to `"socket-state-changed"`?

[2015-10-08 15:33] warpech commented on #74
Good idea! Note that standard W3C event names are lower case, single word: https://developer.mozilla.org/en-US/docs/Web/Events

[2015-10-10 17:13] warpech commented on #70
Polymer has a different pattern for a similar problem on https://elements.polymer-project.org/. They use an opt-in strategy:

[code]

src: https://github.com/Polymer/polymer-element-catalog/blob/master/app/elements/app-link/app-link.html

[2015-10-22 12:33] ivarbergman commented on #35
(using Starcounter 2.0.33)

Hi! Any news on this issue? We are having problems with arrays that are reordered by the server. But the new array order is not reflected in the `ignoreCache` array. Which result in `replace` patches are sent on some properties, that in reality should be ignored.

A quick fix, I am thinking about, is to change the puppet.js file.
1 - all `add` are ignored, and the path

[2015-10-22 14:25] warpech commented on #35
What is your current setting of ignoreAdd?

[2015-10-22 14:46] ivarbergman commented on #35
Right now I use the default `/.*/`

[2015-10-22 14:56] warpech commented on #35
Ok, thanks! We will put high priority on this.

[2015-10-22 15:01] ivarbergman commented on #35
Super! Thanks.

[2015-10-22 15:09] warpech commented on #70
I was thinking more about the opt-in idea, and I think it follows the Web Components way much better. In our case, this could be:

[code]

Of course, switching to an opt-in mechanism would hurt the existing apps, but it will degrade gracefully to a regular page reload.

@miyconst, @tomalec, @mtornwall, @malx122, @Starcounter-Jack, @jakubklekota does it make any difference for you?

[2015-10-26 07:34] miyconst commented on #70
I think, it is a good idea, even though we will have to fix all of our apps.

Right now puppet catches links like a magic, and with `is="puppet-link"` it will be obvious for developers, that this link will be caught by puppet, and if they don't know what that is, they will go to docs/wiki and learn.

[2015-10-26 07:35] mtornwall commented on #70
This.

[2015-12-08 11:58] warpech commented on #63
Related: https://github.com/Starcounter/Starcounter/issues/3084

[2015-12-08 11:58] warpech commented on #71
Related: https://github.com/Starcounter/Starcounter/issues/3084

[2015-12-08 15:01] miyconst opened #75 "Add bump method"
There should be a `bump` method which would increase client version and send an empty update to server.

[2015-12-08 19:05] tomalec commented on #71
Proposition for

## Session re-establish flow

1. Local changes are made:
 1. PuppetJS sends messages
 2. `puppet.queue` adds versions, etc
 3. `puppet.queue` typeof `-OT-agent` keeps a list of  `.pending/.pendingVersionedPatches` with all Versioned-JSON-Patches
as well as (at least for internal use) `.pendingMessages/.pendingPatches`

2. Somebody decides to re-establish connection, due to WS time

[2015-12-09 09:10] warpech commented on #71
Good idea! What we are still missing is to describe the protocol for "re-establishing" the connection. The primary work needs to be done in the [spec](https://github.com/PuppetJs/PuppetJs/wiki/Server-communication:-advanced-synchronization), then agreed with @chrhol and finally implemented.

There is no chance of finishing it this year, so let's get back to it in January.

[2015-12-11 17:29] andwah commented on #29
:+1: i think the order is important.  Imagine you change the "Name" property then invoke the "Save" operation.. then you may not get the right "Name"

[2015-12-12 10:39] warpech commented on #29
@mattiasmak has reported a similar problem with his app few days ago.

Let's reopen this issue to collect some thoughts.

The only idea that I have is to do something like:

[code]

But how to do that in HTML?

[code]

Or, using a static method:

[code]

[2015-12-14 08:29] mattiasmak opened #76 "Problems with Patches"
Consider the following example.

this.set('itemdropped.Somedata$', 1);
this.set('itemdropped.Someotherdata$', 2);
this.set('itemdropped.Evenmoredata$', 3);

// Trigger the patch.
this.set('itemdropped.Trigger$', this.itemdropped.Trigger$+1);

The patch does not put the the values is natural order and all values is not set when reaching the handler. I guess there's logical explainations due to asyn

[2015-12-14 08:34] warpech commented on #76
Related: https://github.com/PuppetJs/PuppetJs/issues/29

[2015-12-14 08:55] miyconst commented on #76
Not sure this is the best practice, but I used `setTimeout` in such cases. So, the order depended values were sent in different patches.

This might now work in the last version of `fast-json-patch` as `Object.observe` is no longer supported.

[2015-12-14 09:17] mattiasmak commented on #29
Is a helper method in puppet a solution? Send all properties to the methon and let puppet create the patch in the correct order?

puppet.triggerpatch({Somedata:1, Someotherdata:2, Evenmoredata:'data'});

Or do you want puppet.js to be as clean as possible?

[2015-12-14 10:05] mattiasmak commented on #29
Or we just use a | seperated string for now... But I don't like it.

[2015-12-14 19:29] tomalec commented on #61
There are two main reasons to optimize the Puppet flow:
1. Minify the numer of response checks for standalone mode,
2. Maximize the number of cacheable responses.

# Simplify standalone vs HTML partial mode
The idea is to make it more explicit, aligned with standards, and less magic.
To do so we will introduce partial specific mime type
[code]
which we will use in HTML Imports for partials. So, `i

[2015-12-21 10:11] miyconst commented on #63
Right now Session is maintained with empty patches every 15 seconds. Closing this issue as outdated.

[2015-12-21 10:11] #63 closed

[2015-12-26 13:37] mtornwall commented on #29
Darn, this just bit me too. :-)

While it's unfortunate that we cannot guarantee that the program write order is reflected in the patch, it isn't an insurmountable obstacle.

What we need is something akin to a [memory barrier](https://en.wikipedia.org/wiki/Memory_barrier) - a way of forcing Puppet to make sure that all writes that occurred before the barrier have been applied  (notice the vague w

[2016-01-08 09:43] mattiasmak commented on #35
How's this issue going? Any progress?

[2016-01-12 13:00] tomalec commented on #29
I'm afraid that as `Object.observe` was deprecated, it may hit us more often :(

I really like the @mtornwall Barier approach. So we could have methods to:
 - `.touch` - just calls dirty-check, to gather all already made changes, and put proceeding JSON Patch operation objects after
 - `.sync` - `.touch` and sync with server-side
 - `.async` - Similar to Polymer, just a sugar for @warpech `setTime

[2016-01-12 13:28] mtornwall commented on #29
@tomalec Great idea with the `touch`/`sync`/`async` function set; I think it's preferable to just the barrier I proposed above.

Regarding static vs instance I really prefer instance (despite how it appears in my example :-)). Perhaps Puppet could augment the model object with functions to do this? Alternatively, the model could have a property through which the Puppet instance could be accessed?

[2016-01-12 13:49] tomalec commented on #29
I do not like adding too many properties and methods, not to polute users
space, and not to have too much about GC, there is already parent property,
so in worst case we could add such property on root level.
12 sty 2016 14:28 "Martin Törnwall" <notifications@github.com> napisał(a):

[2016-01-12 14:10] mtornwall commented on #29
@tomalec Yeah, you're right. Perhaps `Puppet.method(model)` is the best choice, then? It's pretty easy to use, doesn't pollute the model object and has clear semantics. :+1:

[2016-01-13 15:52] warpech opened #77 "Explain how ping & "session expired" popup works"
On PuppetJs wiki, there is a document about how does [establishing the connection] work (https://github.com/PuppetJs/PuppetJs/wiki/Server-communication) and how does the [synchronization/OT](https://github.com/PuppetJs/PuppetJs/wiki/Server-communication:-advanced-synchronization) work.

There is no document about how the reconnection works and what event/callback is available to inform about the e

[2016-01-13 16:04] miyconst commented on #77
@warpech we do not have re-connection functionality. The only thing we have is backing up to http if websocket connection fails.

But if connection of the websocket drops after a patch was sent, then this session is no longer usable.

[2016-01-20 09:05] miyconst commented on #77
Ping.

[2016-01-20 09:27] warpech commented on #77
I meant what was done in https://github.com/Starcounter/Starcounter/issues/3084. Since there is no reconnection, the only thing that was done is ping and the "session expired" popup. Can you explain on the wiki page how does the ping work and when is the "session expired" popup triggered?

Isn't it? As far as I know, the session is still usable for the next 20 minutes (or whatever is the current s

[2016-01-20 09:53] miyconst commented on #77
Okay, this I can explain.

But:

There is no such popup, the popup says: "You have been disconnected from server. Please reload page." and looks like this:

![image](https://cloud.githubusercontent.com/assets/6435556/12445310/e1a0e984-bf63-11e5-91f3-f5bd9f6206ec.png)

The sessions lives on the server for the next 20 minutes, but we do not have any implementation to restore queue sync, once a patch

[2016-01-20 11:30] miyconst commented on #77
@warpech do you think this is enough:

https://github.com/PuppetJs/PuppetJs/wiki/Keep-server-session-alive

[2016-02-29 22:23] warpech opened #78 "Deprecation proposal: Remove EventDispatcher interface"
I would like to propose removing of EventDispatcher interface from puppet.js:

[code]

It was introduced to allow triggering DOM-compatible events from PuppetJS. But it is not needed anymore, because DOM-compatible events can be triggered more effectively from `puppet-client`.

Everything that is achieved with events can also be achieved with callbacks.

This might cause incompatibility with `star

[2016-02-29 22:29] warpech opened #79 "Deprecation proposal: Remove $parent"
PuppetJs supports special notation: a `$parent` alias. For example, the following notation:

[code]

Is equivalent to:

[code]

As of now, it does not work with Polymer 1.2 and 1.3, because Polymer creates an explicit binding to a path `model.deep.$parent.name` and ignores changes that are set on `model.name`.

It can be fixed by normalizing Polymer bindings:

[code]

But even better solution is t

[2016-03-01 13:54] tomalec commented on #78
:+1:
I think it would be nice if Puppet will use single and cheap system to communicate with outer world - callback. HTML custom elements may translate them to Events to be used in convenient way around the DOM

[2016-03-01 14:47] per-samuelsson opened #80 "Reflection on Server Communication wiki"
@tomalec

Nice read over at https://github.com/PuppetJs/PuppetJs/wiki/Server-communication.

How up-to-date is that, just generally?

Also, can you just hint to me in a few lines just a little more detailed on how this is achieved:

Basically, I think what I'm curious about is what trigger it to do that? Is it triggered by some content in the page (which seem unlikely, since you say its doing this

[2016-03-01 15:57] tomalec commented on #80
Thanks, however most of the work was dome by @warpech

It's _almost_ up to date ;)

The bigest change I found is, the fact that initial HTML should look like:
#### Custom Element way:
[code]
Then once `puppet-client` is attached to the document it established the Puppet connection

#### Pure JS way
[code]
once `puppet` instance is created it established the Puppet connection

---

Is that more-or-

[2016-03-01 16:00] tomalec commented on #80
@per-samuelsson If you would like to use Puppet with Polymer template binding you may prefer Polymer specific `puppet-client` -https://github.com/PuppetJs/puppet-polymer-client

Then you may use it as simple as:
[code]

[2016-03-01 18:24] per-samuelsson commented on #80
Thanks @tomalec, that's kind of what I need I think, I was basically just after some more knowledge on how its approached, and that kind of cover it.

Just one final thing, about this:

And part of that is shooting that request for JSON view model, right?

[2016-03-02 21:26] warpech opened #81 "onRemoteChange deprecated? (onLocalChange proposal)"
Since this commit (https://github.com/PuppetJs/PuppetJs/commit/126455697921be73b31809fc959246bf3132d50e), `onRemoteChange` is marked in README.md as "Deprecated".

Did we discuss it?

I would like to add a new callback `onLocalChange`, which is useful for `puppet-polymer-client`. But then I need to "undeprecate" `onRemoteChange`.

`onPatchSent` is almost suitable for me, but I dislike the fact tha

[2016-03-04 10:18] warpech commented on #81
cc @miyconst, @tomalec

The question is - do you agree to add `onLocalChange` and undeprecate `onRemoteChange`?

Alternatively, I would like to change the argument of `onPatchSent` and `onPatchReceived` to be the actual array (sequence of patches). Right now it is string.

[2016-03-04 10:27] miyconst commented on #81
If we need `onLocalChange` then it is very likely someone would also need `onRemoteChange`. So, I would either keep both or remove both.

I also thought so, and at some point was going to change it. Those events rise even if the patch received from the server is not a valid json, and this helps debugging. What if we extend the argument, not replace it?

[2016-03-04 10:30] tomalec commented on #81
Please note, the fact that patch was received does not mean it was applied, due to JSON-Patch-Queue.

I also like the idea to exposing data in already parsed format, but to avoid performance overhead of JSON parsing just for debugging/external use, I would prefer to parse it once for the queue and call back then.

Regarding renaming, I would like to rename `callback` argument to something more des

[2016-03-04 10:39] warpech commented on #81
Because of that, I think that I actually **need** `onLocalChange` and `onRemoteChange` - because my external JavaScript (in this case `puppet-polymer-client`) works on the local object.

[2016-03-04 10:40] miyconst commented on #81
Let's add `onLocalChange` and de-deprecate `onRemoteChange` then?

[2016-03-04 10:46] tomalec commented on #81
I think we are all agreed, aren't we?

[2016-03-04 11:35] warpech commented on #81
Yeah, thanks! Done

[2016-03-04 11:35] #81 closed

[2016-03-07 08:56] warpech opened #82 "ignoreAdd does not ignore"
@malx122 showed me that ignoreAdd does not ignore properly. Possible clues:
- the first observation comes a an `replace` property, not `add`

This is more likely to be caused by a bug in dirty checking

[2016-03-07 15:07] warpech commented on #82
I know what is going on.

When PuppetJS is applying external patch, Polymer starts it's own notifications. In @malx122 case, this means adding a new property `_collapsed` with a value `true`.

This all happens in period which is **unobserved** in PuppetJS (line https://github.com/PuppetJs/PuppetJs/blob/59f9f1efd1b714e157c9d501db8740c4fbae3dbc/src/puppet.js#L636). Because of that, the newly created

[2016-03-07 15:33] warpech commented on #82
In point 2, I sugest this:

[code]

instead of this:

[code]

It makes `ignoreAdd` not needed

[2016-03-07 15:42] warpech commented on #82
cc @tomalec, @miyconst - WDYT?

[2016-03-07 16:11] tomalec commented on #82
2. LGTM
(in your example you probably ment `enumerable: false`

[2016-03-07 16:13] warpech commented on #82
Sure! Thanks, fixed

[2016-03-07 16:43] miyconst commented on #82
I also vote for the second solution, but my concern is Polymer observation and bindings. Does it work with `enumerable: false` properties?

[2016-03-31 11:47] warpech opened #83 "New name for PuppetJs"
Whenever I speak to people working as devops, they ask me if PuppetJs is an interface to [Puppet](https://en.wikipedia.org/wiki/Puppet_%28software%29), a very popular configuration management tool.

Of course it is not related. We should change the name to be something with no overlap with a popular library.

Another reason is that I would like to drop the "Js" part from the name. PuppetJs actuall

[2016-03-31 14:09] miyconst commented on #83
PuppetJs is a completely fine name for me, as I am not familiar with the popular Ruby Puppet library. Anyway, I agree with all of the statement above, and ready to rename it to something else.

The name should at least somehow explain of what it is. I dislike names such as `bower`, for me it's like Chinese characters, you either know it or don't know and not able to read.

My poor fantasy came up

[2016-04-06 18:47] andwah commented on #70
*bump*

[2016-04-11 08:21] malx122 commented on #82
Ok, we need to do something fast here since we need to modify puppetjs for every single installation now which is not ok.

we change line 511 from:
[code]
to:
[code]

[2016-04-11 08:52] warpech commented on #82
@malx122 Did you try with the solution (2) proposed above?

[2016-04-11 08:55] malx122 commented on #82
Nope, didn't try. A little afraid about how many places we need to change (and to miss a couple of places)

[2016-04-11 09:01] warpech commented on #82
I can add a warning when `ignoreAdd` is used, so that you will be notified when you use it.

[2016-04-11 09:01] warpech commented on #82
Meanwhile, maybe we can find a way to get rid of `ignoreCache`. Could you check if the following line works OK for you?

[code]

[2016-04-11 09:05] malx122 commented on #82
You have to explain Object.defineProperty a little more. Where does it comes from. Do I need to use it every time I change the value or only first time. Is it part of your object observer shim that I'm not a fan of to begin with ;)?

[2016-04-11 09:08] malx122 commented on #82
That line does not work, but it might be a bug from our side. (We get some random adds that not part of the ignorepattern and that should not have been "add"s, but it happens so seldom that I don't know how to fight it. Still it happens on our client servers and its not allowed to...)

[2016-04-11 09:10] warpech commented on #82
[`Object.defineProperty`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/defineProperty) is a standard JavaScript method that allows to add properties to JS objects with special behavior:

- make a property non-enumerable (that's what we need)
- make a property readonly
- define a setter or getter function

[2016-04-11 09:13] malx122 commented on #82
Ok, so it does not enumerate on your object observer shim then?
Will it still work within all shims and stuff relating to Polymer on different platforms then?

[2016-04-11 09:19] warpech commented on #82
You need to use it only the first time after the object was created (and also after the object was replaced with another object).

So actually this might work:

[code]

Then you need to replace each line that changes the ignored property:

[code]

With:

[code]

[2016-04-11 09:22] warpech commented on #82
Will it still work within all shims and stuff relating to Polymer on different platforms then?

We don't have an object observer shim since few months. We do a recursive loop on the `Object.keys` of the object, which will only see the enumerable keys of that object.

That is what @miyconst also asked ("*my concern is Polymer observation and bindings. Does it work with enumerable: false properties?

[2016-04-11 10:09] warpech commented on #82
On the second thought that would not work because it changes the meaning of `ignoreAdd`.

For example `ignoreAdd = /.*/i` means ignore **adding** of properties of any name. Not ignore **adding, replacing, deleting** of properties of any name.

Please check `Object.defineProperty`, because that is our best shot.

[2016-04-11 10:10] malx122 commented on #82
That is kind of a shim/replacement by itself, isn't it?

Nope, since Polymer uses shims ant other stuffs by itself to cover some missing features in some browser, I'm worried that this might not be the case if you start removing standard things like enumerable properties.

[2016-04-11 10:39] warpech commented on #82
I created a JSFiddle that tests non-enumerable property with Polymer. It works OK in Chrome, Firefox and Edge. https://jsfiddle.net/warpech/3rjfdxt6/

[2016-04-11 10:44] warpech commented on #82
Yes, it is a replacement and not a shim.

The only shim that Polymer uses is this: https://github.com/webcomponents/webcomponentsjs. It shims 5 different APIs, but none of them is used for notification about data changes. The data change notification protocol is something close to a pub/sub mechanism, implemented just in Polymer and explained here: https://www.polymer-project.org/1.0/docs/devguide

[2016-04-12 09:44] mattiasmak opened #84 "Honor url hash"
I have a question/request that would help us a lot. I can describe the use case in detail if needed. But in short: when morphing url, can you honor the hash part of the url? I understand that you don't use the url hash and do not intend to so it won't have an impact for you in any negative way.

[2016-04-13 08:52] warpech commented on #84
How would you like the hash part to be honored? Can you write an example scenario?

[2016-04-14 10:42] warpech commented on #49
The issue was reported today again by @niklasbjorkman.

When you forget to set `page.Session` in your C#, this is the error that you get:

![2016-04-14 12_38_44-client-side using polymer](https://cloud.githubusercontent.com/assets/566463/14525536/33c95260-023e-11e6-97f5-6728754122d7.png)

This is super confusing. I will think of a solution.

[2016-04-19 09:00] mattiasmak commented on #84
Leave it as it is basically. Now any hash is overwritten

[2016-04-25 08:46] miyconst commented on #77
Closing this issue as done.

[2016-04-25 08:46] #77 closed

[2016-04-25 08:51] miyconst commented on #35
@warpech, at some point you suggested to remove the `ignoreAdd` and use non-enumerable properties. Example is available here: https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Global_Objects/Object/defineProperty#Enumerable_attribute.

Is this suggestion still up to date, and whether we are going to provide any other solution?

[2016-04-25 08:56] warpech commented on #35
The suggestion is still there. See https://github.com/PuppetJs/PuppetJs/issues/82 for examples and JSFiddle.

@malx122 confirmed that is solved the problem for him.

[2016-04-25 09:25] miyconst commented on #35
Can we close the issue and write a starcounter.io page for this solution then?

[2016-04-25 13:32] tomalec commented on #83
Maybe let's first decide which part we would like to name. Probalby we need names for all/most, but narrowing and describing the case may help us

1. Entire organization,
2. The protocol/communication pattern
3. Library to keep JSON synced in p2p, c2s communication via JSON-Pacth and WS/HTTP

(better descriptions welcome as well)

:+1: for dropping -JS.

I like the "remote" - as we let you use rem

[2016-04-25 13:35] tomalec commented on #79
LGTM,
I don't think we have any real use-case for `$parent`. On the other side it cost us a lot (performance, maintenance), requires more documentation, and for sure provides more magic, to otherwise pure JSON object.

[2016-04-26 07:20] malx122 opened #85 "Ignoring changes when calling changeState!"
We have a "command" client custom element that takes a couple of different  commands from the server and acts on the client.
One of the command is `morph_url` that tells the client to call `puppet.network.changeState` to a provided url.

However, the custom element also resets the command parameter to `''` in order to be able to receive the exactly same command again. But that change is never sent

[2016-04-26 08:13] miyconst commented on #85
Do you have `notify: true` in the `command` property declaration?

[2016-04-26 08:14] malx122 commented on #85
Yes! As I said, the client model is updated. Its just not sent to server.

[2016-04-26 08:18] miyconst commented on #85
Am I right, that the change is not being sent to the server even with the next patches from the client side?

[2016-04-26 08:58] malx122 commented on #85
Yepp, thats right. The client and server model differs even after a couple of patches.

[2016-04-26 09:08] miyconst commented on #85
That's definitely an error then.

@malx122 if you could create a small example which demonstration of the issue, it would be very useful.
@warpech take a look please.

[2016-04-26 09:17] malx122 commented on #85
I think the first post describing the problem good enough. If you have trouble to repeat it locally, call me and I will show it.

[2016-04-26 12:05] warpech commented on #85
Does it work when you click on the page background or trigger window `mouseup` event as described here? https://github.com/PuppetJs/PuppetJs#generating-patches-based-on-local-changes

[2016-04-26 12:05] warpech commented on #85
Aha, I guess this is what `window.tu.puppetDirtyCheck();` does.

[2016-04-26 12:06] warpech commented on #85
Can you reproduce it in a small app, like https://github.com/warpech/SimplePuppet or https://github.com/StarcounterSamples/KitchenSink?

[2016-04-26 13:23] warpech commented on #84
Some questions:

1. do you mean morphing pages via clicking on links (`<a>`) or redirection (`<puppet-redirect>`)
2. do you really intent the URL to contain state? it is because it should be bookmarkable, etc?

[2016-04-29 14:04] malx122 commented on #85
Not sure, Ivar found out that it works if he wraps the set command in an async:
(which of course should not be needed)
[code]

[2016-05-12 10:08] joozek78 opened #86 "Add event that notifies about finished round-trip"
**This issue is supposed to spark some discussion, to find best solution to problem outlined below**

Context
--
When implementing tests in selenium it is easy to slip in a race condition. Consider following code:
[code]
This code can fail should puppet not deliver its messages (and therefore trigger URL change) before assertion is executed

Current workaround
--
Currently one can only wait for ex

[2016-05-17 06:40] mtornwall commented on #29
Any update on this? Lately I've been getting diffuse reports suggesting that this issue occurs more frequently than expected.

[2016-05-25 14:07] malx122 commented on #85
The whole problem is that you "unobserve" the model while applying data patches from server. That is not ok since applying data patches may trigger javascript methods that makes other model changes themself.

This problem has grown alot since this issue was created. We now have many sections of our code dependent on this working. And the workaround no longer works (not sure it ever worked for more

[2016-05-25 14:38] warpech commented on #85
@tomalec Question to you as the OT master... Do you think it is possible to apply remote patches without calling `unobserve` ... `observe`?

[2016-05-25 15:34] tomalec commented on #85
But we do not want those patches to trigger sending them back to server, do we?
So in some meaning we want unobserving it while applying.

Regarding

OT could handle changes applied in-between applications of consecutive patches.
So that's more a problem of JSON observer than JSON Patch OT.

As after application of incoming patch (possible synchronous changes), once we `unobserve`, we would need t

[2016-05-26 14:12] warpech commented on #85
Discussed with @tomalec: Solution seems to be to reintroduce  object a mirror object in `puppet-polymer-client` that is not known to PuppetJs.

[2016-05-30 10:29] joozek78 commented on #86
CC @tomalec @warpech @miyconst @aloscha

[2016-05-30 10:35] warpech commented on #86
I'd vote for solution 2.

It is tricky to do the solution 1 right, because in WebSocket, there is no such thing as a request and response. The incoming and outgoing patches go on separate channels.

Only when PuppetJs is configured to apply OT (property `ot` set to true, which is the default) it is possible to know the match between a response and a request. But still I am negative towards solutio

[2016-05-30 11:37] tomalec commented on #86
I'm also negative towards 1.

In JSON Patch communication/collaboration there is not such concept as "round-trip".

It is completely valid to send a message and do not receive any response. In here both peers are equal, they just modify JSON document.
(briefly we should not think of client requesting server changes, here we have just JSON document shared between two - once again we need better pro

[2016-05-30 11:38] tomalec commented on #86
BTW, OT is supposed to solve conflicting/race scenarios, and we should test those as well.

[2016-05-30 12:17] joozek78 commented on #86
After discussion with @warpech I agree we shouldn't wait for puppet "round-trip". However, we could in future leverage heartbeats to detect when all messages have been received. I don't think that there is value now in adding a facade - I'd rather document testing patterns in gitbook

[2016-06-01 08:11] warpech commented on #85
Today I got a new idea :bulb: that might work *with* https://github.com/PuppetJs/puppet-polymer-client/issues/9

`puppet-polymer-client` does not have a mirror of `puppet.obj`. Instead, it is enough if it stops using `this.set` to apply the patches. Instead, it should:

- use regular `jsonpatch.apply` to apply the patches. This happens between `unobserve` and `observe`)
- use Polymer's `notifyPath

[2016-06-01 08:20] tomalec commented on #85
I'd like to remid you that we did so in previous version of `puppet-polymer-client` ;) and we decided to switch not to fight with Polymer, but use it's public and more stable API.

[2016-06-01 08:40] warpech commented on #85
Not exactly the same. `puppet-polymer-client` was using its own `jsonpatch.apply` based on Polymer's `set` since [the second commit in this repo](https://github.com/PuppetJs/puppet-polymer-client/blob/090b5059ece4177e4f4be69b7c382a173bf808e0/puppet-polymer-client.html#L361)

So right now we are still fighting with Polymer in every `template is="dom-bind"` other than the root one. With the proposed

[2016-06-02 10:45] tomalec commented on #85
Sorry, my bad it was [dom-bind-notifier](https://github.com/Juicy/dom-bind-notifier)

Fair point

[2016-06-02 10:47] miyconst commented on #75
@tomalec I think it's no longer needed. Closing the issue.

[2016-06-02 10:47] #75 closed

[2016-06-02 12:36] tomalec commented on #75
Cool, thanks. Don't we need that for bumping the session? (in cleaner way)

Is it related to https://github.com/PuppetJs/PuppetJs/issues/29#issuecomment-170922689 ?

[2016-06-02 12:55] miyconst commented on #75
We thought that we might use it somewhere else apart of `puppet-client` which ping server to keep session alive.

Till now nobody uses it, and puppet-client can use it's internals to do something. Don't think we need a separate method for it. At least for now.

[2016-06-03 19:09] joozek78 commented on #85
@tomalec @warpech Our current approach is to:

1. modify json-patch to return removed elements on application
 1. and puppet to propagate this info in callbacks
1. let puppet use json-patch to apply the patches
1. notify polymer afterwards
 1. polymer requires us to provide it with removed original elements when notifying about changes in arrays. This is reason for p1
1. should any client update t

[2016-06-05 09:33] tomalec commented on #85
I don't think queue will complicate a thing. You will simply trigger the
event once it's eventually applied.
3 cze 2016 21:09 "Marcin Goliński" <notifications@github.com> napisał(a):

[2016-06-08 10:27] warpech commented on #78
This issue is the exact opposite of [Consider changing onPatchReceived & co. callbacks to Events (#74)](https://github.com/PuppetJs/PuppetJs/issues/74).

As discussed yesterday with @joozek78, events have undeniable benefits of easy management of multiple subscriptions for each action. This is already used in `starcounter-debug-aid` and will be used even more in `pupet-polymer-client`.

Therefore,

[2016-06-08 10:27] #78 closed

[2016-06-08 10:28] warpech commented on #74
cc @joozek78

There should be a transition period in which callbacks are working but result in a warning.

[2016-06-08 10:38] warpech commented on #80
Yes.

I have changed the example and text to be more clear: https://github.com/PuppetJs/PuppetJs/wiki/Server-communication/_compare/722e72c2268bd194f7f36aa22e00d3ea2d8e77c5...d54c86fd5b0cf0703e792cf4f2d7ec8be1ff9251

Please ask more questions when you feel like it. Thanks!

[2016-06-08 10:38] #80 closed

[2016-06-08 10:42] warpech commented on #84
Closing as won't fix, because this is against web standards. In HTML, clicking on a `<a>` element does not preserve the previous hash value. PuppetJs should not change that.

I understand that you have a particular problem with it, but I think it needs to be solved inside if your application (for example by LocalStorage, or by custom event handlers set on your `<a>` elements).

@mattiasmak please

[2016-06-08 10:42] #84 closed

[2016-06-08 10:43] warpech commented on #76
@mattiasmak thanks for reporting. We will be solving this. The proposal of changes is tracked in #29. Please follow that issue.

In the meantime, please use some of the described workarounds.

[2016-06-08 10:43] #76 closed

[2016-06-08 10:50] warpech commented on #79
Some `$parent` is used in Administrator: https://github.com/Starcounter/Starcounter/blob/57c6d056c5a43e4ffabbea3f261e3f30219220b1/src/Starcounter.Administrator/app/partials/databaseNew.html

But I think it's Angular's, not Puppet's.

[2016-06-08 10:53] warpech commented on #79
@joozek78 please do it if you find it convenient for your current work.

You can remove `markObjPropertyByPath`, `recursiveMarkObjProperties`, `placeMarker`.

[2016-06-10 08:05] warpech opened #87 "Investigate pushing patches on bigger scale"
During yesterday's CodeNight KitchenSink Map stopped getting notified about map marker position changes made in other clients. 3 or 4 clients where playing with it simultaneusly.

At this time I don't know if this was because of:
- disconnection (seems the most unlikely)
- malfunction of OT on the client side
- malfunction of OT on the server side
- malfunction of `CalculatePatchAndPushOnWebSocket

[2016-06-10 08:35] miyconst commented on #87
During the lag time my cell phone was still updating successfully. We have to try to reproduce the issue with the opened console.

[2016-06-21 09:40] joozek78 opened #89 "Fix tests and connect to travis"
Currently, 7 tests fail on master branch.

[2016-06-22 10:54] joozek78 commented on #85
This should be fixed now in new release

[2016-06-22 10:54] #85 closed

[2016-06-23 13:23] dan31 commented on #71
This is the main issue to track session reconnection issue. CC @malx122.
To finish the work, @warpech assgined @joozek78.

[2016-06-24 16:19] warpech commented on #29
@mtornwall No, still to separate batches of patches you should better trigger a `mouseup` event, as described here: https://github.com/PuppetJs/PuppetJs#generating-patches-based-on-local-changes

[2016-07-06 06:57] malx122 commented on #71
Any news on this?

[2016-07-06 12:04] joozek78 commented on #71
I implemented session resumption and retransmission for a scenario client frames are lost, but I need to tidy the code up and implement the other direction of retransmission

[2016-07-11 10:24] mtornwall commented on #29
@warpech The problem with this approach is that it is still asynchronous. I don't really know when the `mouseup` event will be processed. By contrast, the barrier approach I proposed would be synchronous and therefore guarantee a partial write ordering across the barrier.

[2016-07-18 05:28] warpech commented on #71
@tomalec could you review this today?
@joozek78 does reviewing it require a custom build of Starcounter? can you provide the installer?

[2016-07-18 08:38] warpech commented on #71
Pull requests:

- https://github.com/PuppetJs/PuppetJs/pull/90
- https://github.com/PuppetJs/puppet-polymer-client/pull/28

[2016-07-18 08:39] joozek78 commented on #71
I'll post the installer

On Mon, 18 Jul 2016 at 10:38 Marcin Warpechowski <notifications@github.com>
wrote:

[2016-07-18 10:57] warpech commented on #71
@joozek78 is https://github.com/Starcounter/Starcounter/pull/3747 ready for review as well?

[2016-07-19 10:03] miyconst commented on #29
Just now me and @ubbeK were hit by this issue. A client side patch was sent to server too late, by that time the modified object was removed from the view-model and server fails.

So, I +1 this issue.

The scenario we have is:

- User clicks a button.
- The `onclick` listener executed.
- Local view-model changed.
- PuppetJs observes and sends changes.
- Server responses with another patch.
- Polym

[2016-07-21 12:32] warpech commented on #74
@tomalec last time we discussed, we have proposed to do the other way round - replace the events with callbacks, which I think is a good long term goal, but does not have to be done immediately.

This is also in line with what you wrote here: https://github.com/PuppetJs/PuppetJs/pull/90#issuecomment-233409023

Should we close this?

[2016-07-21 13:24] tomalec commented on #74
agree

[2016-07-21 13:24] #74 closed

[2016-07-25 09:45] tomalec opened #91 "Make reconnecting/resetting more symmetric"
Implementation of re-connection feature https://github.com/PuppetJs/PuppetJs/pull/90, made another step ahead from making PuppetJS symmetric protocol, to be run on all peers (browser, server, p2p, etc).

For example, it would be cool to have Puppet been able to run on Node.js version of Starcounter.
So we would need to make it able to respond to reset call (to be executed on remote end).

@warpech

[2016-07-25 09:54] #86 closed

[2016-07-28 15:11] joozek78 commented on #71
Finally, I was able to release version [2.1.0](https://github.com/PuppetJs/PuppetJs/releases/tag/2.1.0) of puppetjs, which introduces reconnection. Please see [readme](https://github.com/PuppetJs/PuppetJs/releases/tag/2.1.0)  for details. This version should be included in next version of Starcounter

[2016-07-28 15:11] #71 closed

[2016-08-04 06:00] malx122 commented on #29
We have been hit a LOT by this latetly. Everytime there is two or more changes to the model they are sent in the REVERSE order of how they are found, kind of not so intuitive. Normally when I design a JSON on the serverside I finish with the "buttons" executing everything. But lets say that I have a text that should be sent on ok. Then the text (that triggers on lose focus) are sent after the ok-b

[2016-08-23 07:53] malx122 opened #92 "Puppetjs has way to many heartbeats, and heartbeats trigger to much on the server"
Every 5 seconds puppetjs is triggering a heartbeat that make the server go throw all properties...
Are heartbeat really necessary at all?

[2016-08-23 07:55] malx122 commented on #92
What I mean is that there is no reason to detect that the network is down when the user does nothing. It should be enough that it detects and reconnect when user tries do do something or with a much longer interval.

[2016-08-30 09:36] miyconst commented on #73
+1. This has just hit me.

[2016-08-30 18:31] miyconst opened #93 "PuppetJs cancels xhr request to a new page if it takes too long time to load"
This lineof PuppetJs: https://github.com/PuppetJs/PuppetJs/blob/gh-pages/src/puppet.js#L433 cancels pending requests which take too long time to proceed.

cc @warpech, @joozek78

[2016-08-31 08:15] warpech commented on #93
I detected the same problem yesterday: https://github.com/StarcounterPrefabs/SignIn/issues/40#issuecomment-243470601

@joozek78 can you explain if this is necessary? It is very developer unfriendly.

[2016-08-31 08:27] miyconst commented on #93
Initially it was made to avoid two active reconnection requests. If the first one takes too long Puppet sends another one and when both succeed we have two active WS connections.

[2016-08-31 14:31] tomalec opened #94 "Ping behavior"
Bellow is a side idea of discussion on problems with heartbeats, keeping session alive, and overhead of refreshing bindings.

Personally, I find "PING" and HEAD condition confusing and sticking out from entire flow/Puppet-protocol. If I remember correctly, some time ago we talked about "touch" functionality/method in PuppetJS (https://github.com/PuppetJs/PuppetJs/issues/29) we can also add `ping`

[2016-08-31 14:33] tomalec commented on #94
*In the email conversation @joozek78 wrote:*

I think that heartbeat is conceptually on a "transport layer", whereas patches are "application layer". As such, it should be dependent on underlying transport and independent of patches. Imagine a situation where heartbeats are introduced into very WS standard - then we would need to disable our heartbeats for WS, but not for XHR

[2016-08-31 14:38] tomalec commented on #94
Regarding layers I'd say that our idea is to "collapse the stack" that's why I'd like to avoid introducing new layers and think of it as just single _communication layer_ - JSON Patch. Then application logic need to bother only about changing the JSON, Puppet listens to those changes and uses just JSON Patch to communicate with a remote over the network (HTTP, WS)

[2016-08-31 16:31] miyconst commented on #94
@tomalec you idea seems to be good for me, the only question is the implementation.

Currently, all of the known apps call `CalculatePatchAndPushOnWebSocket` when it's needed to push something from the server. Means, I am absolutely fine to don't update client side view-model on heart-beat patches.

[2016-09-01 08:58] joozek78 commented on #94
Heartbeats are needed only because of technical limitations of underlying transports (they don't provide information about connection problems). As such they are transport-specific, and it's a coincidence that both our transports need heartbeats (but it would easily conceivable that they needed *different* heartbeats). That's why I think this should be implemented without patches.

@chrhol can you

[2016-09-01 12:27] warpech opened #96 "Create a setting for maximum interval time between retries of reconnection"

[2016-09-01 14:45] tomalec commented on #94
@joozek78 Could you elaborate more precisely on "technical limitations of underlying transports"?

[2016-09-01 14:48] joozek78 commented on #94
If those transports provided us with means to know when the connection is broken we wouldn't need to implement the heartbeat at all. Unfortunately they don't provide such capability and can break without us noticing it.

BTW warpech added an important thing - server has no means to push a message over HTTP, so we don't the heartbeat there.

[2016-09-01 14:54] tomalec commented on #94
Could you be more specific? What do you mean by "transports"? and about what "problems" and "breaks" we are talking about?

Are you describing the fact that Web Socket does not emit `onerror`, `onclode` event?

[2016-09-01 14:57] joozek78 commented on #94
I mean that it is possible that server is unable to push a message to client and client is unable to detect it. For example, if a device between client and server malfunctions and ceases to route traffic.

Transports used by puppetjs are HTTP and WS

[2016-09-02 10:09] chrhol commented on #94
As for which of the two different approaches is more correct, I have no opinon (or knowledge rather :smile:)

Tomeks suggestions have the advantage of being fairly simple. The changes on the server will be minimal and no extra code will be needed, other than not always generate changes (but that is just a simple check).

[2016-09-05 09:06] joozek78 commented on #94
Okay, it's simpler, so it's better :)

1. I'll send empty patch sequences as heartbeats (`[]`)
1. @chrhol will not refresh any bindings upon receiving an empty sequence

[2016-09-05 09:34] warpech commented on #93
Assigning to @joozek78. He is fixing this.

[2016-09-05 13:36] chrhol commented on #94
I've pushed the needed changes on the server to develop and pnext now. They should be included in the next nightly build.

[2016-09-05 13:45] joozek78 commented on #92
You always need the server (or rather that we can't assume you don't need it) - remember that server can send you patches on its own. Imagine a messenger app, where you check connection only when you "use" the server (i.e. send some patches). If your connection was broken you'd want to know about it (because it would prevent you from receiving a message), but you wouldn't - until you typed somethi

[2016-09-05 13:45] #92 closed

[2016-09-05 20:50] tomalec opened #98 "Patches are generated in wrong order after `keydown`"
It seems that after removal of `keydown` from fast-json-patch (https://github.com/Starcounter-Jack/JSON-Patch/issues/98), we introduced another bug.

## Steps to reproduce

1.  Create two elements that binds data to change and click events respectively, e.g.

[code]

2. Type something into input
3. Press the button

## Expected result

As `onchange` is triggered before `onclick`, we should get ope

[2016-09-06 06:38] warpech commented on #98
Aren't the patches generated in the order in which they are defined in JSON?

[2016-09-06 06:42] warpech commented on #98
Perhaps 1) is indeed the best solution until we have us JS `Proxy` some time in future

[2016-09-06 10:20] joozek78 commented on #93
It turns out that even if long requests alone don't trigger the reconnection, setting a breakpoint will freeze all threads and prevent heartbeat from getting a response. Thus, we decided to set the default heartbeat interval to 60s - that way we're developer-friendly and developers can tune it themselves to provide better experience to their users

[2016-09-06 10:27] tomalec commented on #98
Yest, they are, but we want them to be generated in order they happened, and workaround involving renaming/redefining JSON is extremely ugly.

[2016-09-06 10:33] warpech commented on #98
Ok, then solution 1) is agreed. @tomalec could you please make it?

[2016-09-06 10:34] tomalec commented on #98
great, sure

[2016-09-06 14:16] miyconst commented on #98
Thanks for resolving this, because it also hits me from time to time.

[2016-09-07 21:03] Mnosek commented on #98
Thanks a lot for taking this! I've also faced this problem today. Would be great to have it working correctly.

[2016-09-08 12:46] joozek78 commented on #94
The fixes have been pushed to starcounter develop.

* Heartbeat interval is now 60s by default, to avoid reconnection during debugging sessions. You can change it with `ping-interval-s` attribute of `puppet-client`
* Heartbeat doesn't trigger bindings refresh

[2016-09-08 12:46] #94 closed

[2016-09-08 12:47] joozek78 commented on #93
Fix has now been pushed to starcounter develop.

[2016-09-08 12:47] #93 closed

[2016-09-12 10:16] tomalec opened #99 "Tests are failing for 2.2.0"
See http://puppetjs.github.io/PuppetJs/test/subpage.html
@joozek78 Could you take a look? I'm not sure whether it's so after your PR or was so before.

[2016-09-12 10:18] tomalec commented on #99
Sorry, it's a duplicate for an older one https://github.com/PuppetJs/PuppetJs/issues/89

[2016-09-12 10:18] #99 closed

[2016-09-12 10:21] tomalec commented on #89
As for 2.2.0, 9 tests are NOT failing

[2016-09-12 10:45] tomalec opened #100 "`responseText` is not defined is thrown in debug mode"
[code]

It seems fix for https://github.com/PuppetJs/PuppetJs/issues/71 introduced a bug in https://github.com/PuppetJs/PuppetJs/blame/gh-pages/src/puppet.js#L498 which is one of many reasons tests are failing (https://github.com/PuppetJs/PuppetJs/issues/89)

// cc @joozek78

[2016-09-13 14:43] tomalec opened #102 "`$parent` related test were not removed"
After PR https://github.com/PuppetJs/PuppetJs/pull/97 tests are failing as they still assume existence of `$parent` feature.

//cc @joozek78

[2016-09-13 16:16] #100 closed

[2016-09-13 16:16] #102 closed

[2016-09-13 16:19] tomalec opened #103 "Callback- & Error-related tests are failing"
It seems they were not updated to match features implemented recently.

@joozek78 Could you take it, as you created new flow and you know what should be tested

PS, Please note, that all the other tests are passing, so hope fully after this one PuppetJS will be all green, at least in Chrome

[2016-09-13 19:50] tomalec opened #104 "Migrate tests to mocha + WCT, or separate puppet-dom"
puppet-dom tests requires Shadow DOM polyfill - what makes it impossible to run from commandline => to setup Travis w/o Selenium (https://github.com/PuppetJs/PuppetJs/issues/89).

Therefore I'd suggest to test puppet-dom wit WCT. The question is whether we should:
1. Migrate all even non-DOM related tests to Web Components Tester,
2. Separate the puppet-dom to own repo.

(there is also a point tha

[2016-09-13 19:54] warpech commented on #104
Why exactly does it require Shadow DOM polyfill?

[2016-09-13 20:09] tomalec commented on #104
It creates Nodes in Shadow DOM
https://github.com/PuppetJs/PuppetJs/blob/gh-pages/test/spec/dom/LinksSpec.js#L47

[2016-09-13 20:13] warpech commented on #104
Maybe:

3 . Move that one test to puppet-polymer-client, which already is tested using WCT?

[2016-09-13 20:17] tomalec commented on #104
I don't like 3. as this is not just one test, but 4 tests for functionality clearly coded at https://github.com/PuppetJs/PuppetJs/blob/gh-pages/src/puppet-dom.js

So, I would rather agree on moving puppet-dom stuff to `<p-p-c>`. However, as it is Polymer, and Custom Element independent stuff I'd prefer 2.

[2016-09-14 08:22] malx122 commented on #79
This would have been a REALLY good thing to know of. (Searching tunity code for "$parent" -> 74 hits)...

[2016-09-14 08:30] warpech commented on #79
Sorry! How could we improve? I guess the information could be added to https://github.com/PuppetJs/PuppetJs/releases

[2016-09-14 08:38] malx122 commented on #79
Since it is a breaking change, yes that would have been good.

[2016-09-14 08:53] warpech commented on #79
@joozek78 can you pls add it?

[2016-09-14 09:16] joozek78 commented on #79
I've added it at https://github.com/PuppetJs/PuppetJs/releases/tag/2.2.0

[2016-09-14 09:16] tomalec commented on #79
Maybe we should also add short not in the changelog of SC?

[2016-09-14 10:25] tomalec commented on #98
Fixed in [2.2.1](https://github.com/PuppetJs/PuppetJs/releases/tag/2.2.1)
(Starcounter>2.2.1.3157)

[2016-09-14 10:25] #98 closed

[2016-09-14 11:04] warpech commented on #79
I think that would be too much. A link to a range of PuppetJs release notes would be perfect.

[2016-09-14 11:24] joozek78 commented on #79
Something like this?

I just don't know how deep should we go with this dependency report. Currently there are following templates in changelog (presented with old version number):

What is the key to determining which dependencies are important enough to report here? I feel that it would be enough to have puppet-client, puppetjs, and polymer here. Or else everything we updated

[2016-09-14 13:57] warpech commented on #79
I think all are relevant, because otherwise they would not be upgraded.

This looks nice to me. Can you please change that in CHANGELOG.md?

[2016-09-14 14:28] joozek78 commented on #79
Here you go: https://github.com/Starcounter/Starcounter/commit/b871a333d2abac087cce81f487afc805db5a0a29

[2016-09-14 14:28] #79 closed

[2016-09-14 18:41] warpech commented on #79
Thanks!

[2016-09-20 12:10] warpech commented on #103
@tomalec was this fixed?

[2016-09-20 12:13] joozek78 commented on #103
@warpech not yet

[2016-09-26 12:19] warpech commented on #73
Just discussed: @tomalec will implement this

[2016-09-26 13:43] warpech opened #105 "Configure Travis CI"
After #103 is done, configure tests to run in Travis CI

[2016-09-26 13:43] tomalec commented on #89
Most of the tests are passing, CLI command works, the only part left is https://github.com/PuppetJs/PuppetJs/issues/103

[2016-09-26 13:44] warpech commented on #89
And #105

Closing as partially done, partially split to new tasks

[2016-09-26 13:44] #89 closed

[2016-10-08 15:38] mmnosek opened #106 "Select element value change patch"
I've created couple of html `<select>` elements recently and figure out that the moment when select value patch is send to the server should be different.
### Steps to reproduce
1. Create some `<select>` element binded to the property on the server
2. Open the chrome console and create change event listener breakpoint
3. Open network tab and select WS connection to watch patches
4. Change a value

[2016-10-15 15:53] tomalec commented on #106
Could you provide the versions (Starcounter, puppetjs, jsonpatch, polymer)
that you are using?

I'm affraid it may be related to asynchronicity of jsonpatch dirtychecking,
as recently I've changed jsonpatch to observe on key/mouse down.

Anyway, I would hold any more complicated fixes untill we will check it
with Polymer 2.0 to avoid regression. Alternatively, you can write
automated test for it.

[2016-10-31 13:26] mattiasmak opened #107 "<puppet-client> in iOS does not work"
We at colabers get this error when including <puppet-client> in our code:

this.createShadowRoot is not a function

It's hard to get more information. Will make en effort to reproduce.

[2016-10-31 13:31] mattiasmak commented on #107
When using webcomponent.js instead of webcomponent-lite.js we get even more and stranger errors.
Example: window.ShadowDOMPolyfill -> undefined is not an object (evaluating 'descriptor.value')
Only triggered when using puppet.
So error may not be puppet itself, rather dependencies
Yes, we use latest version of webcomponents.

[2016-10-31 14:04] warpech commented on #107
@mattiasmak has presented this to me on Hangouts. I will try to fix it ASAP, though I need to get hold of an iOS device first.

This is not reproducible with Mac/Safari, but is 100% reproducible with iOS/Safari (current version).

[2016-10-31 14:06] warpech commented on #107
Potential hint: one of the exceptions appears when some JS code is trying to call `Window.showModalDialog()`

[2016-10-31 14:14] warpech commented on #107
I cannot find anything in our or your code that calls `showModalDialog`.

@mattiasmak I wonder where did that one particular `showModalDialog` error come from? Can you paste the full stack trace?

[2016-10-31 14:42] mattiasmak commented on #107
Solution: window.showModalDialog = function(){};

Since getOwnPropertyNames(window) return showModalDialog, but is undefined. This causes webcomponents.js to throw an error.

So until problem is solved in iOS webkit window.showModalDialog = function(){}; should do it.

[2016-10-31 16:51] warpech commented on #107
I am unassigning myself for now. I don't think that we should hardcode this workaround in PuppetJs. For now, it is fine to paste this snippet somewhere in Starcounter app code. It might be fixed by Polymer 2.0, webcomponents.js v1

[2016-10-31 19:43] compwright commented on #83
Puppet.json?

[2016-10-31 20:37] tomalec commented on #83
Thanks @compwright , you have just inspired me to make... ;)

# Github-reactions-driven-voting:

Proposals starts  with :bulb:.
Add "+1" reaction to the name you vote for, you can vote for many, if you really need.

[2016-10-31 20:37] tomalec commented on #83
:bulb: PuppetJSON

[2016-10-31 20:37] tomalec commented on #83
:bulb: JSONPuppeteer

[2016-10-31 20:38] tomalec commented on #83
:bulb: JSONPuppets

[2016-10-31 20:38] tomalec commented on #83
:bulb: Puppeteer

[2016-10-31 20:39] tomalec commented on #83
:bulb: Remote

[2016-10-31 20:39] tomalec commented on #83
:bulb: Patcher

[2016-10-31 20:39] tomalec commented on #83
:bulb:  JsonPatcher

[2016-10-31 20:39] tomalec commented on #83
:bulb: RemotePatcher

[2016-10-31 20:39] tomalec commented on #83
:bulb: SocketPatcher

[2016-11-03 16:38] tomalec commented on #107
It seems that it was a bug in webcomponents.js https://github.com/webcomponents/webcomponentsjs/issues/617
which is now fixed and merged to the new version.

[2016-11-21 21:35] Mnosek commented on #106
I was hit by that issue once again. I have no idea for any workaround for that. Don't want to wait for Polymer 2.0 :)

Let's say, that I have a list of items that will be presented at some report. I need to choose what elements should be visible on report. I would like to achieve it by filtering list by values in select (I think that it's very common usecase). User expects results to be changed ri

[2016-11-22 00:32] tomalec commented on #106
Sorry, but I didn't reproduce it earlier.

I have just checked with `/PuppetJs/lab/polymer/`
[code]

And it seems to work (triggers request)

[2016-11-22 00:37] tomalec commented on #106
I have checked how our binding works wit 2.0-preview few weeks ago, and I stopped befor complicated cases due to bug I have found and fixed, PRs are now merged, so I would need to check once agian.

It would be cool to have short code sample to check against.

Test would help in my case ;) as I would have an easy way to reproduce and isolate the problem. Plus, it will help in your case as such iss

[2016-11-23 12:42] Mnosek commented on #106
Do you mean that it works?

Steps to reproduce it in KitchenSink:
- Open KitchenSink/Dropdown
- In first select change "Dogs" to "Cats"
- Until you unfocus select you've just change "You like dogs" instead of "Cats"

[2016-11-23 15:08] Mnosek commented on #106
Could you please check on OSX? We've just discovered that problem exists only on my mac... :)

[2016-11-23 15:09] Mnosek commented on #106
I mean Chrome on OSX.

[2016-11-23 15:12] warpech commented on #106
This is fault of Chrome or macOS.

See this fiddle: https://jsfiddle.net/cog1fq12/3/

[2016-11-23 15:18] Mnosek commented on #106
OSX:
![events-chromeosx](https://cloud.githubusercontent.com/assets/4943949/20567251/51a54a0a-b198-11e6-97eb-c72d76df02d5.png)

Windows:
![events-chromewin](https://cloud.githubusercontent.com/assets/4943949/20567250/51a30380-b198-11e6-83fb-b3aac202ec7d.png)

There is missing mouseup event on OSX, so no dirtychecking.

[2016-11-23 16:50] warpech commented on #106
@tomalec WDYT? should we add "change" event observer to JSON-Patch dirty checking? I don't see a better way to fix this.

[2016-11-23 17:46] tomalec commented on #106
Me neither :( so it seems we'll revert back to old set of listeners..  I'll chceck if ther are any spec related bugs. So maybe one day it will get consistent.

By that time we will need automated test for it and pretty bold code comment :)

[2016-11-23 23:44] tomalec commented on #106
I have created an issue on Chromium issue tracker https://bugs.chromium.org/p/chromium/issues/detail?id=668310
So now I see no other way than to add `change` listener.

[2016-11-23 23:53] tomalec commented on #107
Fixed by upgrading polyfill, please let us know if you still have any problems.

[2016-11-23 23:53] #107 closed

[2016-11-24 00:04] tomalec commented on #106
Or maybe, it's the time to start Proxy implementation? Especially that we agreed on finishing IE 11 support? http://kangax.github.io/compat-table/es6/

[2016-11-24 01:25] tomalec commented on #105
I have marked failing tests from #103 as pending, configured travis.yml, package,json, but I'm still blocked at lack of support for Shadow DOM in jsdom - https://github.com/tmpvar/jsdom/issues/1030- (even with webcomponents.js polyfill loaded) - jsdom does not provide classes like `HTMLElement`, etc.

I'm afraid we will have to fallback to WCT, and do  https://github.com/PuppetJs/PuppetJs/issues/1

[2016-11-25 07:46] malx122 opened #108 "Patches stop being applied"
Hi!
Now and then, our application stop responding on patches from the server. (Havn't found any way of getting there consistent). There is no errors or warnings that can be seen in console and the connection seems fine.

Last time I decided to see what happened and I can see that puppet both sending and receiving patches. What it do not do is applying the patches. The puppetjs `validateAndApplySeq

[2016-11-25 14:20] malx122 commented on #108
Yepp, it is a timing issue. (Lot easier to repeat on a slow server, with much data)
Seems like new Get request to the server before a response has been received triggers this.

[2016-11-26 18:31] malx122 commented on #108
I was told to close this one because the error is at the server side (starcounter). However, I'm not totally sure I'm ready to do this. Yes, It should be fixed at the server, but should'nt puppet somehow telling the server that it misses som messages as well? Can you always be sure that no data is lost in cyberspace? (That is an actual question, I have no idea if the used internet protocol include

[2016-11-28 13:57] warpech opened #109 "Remove cookie-based session ID setting"
Remove cookie-based session ID setting. PuppetJs should not read ID from cookies, because this leads to problems when page is loaded in many tabs.

Main issue: https://github.com/Starcounter/Starcounter/issues/3798#issuecomment-263259468

[2016-11-28 14:03] warpech commented on #103
In beb6012 @tomalec has disabled the failing tests. @joozek78 pls take action to fix the tests. Thanks

[2016-11-28 14:03] warpech commented on #103
I will merge beb6012 to `gh-pages` when I get the PR from @tomalec

[2016-11-29 08:50] warpech commented on #104
I have noticed that some polyfills (dmarcos) test in Node using phantomjs: https://github.com/dmarcos/document-register-element/blob/master/package.json

Maybe we should do that as well instead of using jsdom?

[2016-11-29 09:39] warpech commented on #108
It is a PuppetJs issue, but we discuss it here: https://github.com/Starcounter/Starcounter/issues/3981

Closing as duplicate.

[2016-11-29 09:39] #108 closed

[2016-11-29 09:41] warpech commented on #87
Archiving. Please report problems that are revealed during stress testing as separate issues.

[2016-11-29 09:41] #87 closed

[2016-11-30 02:15] tomalec commented on #104
I have added sketchy integration it with PhantomJS at https://github.com/PuppetJs/PuppetJs/compare/phantomjs?expand=1
So it runs in CLI and shows that we have failing tests for polyfilled browsers.

It still requires implementing full console reporter, hacking the lack of support for `console.*` (other than `.log`) in Phantom, checking if polyfills are applied correctly etc.

After experiencing al

[2016-12-07 11:00] warpech commented on #109
Merged PR #111 that implements this.

[2016-12-07 11:00] #109 closed

[2016-12-07 22:09] warpech commented on #72
This feature is now implemented and is used when `pingIntervalS` is set to a non-zero value. In that case, a ping times out if there is no response before another `pingIntervalS`.

This is kind of similar, but not completely done.

Warning - a request timeout makes it impossible to correctly debug apps, because using a breakpoint on the server will cause the request to time out.

[2016-12-12 14:34] tomalec commented on #83
💡 JSONMirror

[2016-12-12 14:38] Mackiovello commented on #83
JSONMirror is seriously genius. It makes a ton of sense

[2016-12-12 16:36] warpech commented on #83
I like this, but without the `JSON` part. In future, we might allow other serialization formats (Protobuf, Capnproto, etc).

Maybe StateMirror, DataMirror, TreeMirror?

[2016-12-13 11:43] warpech commented on #106
PR waiting for the review (link above)

[2016-12-15 17:06] alshakero commented on #34
![logo](https://cloud.githubusercontent.com/assets/17054134/21233888/2e5439ac-c2f1-11e6-8d82-e1ee8d7928ae.png)

What do you think?

[2016-12-15 18:44] miyconst commented on #34
@alshakero thank you for the nice picture. Currently we are looking for a better name for the library, because PuppetJs is confusing and not self descriptive.

[2016-12-18 20:41] warpech commented on #106
@tomalec since https://github.com/Starcounter-Jack/JSON-Patch/pull/133 is now released, could you please update it in Starcounter `develop`?

[2016-12-19 13:26] tomalec commented on #106
Sure, will do so.

[2016-12-19 20:42] tomalec opened #114 "Mock WebSocket in tests with Chaos"
Finally I've found a library that could mock web sockets, I think we should give it a try, instead of implementing it by ourselves.

https://github.com/zzarcon/chaosocket

[2016-12-20 22:21] tomalec commented on #106
@mmnosek Could you check if it works for you in full app environment?

[2016-12-21 09:42] mmnosek commented on #106
@tomalec absolutely works! Thanks guys for changes. Closing now.

[2016-12-21 09:42] #106 closed

[2017-01-01 22:30] tomalec opened #115 "Make demos work again, update test automation"
Currently they do not work due to `Object.observe` and `dom-bind-notifier` issues

I think we should:
- Update Jasmine and jasmine-ajax
- Update our mock server
- Use WebSocket mocks https://github.com/PuppetJs/PuppetJs/issues/114
- In Polymer samples replace `dom-bind-notifier` with `addEventListener('patch-applied')` that does a subset of notifications from https://github.com/PuppetJs/puppet-pol

[2017-01-10 16:55] warpech commented on #104
cc @alshakero

[2017-01-12 11:59] alshakero opened #116 "Node environment support"
To achieve node support, this will need:

1. Total liberation from `window` object and DOM.
2. A re-write for `URL` class that suits our needs. Node `URL` library isn't exactly what Puppet needs and it's too big to add for a simple functionality. Implementing a URL class would be better.
3. [To-discuss] writing tests using Mocha and Sinon.
4. Publishing on NPM, after, of course, publishing all the

[2017-01-12 12:34] warpech commented on #116
We cannot rewrite it, it is a DOM API: https://developer.mozilla.org/en-US/docs/Web/API/URL

[2017-01-12 12:50] alshakero commented on #116
@warpech that's true, but we use a very small part of it.

[2017-01-12 13:35] warpech commented on #116
Really? I think we use all URL API, because it is really single purpose - a URL builder. What would you replace it with?

Other than that, I agree with your plan.

[2017-01-13 13:06] warpech commented on #29
Today there was a similar problem in Starcounter: https://github.com/Starcounter/Starcounter/issues/4044

[2017-01-15 16:13] alshakero commented on #116
## **Progress report:**

Now Puppet and all it's dependencies are TS classes and all compile quite well. Without any trace of `window` or `DOM` objects. Packaging them would be a one hour job and even Angular 2 folks can enjoy Puppet this way. I realize a Typings file would have sufficed, but debugging it with TypeScript types was way easier and TS errors really saved me long hours and forced me t

[2017-01-16 00:57] dan31 commented on #29
Looks to be a decently old issue. @tomalec, what do you think about this one in 2017?

[2017-01-16 12:07] warpech opened #117 "Change default setting for remoteUrl/remote-url"
Current default is that PuppetJs takes `window.location` URL as the JSON URL if `remoteUrl`/`remote-url` is not provided.

This brings unwanted consequences as presented here: https://github.com/Starcounter/Starcounter/issues/4045

Requiring `remoteUrl`/`remote-url` explicitly would prevent such problems and remove some magic.

@miyconst, @tomalec, @Mackiovello WDYT?

[2017-01-16 12:19] miyconst commented on #117
+1 from me.

[2017-01-16 13:31] alshakero commented on #117
+1 especially we are supporting Node soon.

[2017-01-16 13:36] warpech commented on #117
Exactly, since there is no `window.location`. So the Node version should just not have `window.location` as the default.

[2017-01-16 15:17] warpech commented on #29
I have added it to goals 2017 in September/October (as PuppetJs maintainance/fixes). This is very important issue, but others are more prioritised.

[2017-01-16 15:32] alshakero commented on #29
@warpech isn't thing going to be solved when we switch to proxies?

[2017-01-16 15:49] warpech commented on #29
You are right, the proxy solves the problem of observing the changes in wrong order, which is what the OP says in https://github.com/PuppetJs/PuppetJs/issues/29#issue-41708810

But there is also another problem. Consider the following code:

[code]

This will be detected by the proxy as 3 distinct changes, right?

Will the PuppetJs send this as 3 separate sequences with a single patch, or as 1 seq

[2017-01-16 15:55] alshakero commented on #29
@warpech I see. I guess it's easily doable. We can delay sending without losing any data.

[2017-01-16 16:24] warpech commented on #29
I think that good ideas are here: https://github.com/PuppetJs/PuppetJs/issues/29#issuecomment-170904351. But I agree, let's get back to this after proxies.

[2017-01-17 20:29] alshakero commented on #103
@joozek78 if by any chance you were to implement these, I'd like to inform you not to. I'm re-writing the tests with Mocha and came across this. Will write them anyways.

[2017-01-18 17:28] alshakero commented on #114
Doesn't work on Node https://github.com/zzarcon/chaosocket/blob/master/src/fakesocket.js#L7

[2017-02-02 10:32] tomalec commented on #114
Seems easy to mock/workaround/fix.

[2017-02-03 12:27] warpech commented on #83
**Palindrome**

Or a word that is a palindrome, e.g. `locol`

[2017-02-03 12:29] alshakero commented on #83
I realllyyyyyyyy like **Palindrome**.

[2017-02-03 12:48] warpech commented on #83
Or more unique: **Palindrom** (which is actually the Swedish *and* Polish spelling)

[2017-02-04 11:54] tomalec commented on #117
+1

[2017-02-06 09:37] alshakero commented on #83
Logo proposal
![image](https://cloud.githubusercontent.com/assets/17054134/22641739/39d5184c-ec58-11e6-931b-506f3a91170a.png)

[2017-02-06 09:40] miyconst commented on #83
Remove the extra piece of the line on the left bottom and it looks perfect.

[2017-02-06 09:41] alshakero commented on #83
@miyconst ah, I hate it too, but it's a **P**. Let's see what others think.

[2017-02-06 09:42] miyconst commented on #83
I could guess so after some hard imagination, but if that is **P**, the extra line should be longer, and the main part smaller.

[2017-02-06 09:44] Mackiovello commented on #83
It looks good! Wouldn't we want to have the color scheme closer to the Starcounter color scheme?

[2017-02-06 09:47] ubbeK commented on #83
Please wait with logo:s and such since the voting has not ended / decision has not been made.

I would like to add 1 or 2 names.

[2017-02-06 09:48] miyconst commented on #83
Not me. PuppetJs can be used with or without Starcounter, just another product.

[2017-02-06 09:54] Mackiovello commented on #83
That's right. It's still a Starcounter product which means that it probably should be branded as such. The same way that, for example, Google products have similar branding:

![google_product_icons-01](https://cloud.githubusercontent.com/assets/19392292/22642305/7ca57b74-ec5a-11e6-90a1-c6b527640e48.jpg)

[2017-02-06 09:56] miyconst commented on #83
How about

![](https://angular.io/resources/images/logos/angular2/angular.png)

and

![](https://www.polymer-project.org/images/logos/p-logo.png)

Google made, does not really look similar.

[2017-02-06 10:00] alshakero commented on #83
@Mackiovello, well at least @tomalec, @warpech and I agreed to advertise it as a standalone product. It's more beneficial for Starcounter than sticking to our color pallets.
Here is how it looks if anyone is curious
![image](https://cloud.githubusercontent.com/assets/17054134/22642561/7ca2dd50-ec5b-11e6-84da-6e3b685a393e.png)

[2017-02-06 10:01] tomalec commented on #83
Guys, for a logo discussion, we have https://github.com/PuppetJs/PuppetJs/issues/34
Speaking of color schemes. Google keeps consistent colors for Google brands (Google Docs, Google Maps), and different for other brands (Polymer, Angular, etc)

[2017-02-06 10:02] alshakero commented on #83
@tomalec I forgot about that. Should I move my proposal?

[2017-02-06 10:05] tomalec commented on #83
@alshakero Please do.

@ubbeK How much time do you need for your proposals? I think, it would be great to give some deadline for name elections, and finally finish this problem after all those years ;)

[2017-02-06 10:07] ubbeK commented on #83
@tomalec: If I am not happy with any of my ideas in 1 hour, I will probably vote for `palindrom`

[2017-02-06 10:08] alshakero commented on #34
Logo proposals, if you don't know about the name, please go to #83

![image](https://cloud.githubusercontent.com/assets/17054134/22642800/6c3223bc-ec5c-11e6-90c1-eb6e4fa3675a.png)

![image](https://cloud.githubusercontent.com/assets/17054134/22642815/769c35ae-ec5c-11e6-8590-730e73f8abd9.png)

![image](https://cloud.githubusercontent.com/assets/17054134/22642845/963748c2-ec5c-11e6-8b84-9f9d201839b2

[2017-02-06 10:11] alshakero commented on #34
![image](https://cloud.githubusercontent.com/assets/17054134/22642815/769c35ae-ec5c-11e6-8590-730e73f8abd9.png)

[2017-02-06 10:11] alshakero commented on #34
![image](https://cloud.githubusercontent.com/assets/17054134/22642845/963748c2-ec5c-11e6-8b84-9f9d201839b2.png)

[2017-02-06 10:11] alshakero commented on #34
![image](https://cloud.githubusercontent.com/assets/17054134/22642853/9bec4646-ec5c-11e6-872f-1d9ada066da3.png)

[2017-02-06 10:31] ubbeK commented on #83
Here are my idea:s

### Mythical oriented
[Narcissus](https://en.wikipedia.org/wiki/Narcissus_(mythology))
[Graeae](https://en.wikipedia.org/wiki/Graeae)

### Physics oriented
[Covalent bond](https://en.wikipedia.org/wiki/Covalent_bond)

I don't personally like them better than `palindrom` but I would still like to add them so we did not choose the first non-computer-science-choice that came up.

[2017-02-06 10:44] Joltrix commented on #83
@ubbeK Oh wow, those suggestions are amazing in a way! :O Like, I get the meaning and how it can be "applied" to PuppetJS.

(+ bonus points since its from greek mytology ! )

Although, they might be a bit far fetched? Because, I doubt the common user will see "Graeae" and go like "oh, this can be used for two way binding", same thing with Narcissus. Although that one may be a bit more common, and

[2017-02-06 13:56] warpech commented on #83
I like @ubbeK's proposals, but `Bond`, `Covalent` and `Narcissus` are taken on NPM.

`Graeae` super unique, but is a tong twister :) The alternative name for them is `Phorcides`, but doesn't look too appealing.

[2017-02-07 09:24] warpech commented on #117
Great! @alshakero assigning this to you, I guess it will be solved automatically by switching to the Node version.

[2017-02-07 09:28] alshakero commented on #117
@warpech yes, a long time ago.

https://github.com/alshakero/puppet-node/blob/master/src/Puppet.ts#L82

[2017-02-07 11:23] threezool commented on #83
Some names based on latin translations:
**Reputati** (counterpart)
**Cogitatio** (reflection)

[2017-02-07 12:33] warpech commented on #83
From the provided suggestions, only **Palindrom** and **Narcissus** sound catchy to me.

Narcissus is a negative term, though, which I find problematic. I imagine myself promoting Narcissus on a conference with slight shame :) Any ideas how to turn this into a positive term?

[2017-02-07 12:36] miyconst commented on #83
Just use **Palindrom** :)

[2017-02-07 12:37] warpech commented on #83
Maybe some translations of the word "mirror": **Spegel**, **Spiegel**, **Lustro**

[2017-02-07 12:39] alshakero commented on #83
@warpech I love Lustro! Free on NPM too!

[2017-02-07 12:42] miyconst commented on #83
Sounds like "lamp" in Russian. Mirror in Russian is **Zerkalo**.

[2017-02-07 12:56] tomalec commented on #83
To me lustro/mirror is something that reflect only you, so there is not way you could communicate with the peer on the other side of the mirror.
[Through the Looking Glass](https://youtu.be/anvGUW-vsLE?t=24s) - Well.. to the story fits us well, we do reflect for the both sides, we do fiddle with time (OT) and we open entire new wonderland ;)

[2017-02-09 16:05] alshakero commented on #83
So do we reach a consensus here?

[2017-02-09 16:21] warpech commented on #83
I think nothing has gained more enthusiasm than **Palindrom** . Everyone please give a final vote (with your thumbs up or down) by the end of the week.

[2017-02-13 12:47] tomalec commented on #83
@warpech Shall we close the issue, and proceed with renaming?

[2017-02-13 12:55] alshakero commented on #83
I agree. Not sure if you saw, [I did the renaming ](https://github.com/alshakero/Palindrom), just want us to decide the appropriate repo to set it as origin and push.

[2017-02-13 12:58] tomalec commented on #83
I'd simple rename PuppetJs or to Palindorm, then we will have full history since the beginning of Puppet. Plus, I'd keep JSON-Patch-OT related stuff in separate repos, as it is now.

[2017-02-14 14:35] warpech commented on #83
I agree with @tomalec. Let's close this issue and create a new issue "Rename to Palindrom"

[2017-02-15 18:24] warpech commented on #116
Why closing this? The work is mostly done, I understand, but it was not released yet.

[2017-02-16 15:14] alshakero commented on #116
@warpech sorry for that. But I'm really confused now. Are we renaming the current Puppet as it is? And then we're shipping the Node version after we're done renaming?

Or are we going to just use the node version as the new renamed thing after we review it? I closed this because I thought the renaming thing will take care of this automatically.

[2017-02-16 15:19] warpech commented on #116
Last published version is PuppetJs 2.4.0.

I think the best is to ship the next version as Palindrom 3.0.0, which includes the Node environment support. @alshakero, @tomalec do you agree?

This issue should not be closed without a word, even though it will be fixed with some other change. The proper way is to update this issue with commentary how it will be solved and close the issue once it was s

[2017-02-16 15:26] alshakero commented on #116
Totally agree.

Got it.

[2017-02-20 16:25] alshakero commented on #116
@warpech Is there any road map or something I could do about this? I think I can kick start the issue by pushing Palindrome to a branch here? WDYT?

[2017-02-21 10:44] warpech commented on #116
@tomalec please suggest the way forward, as you are the main reviewer.

[2017-02-22 12:16] tomalec opened #118 "Rename to Palindrom"
As we finally decided on the new name here https://github.com/PuppetJs/PuppetJs/issues/83
Now, it's the time to proceed with it.

Here is what I propose:
1. [x] 1. Rename the organization to Palindrom
2. [x] 2. Create a branch in this repo that renames puppet in the code @alshakero Could you take care of it?
    - Add a new logo if we will agree on it by that time :)
3. [x] 3. Release last (patch)

[2017-02-22 12:16] tomalec commented on #83
New issue at https://github.com/PuppetJs/PuppetJs/issues/118

[2017-02-22 12:16] #83 closed

[2017-02-22 12:18] tomalec commented on #34
As we have finally agreed on new name https://github.com/PuppetJs/PuppetJs/issues/83, we can come back to the topic of logo.

Personally, I do like  https://github.com/PuppetJs/PuppetJs/issues/34#issuecomment-277638122 for the color palette, simplicity and overall good looking. However, if I could be picky, I'd say that there is nothing palindrome related in it ;)

[2017-02-22 14:27] alshakero commented on #118
Add a new logo if we will agree on it by that time :)

Sure, should I rename all the refs in the same current code? What about the [ported Node version](https://github.com/alshakero/Palindrom)?

[2017-02-22 15:34] tomalec commented on #118
Yes, in this codebase.
I would Node-ify it also in this repo, after the renaming

[2017-02-22 15:34] alshakero commented on #118
@tomalec great. On it.

[2017-02-23 13:57] alshakero commented on #118
[One is done](https://github.com/PuppetJs/PuppetJs/tree/rename-to-palindrom). All specs pass, and no regression in `lab` folder errors.

[2017-02-24 12:54] warpech commented on #34
Yes, maybe let's use some mirror looking font? Like

<img width="1418" alt="screen shot 2017-02-24 at 13 51 31" src="https://cloud.githubusercontent.com/assets/566463/23304129/6b663992-fa98-11e6-964c-667bf60213fd.png">

![image](https://cloud.githubusercontent.com/assets/566463/23304158/88741978-fa98-11e6-8493-6dad4ded4a4c.png)

![image](https://cloud.githubusercontent.com/assets/566463/23304188/b

[2017-02-24 13:08] alshakero commented on #34
![image](https://cloud.githubusercontent.com/assets/17054134/23304569/c545eba4-fa9a-11e6-95d8-1efa0e5e44ef.png)

[2017-02-24 13:19] warpech commented on #34
L and N look weird to me, but otherwise it is very interesting

[2017-02-24 13:20] warpech commented on #34
Maybe make few letters look normal, as M. And keep just few letters mirrored?

[2017-02-24 13:22] alshakero commented on #34
I was thinking maybe just use the O. It looks cool alone, I'll propose a couple in couple minutes.

[2017-02-24 13:38] alshakero commented on #34
![image](https://cloud.githubusercontent.com/assets/17054134/23305375/cacd3c5e-fa9e-11e6-9a54-4c62c7fca183.png)

![image](https://cloud.githubusercontent.com/assets/17054134/23305398/e4c857d8-fa9e-11e6-9d37-8b74392bd596.png)

[2017-02-24 13:40] alshakero commented on #34
This will look a little better when I vectorize it.

[2017-02-24 13:44] Joltrix commented on #34
Yeah! just have it like: PALINDROOM (and only use that double O) and have the rest of the letters normal?

cause my first impressions of this is: "too much" and the P and D are quite hard to read, but maybe that's just me xD

[2017-02-24 13:44] warpech commented on #34
Same here, can you try to make P, D, R normal?

[2017-02-24 14:01] alshakero commented on #34
![image](https://cloud.githubusercontent.com/assets/17054134/23306087/0ce29564-faa2-11e6-96b1-e4359aae3df0.png)

[2017-02-24 14:03] alshakero commented on #34
Small logo when next to normal text
![image](https://cloud.githubusercontent.com/assets/17054134/23306134/560b5618-faa2-11e6-8010-079c7747f663.png)

[2017-02-24 14:11] warpech commented on #34
I like both, but they could use more color :)

[2017-02-24 14:15] Joltrix commented on #34
Yeah! I also like both! :D I wonder if it would look better, if (in the first picture, with the black background), switched the background color, and the font color,

and perhaps switch the font a bit as well?

Cause: Most of the letters are very.. "straight", for example "A L I M" and even the R and D have "more straight lines", while P looks really "curvy",

so, maybe a font where all the letter

[2017-02-24 14:23] tomalec commented on #34
I like to look of double O in https://github.com/PuppetJs/PuppetJs/issues/34#issuecomment-282298179 especially that it looks like an optical illusion of a cylinder skewed right and left at the same time, which is perfectly aligned with what we does

[2017-02-24 14:26] alshakero commented on #34
@Joltrix the issue it isn't a font, it's a collection of drawn things. That's why I don't really like it. Isn't 100% neat. Needs a bit perfecting. I'll put some real work and come back with something isn't sketchy.

[2017-02-24 14:27] Joltrix commented on #34
I hadn't even thought of that until you mentioned it! But you're right! I suddenly like it more haha

[2017-02-24 14:36] alshakero commented on #34
Light

![image](https://cloud.githubusercontent.com/assets/17054134/23307206/06a9f368-faa7-11e6-875a-b938ccd3e9ee.png)

Dark
![image](https://cloud.githubusercontent.com/assets/17054134/23307199/fdbc4274-faa6-11e6-8138-d8509ea4f03c.png)

[2017-02-24 14:41] alshakero commented on #34
A bit harder color:
![image](https://cloud.githubusercontent.com/assets/17054134/23307393/ab4995b8-faa7-11e6-880d-e39d6b0a4335.png)

[2017-02-24 14:44] Mackiovello commented on #34
The bright one with the harder color is really neat! Nice job @alshakero

[2017-02-24 14:45] alshakero commented on #34
@Mackiovello thanks a lot, I like it the most too!

[2017-02-24 14:49] alshakero commented on #34
Vote:

![image](https://cloud.githubusercontent.com/assets/17054134/23307710/ccc5f10e-faa8-11e6-9a31-e532b8053b88.png)

[2017-02-24 14:49] alshakero commented on #34
![image](https://cloud.githubusercontent.com/assets/17054134/23307729/dd3d62f6-faa8-11e6-9a7d-a4be0327eaf9.png)

[2017-03-01 15:23] tomalec commented on #117
@miyconst, @warpech do you think we can push it to 2.3 and demand apps to adjust? if so @alshakero  could join it with Palindrom renaming at 3.0.0

[2017-03-01 15:25] alshakero commented on #117
@tomalec sure, I think we should at least warn about it in Palindrom 3.0.0.

[2017-03-01 15:31] alshakero opened #121 "Totally remove onRemoteChange"
I don't really understand the reason of removing it TBH, but it's been deprecated for at least three months. Should I remove it and keep `patch-applied` event only in Palindrome 3.0.0?

cc @tomalec @warpech

[2017-03-02 10:28] tomalec commented on #117
Definitely warning is a good idea. However, unless Marcin or Konstantin will have something against by the end of day today, I would go with pushing it to 3.0.0. So, we would require `remoteUrl` and throw an error if it was not given.

[2017-03-02 12:41] warpech commented on #121
We want people to upgrade to Palindrom 3.0.0 without really noticing it, so I would try to keep as much backwards compatibility as possible.

I would prefer us to remove deprecated features when things get stable, maybe few months from now.

[2017-03-02 12:45] warpech commented on #117
I think that we can totally require `remoteUrl` and throw an error if it was not given.

Adapting to it is easy for our users, because it fails instantly.

[2017-03-02 12:46] warpech commented on #121
Rationale: adapting to it is not easy for our users, because their apps would not fail instantly.

[2017-03-02 12:46] alshakero commented on #117
@warpech and they can simply pass `window.location.href` if they need.

[2017-03-02 12:55] warpech commented on #117
Exactly.

[2017-03-07 09:51] alshakero commented on #118
@tomalec will Palindrom 3.0.0 use proxies?

[2017-03-10 16:01] tomalec commented on #34
It seems we can finally close this issue :)

[2017-03-10 16:01] #34 closed

[2017-03-20 11:03] alshakero commented on #116
@tomalec @warpech to make the next PR smaller. I suggest to Nodify Palindrom assuming URL class and XHR functions exist. In other words, it will be a good Node module that is only good to be bundled to run only in browser apps, initially.

This is a transition step to minimize the logic change and make sure it's Node friendly.

When done with this, I'll migrate to Node's URL lib to resolve, and Ax

[2017-03-22 13:30] warpech commented on #121
I have looked into it and yes, `onRemoteChange` is deprecated since 2.0.0 (https://github.com/Palindrom/Palindrom/commit/f36b534fd4c6f5a2aff71bf5a4dc3f8a314b0e13).

@joozek78 do you remember the exact reason?

The spirit of that deprecation was to go towards DOM Events way. But maybe that was wrong? Palindrom is not DOM-aware, therefore it needs to mock EventEmitter. Maybe we should simplify that

[2017-03-22 13:32] warpech opened #128 "Breaking changes and deprecations in Palindrom 3.0.0"
A new major number (3.0.0) gives us a chance to deprecate or remove already deprecated APIs.

The breaking changes that we have we already made:

1. `remoteUrl` is now required as the input parameter (https://github.com/Palindrom/Palindrom/issues/117)
2. `ignoreAdd` (https://github.com/Palindrom/Palindrom/issues/35, https://github.com/Palindrom/Palindrom/issues/82) - removed in Palindrom 3.0.0

An

[2017-03-22 14:25] joozek78 commented on #121
I think the reason was simply not to duplicate the functionality of events

On Wed, 22 Mar 2017 at 14:30 Marcin Warpechowski <notifications@github.com>
wrote:

[2017-03-22 14:58] alshakero commented on #121
I'd really like it if we got rid of the EventEmitter. It's needless except for this `patch-applied`.

[2017-03-22 15:18] joozek78 commented on #121
![image](https://cloud.githubusercontent.com/assets/6013217/24205241/1f25d3ca-0f1b-11e7-8e00-c737b1bf6c5a.png)

[2017-03-22 15:22] alshakero commented on #121
@joozek78 haha, I just come from the principle that the best code is no code. The more you remove code the better the quality. Given no feature is sacrificed.

[2017-03-22 15:26] joozek78 commented on #121
I agree, if you only removed code and didn't break anything, then your
change is (most probably) pure goodness

On Wed, 22 Mar 2017 at 16:22 Omar Alshaker <notifications@github.com> wrote:

[2017-03-22 15:32] alshakero commented on #128
`puppet-redirect-url` event will be deprecated too.

[2017-03-22 16:18] warpech commented on #121
I think that `starcounter-debug-aid` might be listening to the events emitted by Palindrom.

We would need to change that somehow (maybe emit the events from PalindromDom)?

[2017-03-22 16:19] warpech commented on #128
@malx122 are you still using `ignoreAdd` big time in your projects?

[2017-03-22 19:56] alshakero commented on #121
There is no big difference, but that would be definetly cleaner.

[2017-03-23 09:28] warpech commented on #121
Actually emitting the events from PalindromDom does not fix the bad design that we have (introduced by me, I admit). Plain JS objects cannot trigger DOM events, which is why the lines https://github.com/Palindrom/Palindrom/blob/37aef7730cc17ce3f630782032381905f467d96f/src/palindrom.js#L23-L85 are used.

I would be very happy to remove that and stick to callbacks.

[2017-04-04 15:09] tomalec opened #131 "README notes after proxification"
There is still a section in readme [Generating patches based on local changes](https://github.com/Palindrom/Palindrom#generating-patches-based-on-local-changes) which describes event trick not needed any longer.

[2017-04-04 15:11] tomalec commented on #128
Flow was changed thanks to proxification, so now we will send patch after each change, no more unpredictable batching. (some users might rely on that glitch)

[2017-04-04 15:21] alshakero commented on #131
@tomalec should I push this change to the same PR? or wait for merging? I think I should do in the same since I modified README already.

[2017-04-04 15:25] alshakero commented on #128
@tomalec one thing I'm worried about is looping now. When you do this:

[code]
a patch will be sent to the server with every loop in a blocking manner.

[2017-04-04 15:35] tomalec commented on #131
I'd say to add it in the same PR when you added Proxies

[2017-04-04 15:38] tomalec commented on #128
Should we introduce transactions to Palindrom :godmode: ?

[2017-04-04 15:39] tomalec commented on #128
https://github.com/Palindrom/Palindrom/issues/29

[2017-04-04 15:42] alshakero commented on #128
@tomalec I think all we need is two callbacks `beginTransaction` and `endTransaction`. Fairly easy to implement in JSONPatcherProxy.

[2017-04-04 15:47] tomalec commented on #128
what about rollback?
I thought about something closer to what we have on server-side:
[code]

[2017-04-04 15:49] alshakero commented on #128
@tomalec sorrry, I deleted my comment to move it there.

[2017-04-04 15:50] alshakero commented on #128
@tomalec your solution is perfect IMO.

[2017-04-04 15:51] tomalec commented on #29
https://github.com/Palindrom/Palindrom/issues/128#issuecomment-291535681 shows that we need it at the same time we have release proxies.

I thought about something closer to what we have on server-side:
[code]

[2017-04-04 16:52] miyconst commented on #128
@alshakero although your solution might bring a performance problem by sending many patches with small changes, I don't think we should focus on it now.

If an app has client side logic, in this case loop through array of data and do something, then it is poorly designed.

Such actions should be performed on server side. And client should trigger the action only.

---

It is nice to have transacti

[2017-04-05 09:06] alshakero commented on #128
100% agree. I think it's better to release as smoothly as possible with the least potential of introducing bugs. And then maybe enhance.

[2017-04-06 11:33] warpech commented on #128
I agree with @miyconst. Only testing will show if  https://github.com/Palindrom/Palindrom/issues/128#issuecomment-291535681 is really a problem, or just a quirk. Anyway, it is very good to mention this in the release notes.

[2017-04-06 11:35] warpech commented on #29
I am afraid that if the data change is performed asynchronously by some framework, we might be not possible to wrap changes in a function. Maybe we also should provide a flattened version - `palindrom.batchStart`, `palindrom.batchEnd`.

Also, how do you obtain the `palindrom` instance? Do you get there reference from `juicy-html`?

[2017-04-06 12:49] alshakero commented on #29
@warpech that's was my preliminary idea. I also have another idea that can be the best but might force me re-do the tests 😢

Since until today, we assume that jsonpatch is async, we can leverage this assumption and make proxies async too.

Instead of calling the callback instantly when a change occurs. We do this:

[code]

And by this, we wait for any blocking changes to happen and then emit.

[2017-04-06 14:21] tomalec commented on #29
If data changes are done via automagic framework, it will behave as usual - send patch for each change.
If developer would like to do some advanced binding he/she would have to do it manually.
As such batched changes may also apply to data-binding framework, and each framework may support (or not) it in different manner.

Via `document.querySelector('puppet-client');`

[2017-04-06 14:22] tomalec commented on #29
I would really like to get away of unnecessarily complicated flows.

[2017-04-06 15:49] warpech commented on #29
I was thinking about this kind of throttling too, but let's try to avoid this unless forced to. One thing that I will dislike for sure - I don't want Palindrom to be sometimes sync, sometimes async. It should be consistent in that manner.

[2017-04-11 08:30] alshakero opened #132 "Edge tests on SauceLabs"
TL;DR: Upvote this idea: https://saucelabs.ideas.aha.io/ideas/SLIDEA-I-302

Apparently, Edge fails to parse `webcomponents.js` file on Edge on a certain version of Windows 10. Updating the OS fixes the issue. Unfortunately, SauceLabs uses that very version of Windows 10. I contacted them last week asking for an update and they responded now. I created this issue to post updates here for archiving

[2017-04-11 09:13] alshakero commented on #121
Closing as settled to removing events and sticking to callbacks.

As for `starcounter-debug-aid`, it won't be affected at all. Because it [uses `palindrom-polymer-client` events](https://github.com/Starcounter/starcounter-debug-aid/blob/master/src/puppet-js-listener.js#L80-L128). Not PalindromDOM's.

[2017-04-11 09:13] #121 closed

[2017-04-18 15:29] warpech commented on #117
This can be closed when the changes in README.md are finished. See the comments in https://github.com/Palindrom/Palindrom/commit/61ef7ef28aa369f280c154e476ac615e15b7049e

[2017-04-18 15:31] warpech commented on #132
Upvoted.

Do you have any idea what is the EdgeHTML version in their current images? I have just updated to Windows 10 Creator Update on my system.

[2017-04-20 11:30] warpech commented on #49
@alshakero how is this presented now, since `remoteUrl` is required?

[2017-04-25 09:24] alshakero commented on #49
@warpech I've never seen this issue. It's very important.

I'm still not happy with the way Palindrom deals with URLs. The current scenario is:

1. Remote URL is given and is **only** used for HTTP initial request. Even if it was the correct session URL, WebSocket will not upgrade until the HTTP response is received.
2. The response comes with a `Location` header that Palindrom uses to start a Web

[2017-04-25 10:20] warpech commented on #49
Remote URL is needed to (1) obtain the state of the session `application/json` as well as to send (2) HTTP Patch `application/json-patch+json` changes to it. WebSocket is just an upgrade to the part (2).

So I would not call it "mostly useless", I would call it "fundamental". Let's have a chat on HO if you please.

[2017-04-25 11:40] alshakero commented on #49
@warpech, Of course, Remote URL is important. I just mean that in effect we are only using the one in `Location` header.

[2017-04-25 11:41] alshakero commented on #49
@warpech I am ready for HO anytime today.

[2017-04-25 14:59] warpech commented on #49
We decided on HO that this issue is no longer relevant since now ~`referer`~ `removeUrl` parameter is required.

[2017-04-25 14:59] #49 closed

[2017-04-26 15:24] tomalec commented on #105
Done as part of https://github.com/Palindrom/Palindrom/pull/130

[2017-04-26 15:24] #105 closed

[2017-04-26 15:25] alshakero commented on #105
@tomalec this is a beautiful close 🎊

[2017-04-27 08:06] alshakero commented on #115
This is done right?

[2017-04-27 10:41] tomalec commented on #115
What about
- angularjs
- polymer_fancy_binding
- polymer_ot
?

[2017-04-27 10:44] alshakero commented on #115
Are we really going to waste our time on Angularjs? Angular 2 is dying and they released 4 already.

I think React and Vue are better investments.

[2017-04-27 10:53] tomalec commented on #115
fair point. Speaking of polymer maybe it's better to wait for 2.0 to test border cases and fancy bindings.

Then I'd remove Angular demo completely, add some message at demo pages or create an issue for polymer_fancy_binding & polymer_ot that we will renew it with 2.0

[2017-04-27 15:45] alshakero commented on #131
This is done. Can I close?

[2017-04-27 15:47] alshakero commented on #117
Done and now is [in README ](https://github.com/Palindrom/Palindrom#options-palindrom-constructor-parameters). Closable right?

[2017-04-27 16:01] tomalec commented on #117
:+1: from me

[2017-04-27 16:02] #131 closed

[2017-04-27 16:27] alshakero commented on #132
@warpech Here is  a screen shot from SauceLabs machine
![image](https://cloud.githubusercontent.com/assets/17054134/25493603/1196cab6-2b77-11e7-89b8-32b25f12712d.png)

And I don't think there is a need tbh.

[2017-04-28 12:02] warpech commented on #117
Closing as done

[2017-04-28 12:02] #117 closed

[2017-05-03 14:22] alshakero commented on #115
http://palindrom.github.io/Palindrom/lab/index.html

[2017-05-05 11:13] alshakero opened #133 "Remove `options.obj` from API"
Currently, we pass an object `obj` reference in `options` to the constructor. And we used that reference everywhere all the time, inside Palindrom and outside. Because all that `jsonpatch` needed to observe was an object reference.

But now as we are moving towards proxies, they rendered that reference useless, because they dictate using the new Proxy object reference to be able to track its chang

[2017-05-08 16:11] alshakero opened #134 "Removed objects continue to emit patches when modified"
Moving to proxies turns out to has much more to it.

Consider:

[code]
And now:
[code]
But `childProxy` is still proxified, and modifying it sends patches to the server.

There are two solutions (I implemented the first already because I thought there wasn't any others):

1. Modify `JSONPatcherProxy` to use [`Proxy.revokable`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Globa

[2017-05-09 13:35] warpech commented on #134
My favourite answer would be (3): leave it up to GC.

How could anyone modify `childProxy` after it was removed from `parentProxy`?

The operation that created the patch `jsonpatch.apply(parentProxy, { op: 'remove', path: '/child' });` should simultaneously remove the Polymer bindings to the `child`, so `childProxy` should become GC-able.

Could you pls create a demo page for the problem?

[2017-05-09 13:42] alshakero commented on #134
@warpech Can you look at this spec? It illustrates the issue quite clearly. It doesn't pass with Proxies.

https://github.com/Palindrom/palindrom-polymer-client/blob/master/test/d-b-n_smoke/arrays.html#L355

[2017-05-09 14:02] warpech commented on #134
It appears that `revocable` is the way to go. In normal conditions, you need to make sure you are not modifying a removed object. It is very good that attempting that will result in an error.

Can you please make a PR to discuss the implementation details?

[2017-05-09 14:08] alshakero commented on #134
@warpech done.

[2017-05-09 14:18] warpech commented on #134
Link to the PR: https://github.com/Palindrom/JSONPatcherProxy/pull/4

[2017-05-09 14:31] alshakero commented on #134
@warpech thanks, sorry for not linking it.

[2017-05-31 11:00] alshakero opened #136 "Deperecate `ignoreAdd` then remove it"
Due to the buggy behaviour and avoidable use cases,  `ignoreAdd` will be removed from Palindrom 3.0.0.

As for the next PuppetJS 2.5. `ignoreAdd` will warn every time it is accessed. And will also warn everytime a value is actually ignored in runtime.

This will allow developers to track every usage and remove it gradually before Palindrom 3.0.0 is shipped.

/cc @warpech  @tomalec

[2017-05-31 11:05] warpech commented on #136
To make sure that `ignoreAdd` functionality can be achieved on Polymer level, provide https://github.com/StarcounterApps/KitchenSink/issues/135 that does not trigger warnings in PuppetJS 2.5

[2017-06-09 13:32] alshakero commented on #116
Closing as done long time ago.

[2017-06-09 13:32] #116 closed

[2017-06-09 14:52] alshakero commented on #133
Implimented in https://github.com/Palindrom/Palindrom/pull/135

[2017-06-09 14:52] #133 closed

[2017-06-09 14:53] alshakero commented on #134
Fixed in https://github.com/Palindrom/JSONPatcherProxy/pull/4

[2017-06-09 14:53] #134 closed

[2017-06-09 14:54] alshakero commented on #114
Closing as fixed using [thoov/mock-socket](https://github.com/thoov/mock-socket).

[2017-06-09 14:54] #114 closed

[2017-06-09 14:55] alshakero commented on #103
Closing as solved in https://github.com/Palindrom/Palindrom/pull/130.

[2017-06-09 14:55] #103 closed

[2017-06-20 19:54] warpech commented on #136
I was quite surprised to see that after releasing Puppet 2.5.0, the warning `puppet.js:585 Puppet: ignoreAdd is deprecated and will be removed soon.` started to appear in all Starcounter apps.

Turns out that `ignoreAdd` is enabled by default in `palindrom-client`: https://github.com/Palindrom/palindrom-polymer-client/blob/04716b9620bd0f7786a23e356e3634aa702508f7/palindrom-client.html#L79

Luckily

[2017-06-21 07:55] alshakero commented on #136
Should I patch the current `palindrom-client` for the meantime?

[2017-06-23 10:47] warpech commented on #136
I don't think this is necessary, since:

Or do you think patching `palindrom-client` should give any improvement for the developer's experience?

[2017-06-23 10:48] alshakero commented on #136
@warpech well yes, current warning is crying wolf :(

[2017-06-23 10:54] alshakero commented on #136
@warpech but I agree. Those who don't use it won't care, and the ones that do will take notice :D

[2017-06-26 21:24] warpech commented on #70
Recently I like to take inspiration from Turbolinks (see: https://github.com/StarcounterApps/KitchenSink/issues/144#issuecomment-311184846)

What they do is hijack all links in the same domain. To opt-out, use `data-turbolinks="false"` (see https://github.com/turbolinks/turbolinks#disabling-turbolinks-on-specific-links).

Our initial proposal was opt-out, too. Potential attributes:

- `data-palind

[2017-06-26 21:51] alshakero commented on #70
+1 for `rel="external"`.

`data-palindrom` is long, locks 'palindrom' name, has a brand in it, and doesn't convey what it does.

`rel="external"` is perfect IMO.

[2017-06-27 06:26] warpech commented on #70
@tomalec what's your feeling towards `rel="external"`? I know it is a standarised attribute, maybe its wrong to give it a special meaning in Palindrom?

[2017-07-03 14:14] alshakero commented on #104
This is long closable right?

[2017-07-05 14:53] warpech commented on #136
This issue seems done, can it be closed?

[2017-07-05 14:54] alshakero commented on #136
Yes sir it can. Closing as done in https://github.com/Palindrom/Palindrom/pull/138.

[2017-07-05 14:54] #136 closed

[2017-07-05 14:57] warpech commented on #104
I think so, in my "cc @alshakero" I counted on you picking up the relation between this issue and https://github.com/Palindrom/Palindrom/pull/130.

So where are we? The purpose of this issue expressed in the OP was to enable testing Palindrom in CLI without Selenium.

Currently tests are migrated to Mocha, but what about PalindromDom and WCT?

[2017-07-05 15:10] alshakero commented on #104
Does WCT run in CLI without Selenium? 😮

[2017-07-12 15:12] alshakero opened #140 "PalindromDOM: Navigation should scroll smarterly"
All details here https://github.com/StarcounterApps/KitchenSink/issues/144

[2017-07-24 12:59] alshakero opened #142 "Cleaner alternative for `ignoreAdd`"
We still have[ `filterChangedCallback`](https://github.com/Palindrom/Palindrom/blob/master/src/palindrom.js#L678-L692) that is pretty much doing nothing after we removed `ignoreAdd`.

I was thinking of introducing a clean filtering mechanism. Because day by day the need is proving to be there.

We currently have:
[code]

And I suggest we do this:

[code]
Where filter is simply `var filter = patch

[2017-07-24 15:26] alshakero commented on #132
Sauce finally updated their machines and now Web Components work and our tests are passing. However , they have another new issue and I reported it. They're usually super responsive.

Here:

[2017-07-24 15:41] alshakero commented on #132
They responded with a working solution 💃

[2017-07-24 15:46] alshakero commented on #132
Closing as fixed in https://github.com/Palindrom/Palindrom/pull/143

[2017-07-24 15:46] #132 closed

[2017-07-25 07:51] warpech commented on #132
:O

[2017-07-25 07:52] warpech commented on #142
Yes, that looks much cleaner. Dare you prepare a benchmark to show the performance overheads? :)

[2017-07-25 08:00] alshakero commented on #142
@warpech haha sure. On it. Should I compare against old `ignoredAdd` or against the current state? Becuase there isn't any difference with the current state, we're calling a middleware function redundantly anyways.

[2017-07-25 08:25] warpech commented on #142
No no, I just mean compare the callback pattern vs the filtering function pattern, without our particular context of use.

[2017-07-25 08:35] alshakero commented on #132
IKR! It would never cross my mind. If you're curious they give me [this link](Palindrom) for more info.

[2017-07-25 11:36] tomalec commented on #142
I really like it. It requires little bit programmatic approach. But in that case I don't see it as a big down side. Also, it's waaay more obvious and explicit on how it works and how to use it :)

[2017-07-25 12:16] alshakero commented on #142
@warpech Thanks for the Slack explanation, it just hit me that we don't need to benchmark `Array.filter` or anything as it isn't our responsibility. If we are to offer a monkey-patchable `Palindrom.filter`.

Inside Palindrom we'll just have `filter = patch => patch`. We're not going to filter anything. But people could monkey patch `filter` with their own logic, they might use `Array.filter`, muta

[2017-07-25 12:36] alshakero commented on #118
Closing as all done.

[2017-07-25 12:36] #118 closed

[2017-07-25 12:40] alshakero commented on #91
Is this covered by `onStateReset`?